<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<!-- 공통 헤더-->
	<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>

<body class="h-100">
	<!-- 공통 nav -->
	
	<div class="bodiary-wrapper">
    
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <div class="login-form-bg h-100">
        <div class="container h-100">
            <div class="row justify-content-center h-100">
                <div class="col-xl-6">
                    <div class="form-input-content">
                        <div class="card login-form mb-0 mt-2">
                            <div class="card-body pt-5">
                                <a href="main"> 
                                <div class="m-auto" style="width:120px;">
                                <svg id="logo" data-name="레이어 1"
							xmlns="http://www.w3.org/2000/svg" viewBox="0 0 143.54 44.58">
							
							<path class="e14e0707-9bcf-481e-a30f-8f65521a1916"
								d="M15.94,4.68a.38.38,0,0,1,.42.46l-2,9.37h.27c3.56,0,6.42-3.88,6.42-7.22,0-2.54-1.65-4.82-5.89-4.82C10,2.47,4,6,4,13.3a6.37,6.37,0,0,0,.62,3c-2.94,0-4.77-1.12-4.77-4.11C-.11,6.08,7.65.42,16.07.42c6.56,0,9.5,3.43,9.5,7.09a8.39,8.39,0,0,1-4.46,7.09c3.79.75,5.26,3.83,5.26,7.17,0,4.28-2.32,12.84-9.76,12.84-1.92,0-4.42-.58-4.42-3.3a7.21,7.21,0,0,1,.58-2.58,4,4,0,0,0,3,1.6c3.25,0,4.41-4.63,4.41-8,0-3.12-1-5.66-4.23-5.66-.36,0-1.25,0-2,.13L11.21,29.31a5.76,5.76,0,0,1-5.62,4.55H4.31a.4.4,0,0,1-.39-.49L8.6,11.49a8.7,8.7,0,0,1,7.34-6.81Z"
								transform="translate(0.11 -0.42)" />
							<path class="e14e0707-9bcf-481e-a30f-8f65521a1916"
								d="M45.23,18.3a1,1,0,0,0,.49.09c2.05,0,4.94-1.34,6.86-2.68l.4,1.21a14.13,14.13,0,0,1-7.89,3.7C44.38,28.86,39.92,34,34.44,34c-4.15,0-7.13-2-7.13-7s3-15.83,12.21-15.83C43.35,11.16,45.23,13.62,45.23,18.3Zm-3.84,2.45c-.93-.22-1.2-1-1.2-1.87a2.46,2.46,0,0,1,1.38-2.41c-.09-1.87-.53-2.59-1.69-2.59C36.71,13.88,34,22,34,26.41c0,2.94.58,3.61,2.27,3.61C38.41,30,40.68,26,41.39,20.75Z"
								transform="translate(0.11 -0.42)" />
							<path class="e14e0707-9bcf-481e-a30f-8f65521a1916"
								d="M70.22,2.73a.38.38,0,0,1,.43.47l-5,23.52v0a2.5,2.5,0,0,0,2.13,3c1.9.21,3.21-1.55,3.91-3.9h1.87c-2.54,7.26-6.86,8-9.27,8S59.7,32.79,59.45,30c-1.34,2.05-3.44,4.1-6.6,4.1S46.92,32.25,46.92,27c0-6,3.7-15.61,11.46-15.61,2.54,0,3.61,1,3.61,2.28v.17l.91-4.28a8.66,8.66,0,0,1,7.32-6.78ZM59.4,25.88l2.19-10.21a1.77,1.77,0,0,0-1.83-1.56c-3.79,0-6.24,8-6.24,12.21,0,3.43,1.42,3.48,2.23,3.48,1.24,0,3.07-1.25,3.65-3.7Z"
								transform="translate(0.11 -0.42)" />
							<path class="e14e0707-9bcf-481e-a30f-8f65521a1916"
								d="M80.41,11.57,77.2,26.72c0,.09,0,.17,0,.25a2.34,2.34,0,0,0,2.18,2.83c1.74,0,3.36-1.69,4-3.92h1.87c-2.54,7.26-6.58,8.24-9,8.24-2.67,0-4.88-1.6-4.88-5.35a14.86,14.86,0,0,1,.36-2.89l3-14.31Zm1.16-1.46H74.65a1.67,1.67,0,0,1-1.64-2l0-.16a1.86,1.86,0,0,1,1.83-1.48h7.05a1.68,1.68,0,0,1,1.65,2h0A2.06,2.06,0,0,1,81.57,10.11Zm-.44-4.95H76.41l.15-.72a1.1,1.1,0,0,1,1.07-.87h3a.68.68,0,0,1,.66.82Z"
								transform="translate(0.11 -0.42)" />
							<path class="e14e0707-9bcf-481e-a30f-8f65521a1916"
								d="M103.73,11.57a.38.38,0,0,1,.37.46L101,26.72a6.72,6.72,0,0,0-.18,1.33,1.92,1.92,0,0,0,1.84,2c1.73,0,2.93-2,3.6-4.19h1.87c-2.54,7.26-6.55,8.24-9,8.24S95.06,32.7,94.8,30c-1.39,2.05-3.48,4.1-6.65,4.1S82.23,32.25,82.23,27c0-6,3.69-15.61,11.45-15.61,2.54,0,3.61,1,3.61,2.28v.31h0a3,3,0,0,1,2.9-2.36ZM88.82,26.32c0,3.43,1.43,3.48,2.23,3.48,1.29,0,3.17-1.34,3.7-3.92L96.89,15.8a1.73,1.73,0,0,0-1.83-1.69C91.27,14.11,88.82,22.13,88.82,26.32Z"
								transform="translate(0.11 -0.42)" />
							<path class="e14e0707-9bcf-481e-a30f-8f65521a1916"
								d="M115.23,11.57a.38.38,0,0,1,.37.46l-.48,2.3c1.56-1.34,3.26-2.76,5.4-2.76a3.11,3.11,0,0,1,3.07,3.34,3.11,3.11,0,0,1-3.21,3.25c-2.49,0-1.25-2.94-2.58-2.94s-2.14.67-3.26,1.7L111,33.86h-6.42l4.59-21.68a.77.77,0,0,1,.76-.61Z"
								transform="translate(0.11 -0.42)" />
							<path class="e14e0707-9bcf-481e-a30f-8f65521a1916"
								d="M132,11.57a.37.37,0,0,1,.36.44l-3.12,14.71a4.76,4.76,0,0,0-.13,1.12c0,1,.31,2,1.34,2,1.74,0,2.89-1.7,3.56-3.92l2.9-13.7a.77.77,0,0,1,.76-.61h5.39a.37.37,0,0,1,.36.44l-5.35,25.41C136.74,43.8,132.91,45,130,45a5,5,0,0,1-5.26-4.81c0-4.15,3.47-5.44,7.71-6.69l.44-2a6.88,6.88,0,0,1-5.43,2.58c-2.68,0-4.77-1.6-4.77-5.35a14.78,14.78,0,0,1,.35-2.89l2.9-13.7a.78.78,0,0,1,.76-.61ZM128.94,41c.89,0,2.05-.84,2.63-3.47l.54-2.63c-2.81.93-5,2.22-5,4.63A1.79,1.79,0,0,0,128.94,41Z"
								transform="translate(0.11 -0.42)" /></svg></div>
                                </a>
                                <!-- <span color="red" th:text="${session[SPRING_SECURITY_LAST_EXCEPTION]?.message}">Invalid credentials</span> -->
                                <form class="mt-5 mb-5 login-input"  method="post">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email" id="user_email" name="user_email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="Password" id="user_pwd" name="user_pwd">
                                    </div>
                                    <!-- 로그인실패시 출력.ModelMap으로 담아 키값으로 바로 꺼내기 가능 -->
							      <div id="" th:text="${errormsg}" class="pt-2 pb-3" style="color:red;"></div>
                                    <button class="submit btn login-form__btn w-100">로그인 하기</button>
                                </form>
                                <hr>
<!--                                     <button class="btn login-form__btn submit w-100 mb-3 "><span class="s-icon"><i class="fa fa-google"></i>구글로그인</span></button> -->
<!--                                     <button class="btn login-form__btn submit w-100">카카오 로그인과..</button> -->
                                    <!-- 네이버 로그인 창으로 이동 -->
<!-- 									<div id="naver_id_login" style="text-align:center"></div> -->
									<script type="text/javascript">
// 									  	var naver_id_login = new naver_id_login("AYWBY1dmBWBJwgS4UqNE", "http://localhost:8090/bodiary/nCallback");
// 									  	var state = naver_id_login.getUniqState();
// 									  	naver_id_login.setButton("white", 2,40);
// 									  	naver_id_login.setDomain("http://localhost:8090/bodiary/login");
// 									  	naver_id_login.setState(state);
									  	/* naver_id_login.setPopup(); */
// 									  	naver_id_login.init_naver_id_login();
								  	</script>
								  	<div id="naver_id_login" style="text-align:center"><a th:href="${url}">
										<img width="224" src="https://developers.naver.com/doc/review_201802/CK_bEFnWMeEBjXpQ5o8N_20180202_7aot50.png"/></a>
									</div>
                                <p class="mt-5 login-form__footer">아직 회원이 아니신가요? <a href="register" class="text-primary">회원가입</a>을 통해 바디어리를 함께하세요!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- 기본 폼 완성 -->
	</div>
	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
</body>
</html>