<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>

<body>
	<!-- 공통 nav -->
	<!-- <th:block th:replace="common/nav :: navFragment"></th:block> -->
	<!-- 공통 sidenav -->
	<div class="mt-3">
		<div class="content ml-3 mr-3 pb-4">
			<div class="fixed-top p-3" style="background-color:#F3F3F9;">
				<button type="button" class="btn btn-primary btn-lg w-100"
						data-toggle="modal" data-target="#roomMake">방만들기</button>
			</div>
			<div class="row pt-5" id="chatList">
				<div class="col-12 mb-4">
					<!-- Large modal -->
					<div id="roomMake" class="modal fade bd-example-modal-lg" tabindex="-1"
						role="dialog" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">
										<span>&times;</span>
									</button>
								</div>
								<div class="modal-body p-4">
									<form method="POST" action="createChatRoom">
										<label for="chat_title">채팅방 타이틀</label> 
										<input id="room_title" name="room_title" type="text" class="form-control input-lg w-100" placeholder="몇 자 내로 작성하세요"> 
											<label for="chat_people" class="mt-3">채팅 인원수</label> 
											<input id="room_count" name="room_count" placeholder="2명에서 10명까지만 가능합니다." class="form-control" onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)'>
										<div class="row mt-3">
											<div class="col-4">
												<label for="toggle-secret">비공개 여부</label><br> <label class="switch"> 
												<input id="room_secret" name="room_secret" type="checkbox"> <span class="slider round"></span>
												</label>
											</div>
											<div class="col secret-input-box"></div>
										</div>
									<div class="modal-footer">
									
									<button type="submit" class="btn btn-primary">방만들기</button>
								</div>
									</form>
								</div>
								
								
							</div>
						</div>
					</div>
					
					
					<!-- 비밀번호 모달 -->
						<div class="modal fade bd-example-modal-lg" id="pwdmodal" tabindex="-1" role="dialog" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">
										<span>&times;</span>
									</button>
								</div>
								<div class="modal-body p-4">
								<label for='secret-input'>비밀번호</label><input type="password" class='form-control' id='pwdChk' name='pwdChk' placeholder='네 자리의 숫자를 입력하세요' onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)'>
									<div class="modal-footer">
									
									<button type="button" onclick="pwdcheck();" class="btn btn-primary">입장하기</button>
								</div>
									
								</div>
								
								
							</div>
						</div>
					</div>
					
					
					
					
					
				</div>

				
		
			
		
			</div>
			<div class="center">
			<small>BODIARY</small>
			</div>
		</div>

	</div>
	<!-- 기본 폼 완성 -->
	<input type="hidden" id="user_email" th:value="${session.currentUser.user_email}">
	<input type="hidden" id="user_nickname" th:value="${session.currentUser.user_nickname}">
	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
	<script type="text/javascript">
		var user_email = $('#user_email').val();
		var user_nickname = $('#user_nickname').val();
		
		var roomnum = "";
		
		//비밀방 체크했을시 비밀번호 폼 생성
		$('#room_secret').change(function() {
			console.log($('input:checkbox[id="room_secret"]').val());

			a = "";
			if ($('#room_secret').is(':checked')) {
				a += "<label for='secret-input'>비밀번호</label><input class='form-control' type='password' id='room_pwd' name='room_pwd' placeholder='네 자리의 숫자를 입력하세요' onkeydown='return onlyNumber(event)' onkeyup='removeChar(event)'>"
				$('.secret-input-box').html(a);
			} else {
				$('.secret-input-box').html(a);
					}

			})

		//방 만들때 유효성 검증				
		 $('button:submit').click(function() {
			 let pwd = /^\d{4}$/;
			 
			
			 let count = Number($('#room_count').val());
			 
             if($('#room_title').val() == '') {
            	 alert("채팅방 이름을 입력해주세요.");
            	 return false;
             } else if($('#room_count').val() == '' || count < 2 || count > 10) {
            	 alert("채팅방 인원은 2명에서 10명 사이로 선택해주세요.");
            	 return false;
             } else if($('#room_secret').is(':checked')) {
            	 if($('#room_pwd').val() == '' || !pwd.test($('#room_pwd').val())) {
                	 alert("비밀번호는 4자리 숫자를 입력해주세요.");
                	 return false;
            	 }
             }		 
                
            });			 
						
						
		//페이지 시작 시 채팅방 불러오기
		$(function () {
			getChatList();
		})
		
		//채팅방 목록 불러오기
		
		/**
		* @함수명 : getChatList()
		* @작성일 : 2020. 7. 21.
		* @작성자 : 오주형
		* @설명 : 채팅방 리스트 불러오기
		**/
		function getChatList() {
			$.ajax({
	    		type:'POST',
	    		url: 'getChatList',
	    		success:function(data) {
	    			/* $('#endNum').val(data.length); */
	    			if(data.length == 0) {
	    				$('#chatList').append(
	    					'<div class="ml-4 mr-4">' +
	    					'<span style="font-size:34px;font-weight:300;">현재 개설된 <br>채팅방이 없습니다. <br>새롭게 채팅방을 개설해보세요!</span>'+
	    					'</div>'
	    				);
	    				return false;
	    			}
	    			
	    			$.each(data, function(index, obj) {
	    				var secret = "";
	    				var	button = '<button type="button" onclick="selectChatRoom('+obj.current_count+','+obj.room_count+','+obj.room_number+', '+"'"+''+obj.room_secret+''+"'"+')" class="btn btn-outline-primary btn-lg">입장하기</button>'; 
	    				
	    				if(obj.room_secret == 'Y') {
	    					secret = '<i class="icon-lock mt-2"></i>&nbsp;&nbsp;<small>비밀방</small>';
	    					button = '<button type="button" onclick="selectChatRoom('+obj.current_count+','+obj.room_count+','+obj.room_number+', '+"'"+''+obj.room_secret+''+"'"+')" class="btn btn-outline-primary btn-lg">입장하기</button>';
	    				}
	    				
	    				$('#chatList').append(
	    				'<div class="col-12 mb-4">'+
						'<div class="card border-primary" style="height: 120px;">'+
							
							'<div class="card-body row">'+
								'<div class="chat-title col pb-0">'+
									'<h2>'+obj.room_title+'</h2>'+
								'</div>'+
								'<div col-3>'+
									button+	
								'</div>'+
							'</div>'+
							'<div class="card-footer">'+
								'<div class="row">'+
								'<div class="col">'+
									'<i class="icon-people mt-2"></i>&nbsp;&nbsp;<small>'+obj.current_count+' / '+obj.room_count+'</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+
									secret+
								'</div>'+
								'<div class="col-4 text-primary" style="text-align:right; font-size:16px;">'+obj.user_nickname+'</div>'+
							'</div>'+
							'</div>'+
						'</div>'+
						'</div>'
    						
    					);
    				});
	    		}
	        });
		}
		
	
		/**
		* @함수명 : selectChatRoom(current_count, room_count, room_number, room_secret)
		* @작성일 : 2020. 7. 21.
		* @작성자 : 오주형
		* @설명 : 채팅방 입장하는 메소드
		* @param current_count - 현재 방 인원수 
				room_count - 최대 정원수  
				room_number - 방 번호
				room_secret - 비밀방 여부
		**/
		function selectChatRoom(current_count, room_count, room_number, room_secret) {
			if(current_count >= room_count) {
				alert("방이 가득 찼습니다.")
				return false;
			}else {
				if(room_secret === 'N') {
					location.href="selectChatRoomByRn?room_number="+room_number;
				}else {
					roomnum = room_number;
					$('#pwdmodal').modal('show');
				}
			}
			
			
		}
			
		
	
		/**
		* @함수명 : pwdcheck()
		* @작성일 : 2020. 7. 21.
		* @작성자 : 오주형
		* @설명 : 비밀방 입장 시 비밀번호 체크
		**/
		function pwdcheck() {
			let pwd = /^\d{4}$/;
			if(!pwd.test($('#pwdChk').val())) {
				 alert("비밀번호는 4자리 숫자를 입력해주세요.");
            	 return false;
			} 
			$.ajax({
				type:'POST',
				url: 'getRoomPwd',
				data:{'room_number' : roomnum},
				success:function(data){
					if(data == $('#pwdChk').val()) {
						swal("성공", "비밀번호가 맞았습니다.", "success");
						setTimeout(function() {
							location.href = "selectChatRoomByRn?room_number="+roomnum;
							}, 1000);
					} else {
						swal("실패", "비밀번호가 틀렸습니다.", "error");
					}
				}
		    });
		}
		
		
		//숫자만 입력가능
		
		/**
		* @함수명 : onlyNumber(event)
		* @작성일 : 2020. 7. 21.
		* @작성자 : 오주형
		* @설명 : 입력시 숫자만 입력가능하게 하는 메소드
		* @param event - 파라미터로 받는 이벤트 
		**/
		function onlyNumber(event){
            event = event || window.event;
            var keyID = (event.which) ? event.which : event.keyCode;
            if ( (keyID >= 48 && keyID <= 57) || (keyID >= 96 && keyID <= 105) || keyID == 8 || keyID == 46 || keyID == 37 || keyID == 39 ) 
                return;
            else
                return false;
        }
	
		
		/**
		* @함수명 : removeChar(event)
		* @작성일 : 2020. 7. 21.
		* @작성자 : 오주형
		* @설명 : 입력시 문자 제거해주는 메소드
		* @param event - 파라미터로 받는 이벤트 
		**/
        function removeChar(event) {
            event = event || window.event;
            var keyID = (event.which) ? event.which : event.keyCode;
            if ( keyID == 8 || keyID == 46 || keyID == 37 || keyID == 39 ) 
                return;
            else
                event.target.value = event.target.value.replace(/[^0-9]/g, "");
        }
			
		
		
		
		
		
		
		
	</script>
</body>
</html>