<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<!-- 공통 sidenav -->
	<div class="bodiary-wrapper">
		<div class="content mt-4">
			<div class="card">
				<div class="card-body p-5" th:if="${session.currentUser != null}" th:with="notice=${noticeDetail}">
					<div class="row">
						<div class="col-11">
							<h5><a th:if="${session.currentUser != null}" th:text="${notice.notice_brd_title}"></a></h5><br>
							<p class="font-italic">
								<span class="mdi mdi-calendar-edit"></span>&nbsp;<a th:if="${session.currentUser != null}" th:text="${notice.notice_brd_regdate}"></a><br>
								<span class="mdi mdi-eye"></span>&nbsp;<a th:if="${session.currentUser != null}" th:text="${notice.notice_brd_hit}"></a>
							</p>
							<hr>
							<div class="text mt-5">
								<a th:if="${session.currentUser != null}" th:utext="${notice.notice_brd_content}"></a>
							</div>							
						</div>
						<div sec:authorize="hasRole('ROLE_ADMIN')">
							<div class="col">
								<div class="user-img c-pointer position-relative" data-toggle="dropdown">
									<span class="activity active"></span>
									<i class="icon-options-vertical"></i>
								</div>
								<div class="basic-dropdown">
									<div class="dropdown-menu">
										<a class="dropdown-item" th:if="${session.currentUser != null}" th:href="@{noticeEdit(notice_brd_seq=${notice.notice_brd_seq})}">수정</a>
										<a class="dropdown-item" th:if="${session.currentUser != null}" th:href="@{noticeDelete(notice_brd_seq=${notice.notice_brd_seq})}">삭제</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div>
	        			<button type="button" class="btn mt-5 mb-1 btn-primary" style="float: right;" onclick="location.href='noticeList'">LIST</button>
			    	</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 기본 폼 완성 -->

	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
</body>
</html>