<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<!-- 공통 sidenav -->
	<div class="bodiary-wrapper">
		<div class="content mt-4">
		
			<div class="card card-body pt-1 pb-0 pl-4">
				<div class="row">
					<div class="col p-2">
						<h5 class="text">&nbsp;<span class="text-primary mdi mdi-checkbox-marked-outline"></span> 공지사항을 확인하세요</h5>
					</div>
				</div>
			</div>
			
			<!-- 게시판 start -->
			<div class="card card-body p-5">
				
								<div class="dropdown custom-dropdown text-right">
									<button type="button" class="btn btn-sm btn-outline-primary"
										data-toggle="dropdown">
										<span th:text="${pagination.pageSize} + 개씩"></span><i class="fa fa-angle-down m-l-5"></i>
									</button>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="noticeList?curPage=1&pageSize=5">5개씩</a>
										<a class="dropdown-item" href="noticeList?curPage=1&pageSize=10">10개씩</a> <a
											class="dropdown-item" href="noticeList?curPage=1&pageSize=15">15개씩</a> <a
											class="dropdown-item" href="noticeList?curPage=1&pageSize=20">20개씩</a>
									</div>
								</div>
				<div class="table-responsive mb-5">
					<table class="table table-hover">
						<thead>
							<tr>								
								<th width="10%"></th>
								<th width="55%">Title</th>
								<th width="25%">Date</th>
								<th width="10%">Hits</th>
							</tr>
						</thead>
						<tbody>
		                    <tr th:each="notice:${noticeList}">
		                        <td><a th:text="${notice.notice_brd_seq}"></a></td>
		                        <td><a th:href="@{noticeDetail(notice_brd_seq=${notice.notice_brd_seq})}" th:text="${notice.notice_brd_title}"></a></td>
		                        <td><a th:text="${notice.notice_brd_regdate}"></a></td>
		                        <td><a th:text="${notice.notice_brd_hit}"></a></td>
							</tr>
		                </tbody>
		            </table>
		        </div>
		        
		      
	        	
	        	<!-- 검색 start -->
				<!-- <div class="row justify-content-md-center">
					<div class="basic-form col-6">
						<form class="form-inline justify-content-center">
							<div class="dropdown custom-dropdown">
								<button type="button" class="btn btn-outline-primary" data-toggle="dropdown">제목&nbsp;<i class="fa fa-angle-down m-l-5"></i>	</button>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item" href="#">내용</a>
									<a class="dropdown-item" href="#">제목 + 내용</a>
								</div>
							</div>
							
							<div class="form-group mx-sm-3 mb-2">
								<input type="text" class="form-control input-default" placeholder="검색어를 입력해주세요" style="height:34px;">
							</div>
							
							<div>
								<button type="submit" class="btn btn-primary text-right mb-2">검색</button>
							</div>
						</form>
					</div>
				</div> -->
        		<!-- 검색 end -->
        		<div sec:authorize="hasRole('ROLE_ADMIN')">
        			<button type="button" class="btn mb-1 btn-outline-primary" style="margin-left: 0px; float: right;" onclick="location.href='noticeForm'">WRITE <span class="mdi mdi-pencil"></span></button>
		    	</div>
		    	
		    	   <!-- 페이지처리 start -->
		     <th:block th:if="${pagination.totalListCnt != 0}">
									<div class="bootstrap-pagination">
										<nav>
											<ul class="pagination justify-content-center">
												<li class="page-item" th:if="${pagination.block != 1}">
											      <a class="page-link" th:href="@{noticeList(curPage=1, pageSize=${pagination.pageSize})}" aria-label="Previous">
											        <span aria-hidden="true">처음</span>
											      </a>
											    </li>
											    <li class="page-item" th:if="${pagination.block != 1}">
											      <a class="page-link" th:href="@{noticeList(curPage=${pagination.prevBlock}, pageSize=${pagination.pageSize})}" aria-label="Previous">
											        <span aria-hidden="true">이전</span>
											      </a>
											    </li>
											    <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">										    	    	
												    <li class="page-item" th:each="pageButton : ${#numbers.sequence(start, end)}">  	
													    <th:block th:if="${pageButton == pagination.page}">
												    		<a class="page-link" th:href="@{noticeList(curPage=${pageButton}, pageSize=${pagination.pageSize})}" th:text=${pageButton} style="background-color:#b3cbe5;"></a>								   													    		
												    	</th:block>
												    	<th:block th:if="${pageButton != pagination.page}">
												    		<a class="page-link" th:href="@{noticeList(curPage=${pageButton}, pageSize=${pagination.pageSize})}" th:text=${pageButton} ></a>											    		
												    	</th:block>				  	
												    </li>										    
											    </th:block>
											    <li class="page-item" th:if="${pagination.block != pagination.totalBlockCnt}"> 
											      <a class="page-link" th:href="@{noticeList(curPage=${pagination.nextBlock}, pageSize=${pagination.pageSize})}" aria-label="Next">
											        <span aria-hidden="true">다음</span>
											      </a>
											    </li>
											    <li class="page-item" th:if="${pagination.block != pagination.totalBlockCnt}">
											      <a class="page-link"  th:href="@{noticeList(curPage=${pagination.totalPageCnt}, pageSize=${pagination.pageSize})}" aria-label="Previous">
											        <span aria-hidden="true">끝</span>
											      </a>
											    </li>
											</ul>
										</nav>
									</div> 
								<th:block/>
	        	<!-- 페이지처리 end -->
		    </div>
		    <!-- 게시판 end -->
		</div>
	</div>
	<!-- 기본 폼 완성 -->

	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>	
</body>
</html>
