<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<!-- 공통 sidenav -->
	<div class="bodiary-wrapper">
		<div class="content mt-4">
			<form th:action="@{noticeEdit}" method="post">
				<div class="card">
					<div class="card-body p-5">
						<div class="row">
							<div class="col-lg-12">                       
								<p class="text-muted m-b-15 f-s-12"></p>
								<div class="basic-form">
									<div class="form-group">
										<input type="hidden" id="notice_brd_seq" name="notice_brd_seq" th:value="${noticeEdit.notice_brd_seq}">
									    <input type="text" id="notice_brd_title" name="notice_brd_title" class="form-control input-default" th:value="${noticeEdit.notice_brd_title}">
									</div>
								</div>                  
							</div>
							
							<div class="col-lg-12">                      
								<div class="basic-form">
									<div class="form-group">
										<textarea name="notice_brd_content" class="form-control h-150px" rows="12" id="comment" th:text="${noticeEdit.notice_brd_content}"></textarea>
									</div>
								</div>
							</div>
						</div>
						
						<div class="text-right">
							<button id="save" class="btn btn-outline-primary btn-sm" onclick="" type="button">임시저장</button>&nbsp;
							<button class="btn btn-primary btn-sm" type="submit">수정</button>
						</div>	
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- 기본 폼 완성 -->

	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
</body>
</html>
