<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<!-- 공통 sidenav -->
	<div class="bodiary-wrapper">
		<div class="content mt-4">
			<form th:action="@{noticeForm}" method="post">
				<div class="card">
					<div class="card-body p-5">
						<div class="row">
							<!-- 제목 -->
							<div class="col-lg-12">
								<p class="text-muted m-b-15 f-s-12"></p>
								<div class="basic-form">
									<div class="form-group">
									    <input type="text" id="notice_brd_title" name="notice_brd_title" class="form-control input-default" placeholder="제목을 입력하세요">
									</div>
								</div>
							</div>
							
							<!-- 내용 -->
							<!-- <div class="col-lg-12">                      
								<div class="basic-form">
									<div class="form-group">
										<textarea name="notice_brd_content" class="form-control h-150px" rows="12" id="comment" placeholder="내용을 입력하세요"></textarea>
									</div>
								</div>
							</div> -->
							
							<!-- 썸머노트 -->
							<div class="col-lg-12">
								<div class="basic-form">
									<div class="form-group">
										<textarea id="summernote" name="notice_brd_content"></textarea>
									</div>
								</div>
							</div>
							
						</div>
						<div class="text-right mt-3">
							<button id="save" class="btn btn-outline-primary btn-sm" onclick="" type="button">임시저장</button>&nbsp;
							<button type="submit" class="btn btn-primary btn-sm">등록</button>
						</div>						
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- 기본 폼 완성 -->

	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
	<script>
	$(document).ready(function() {
		$('#summernote').summernote({
			minHeight: 400, //최소 높이
			maxHeight: null, //최대 높이
			focus: true, //에디터 로딩 후 포커스를 맞출지 여부
			lang: 'ko-KR', //한글 설정
			callbacks: {
				onImageUpload: function(files, editor, welEditable) {
				            for (var i = files.length - 1; i >= 0; i--) {
				             sendFile(files[i], this);
				            }
				        }
				}

		});
	});
	

	function sendFile(file, el) {
	var form_data = new FormData();
	       form_data.append('file', file);
	       $.ajax({
	         data: form_data,
	         type: "POST",
	         url: 'summerImageNotice',
	         cache: false,
	         contentType: false,
	         enctype: 'multipart/form-data',
	         processData: false,
	         success: function(img_name) {
	        	
					$(el).summernote('editor.insertImage', img_name);
				

				
	         }
	       });
	    }
</script>
<!-- Summernote의 code를 가져와서 textarea 태그 중 name="content" 속성을 갖고 있는 요소를 찾아 클라이언트가 입력한 값을 집어넣는다. -->
<script>
function postForm() {
    $('textarea[name="content"]').val($('#summernote').summernote('code'));
}
</script>
</body>
</html>
