<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!-- 공통 헤더 -->
	<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<!-- 공통 sidenav -->
	<div class="bodiary-wrapper">
		<div class="row mt-4">
			<nav class="col-3 ml-3 mr-0 sidenav">
				<aside id="sidebar" class="js-custom-scroll side-nav" th:replace="common/sidebar :: sidebarFragment"></aside>
			</nav>
			<!-- myBodiary 내 공통 목표 띠  -->
			<div class="col mr-5">
				
				<!--  -->				
                <div class="card border-primary">
                
                    <div class="card-body" th:if="${todayCount == 0}">
                        <h4 class="card-title" ><span th:text="${session.currentUser.user_nickname}"></span>님!</h4>
                        <p class="card-text">오늘의 일지가 비어있어요. 작성하러 가볼까요?</p>
                        <a href="myBodiaryForm" class="btn btn-primary">작성하러 가기 <i class="icon-note menu-icon"></i></a>
                    </div>
                    <div class="card-body" th:if="${todayCount > 0}">
                        <h4 class="card-title" ><span th:text="${session.currentUser.user_nickname}"></span>님!</h4>
                        <p class="card-text">오늘의 일지를 이미 작성하셨어요. 확인하러 가볼까요?</p>
                        <a href="" id="already" class="btn btn-primary">확인하러 가기 <i class="icon-note menu-icon"></i></a>
                    </div>    
                </div>
                <div class="row">
                <th:block th:each="bodiary : ${list}">
	                <div class="grid-item card ml-3">
	                <div class="card-body">
	                 <i class="icon-clock"></i>&nbsp;&nbsp;
						                    	<h2 class="card-text" th:text="${bodiary.diary_date}"></h2>
	                
					<a th:href="@{/myBodiaryDetail(diary_seq=${bodiary.diary_seq})}" class="card-link">
						 
						<img th:src="@{assets/upload/myBodiaryUpload/}+${bodiary.diary_main_img}" /> 
							</a>
		                        </div>
		                          
		                        <div class="card-footer">
		                       
						                        &nbsp;&nbsp;&nbsp;&nbsp;
						                        
						                        오늘의 몸무게 : <span class="card-text" th:text="${bodiary.diary_today_weight}+kg" ></span>
		                     </div>
					</div>
                </th:block>
                </div>
            </div>
		</div>
	</div>
	<!-- 기본 폼 완성 -->
	
	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		var list = /*[[ ${list} ]]*/
		console.log(list[0].diary_seq);
	/*]]>*/
	
	//이미 오늘의 일지를 작성했을때 작성한 일지로 이동하게 해줌
	$(function() {
		$('#already').attr("href", "myBodiaryDetail?diary_seq="+list[0].diary_seq+"");
	});


	</script>
</body>
</html>