<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>

<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<div class="bodiary-wrapper">
		<!-- 공통 sidenav -->
		<div class="row mt-4">
			<nav class="col-3 ml-3 mr-0 sidenav">
				<aside id="sidebar" class="js-custom-scroll side-nav"
					th:replace="common/sidebar :: sidebarFragment"></aside>
			</nav>
			<!-- myBodiary 내 공통 목표 띠  -->
			<div class="col mr-5">
				<!-- 목표 인원수 + 목표 설정하기  -->
				<div class="card card-body pt-0 pb-0 pl-4">
					<div class="row">
						<div class="col pl-3 mt-3 mb-2">
							현재 <span class="text-info"> th:text사용해서 몇명인지 뿌려져야함</span> 명의 친구들이
							목표를 달성하고 있어요!
						</div>
						<!-- 이미 목표 진행중일경우 보이지 않도록 해야함 -->
						<div class="col-1 mt-2 mb-2">
							<button class="btn btn-primary btn-flat">
								<i class="mdi mdi-plus"></i>
							</button>
						</div>
					</div>
				</div>
				<!--  -->

				<div class="col-lg-12">
					<div class="card">
						<div class="d-flex justify-content-center">

							<div class="card-body">

								<!-- 탭 -->
								<div class="custom-tab-1 ml-5 mr-5">
									<ul class="nav nav-tabs mb-3">
										<li class="nav-item"><a class="nav-link active"
											data-toggle="tab" href="#bodiarytab">일지 통계</a></li>
										<li class="nav-item"><a class="nav-link"
											data-toggle="tab" href="#goaltab">목표 통계</a></li>

									</ul>

									<div class="tab-content content">
										<div class="tab-pane fade show active" id="bodiarytab"
											role="tabpanel">
											<div class="p-t-15 mt-5">
												
												<label class="m-t-30">기간 선택하기</label> 
												<div class="row mt-3">
													<div class="col-6">
														<input
														class="form-control input-daterange-datepicker"
														type="text" name="daterange"
														>
													</div>
													<div class="col-6 mt-1">
														<button type="button" class="btn btn-primary">통계 보기</button>
													</div>
												</div>
												
												
												
												
				

											</div>
										</div>

										<div class="tab-pane fade" id="goaltab">
											<div class="p-t-15">

												<div class="mt-5">
													<h2>&nbsp;&nbsp;나의 지난 목표 모아보기</h2>
												</div>


												<div class="row mt-5">
													<div class="col-md-6 col-lg-3">
														<div class="card">

															<div class="card-body">
																<h5 class="card-title">여름방학 불태우기</h5>
																<p class="card-text">여름방학용 루틴</p>
																<p class="card-text text-primary">Easy</p>
																<p class="card-text">
																	<small class="text-muted">2015.01.</small>
																</p>
															</div>
														</div>
													</div>
													<!-- End Col -->
													<div class="col-md-6 col-lg-3">
														<div class="card">

															<div class="card-body">
																<h5 class="card-title">Card title</h5>
																<p class="card-text">This is a wider card with
																	supporting text and below as a natural lead-in to the
																	additional content. This content is a little bit
																	longer.</p>
																<p class="card-text">
																	<small class="text-muted">Last updated 3 mins
																		ago</small>
																</p>
															</div>
														</div>
													</div>
													<!-- End Col -->
													<div class="col-md-6 col-lg-3">
														<div class="card">

															<div class="card-body">
																<h5 class="card-title">Card title</h5>
																<p class="card-text">This is a wider card with
																	supporting text and below as a natural lead-in to the
																	additional content. This content is a little bit
																	longer.</p>
																<p class="card-text">
																	<small class="text-muted">Last updated 3 mins
																		ago</small>
																</p>
															</div>
														</div>
													</div>
													<!-- End Col -->
													<div class="col-md-6 col-lg-3">
														<div class="card">

															<div class="card-body">
																<h5 class="card-title">Card title</h5>
																<p class="card-text">This is a wider card with
																	supporting text and below as a natural lead-in to the
																	additional content. This content is a little bit
																	longer.</p>
																<p class="card-text">
																	<small class="text-muted">Last updated 3 mins
																		ago</small>
																</p>
															</div>
														</div>
													</div>
													<!-- End Col -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 기본 폼 완성 -->

	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
</body>
</html>
