<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!-- 공통 헤더-->
	<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>

<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<div style="height:70px;"></div>
	<!-- 공통 sidenav -->
	<div class="row mt-4">
	<nav class="col-3 ml-3 mr-0 sidenav">
		<aside id="sidebar" class="js-custom-scroll side-nav" th:replace="common/sidebar :: sidebarFragment">
		</aside>
	</nav>
		<div class="col mr-5">
			<div class="card">
                            <div class="card-body">
                                <h3>줄넘기하는 팁드림</h3>
                                <h5>작성일:2080-07-02</h5>
                                <div class="basic-form">
                                
                                    <form action="myHistoryEditForm">
                                    
                                        <div class="form-group row">
                                        	<div class="col-sm-9">                                            
	                                            <div class="card-content">                                
	                                            <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac,
	                                                sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
	                                        	</div>
	                                         </div>
		                                     <div class="col-sm-3"></div>  	
                                        </div>
                                      	
                                   <!-- 댓글 보여지는 것들 -->  	
                                   <div>
                                      		<div class="custom-media-object-2">
                                    <div class="media border-bottom-1 p-t-15">
                                        <img class="mr-3 rounded-circle" src="assets/images/avatar/1.jpg" alt="">
                                        <div class="media-body">
                                            <div class="row">
                                                <div class="col-lg-7">
                                                    <h5>익명1(이댓글을 내가 작성했음을 표시하는게 필요)</h5>
                                                    <p>자유영 할시 팁에 대해서...첫번째로, 손끝으로부터 물속으로 들어가 물을 잡아 당길때에는 물을 최대한 많이 담아 밀어서 최대 추진력을 얻을수 있도록 손바닥의 방향을 신경써주세요</p>
                                                    <p>2080-07-02</p>
                                                </div>        
                                                <div class="col-lg-5 text-right">
                                                   <i class="fa fa-pencil color-muted m-r-5">
                                                   		<select name="" onchange="alert(this.options[this.selectedIndex].value)">
                                                   			<option value="option1" onchange="alert('셀렉트박스 클릭 이벤트!!')">수정</option>
                                                   			<option value="option2" onchange="alert('셀렉트박스 클릭 이벤트!!')">삭제</option>
                                                   		</select>
                                                   </i>
                                                 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media border-bottom-1 p-t-15">
                                        <img class="mr-3 rounded-circle" src="assets/images/avatar/2.jpg" alt="">
                                        <div class="media-body">
                                            <div class="row">
                                                <div class="col-lg-7">
                                                    <h5>익명2</h5>
                                                    <p>감사합니다 여러분</p>
                                                    <p>2080-05-20</p>
                                                </div>                                            
                                                <div class="col-lg-5 text-right">
                                                    <i class="fa fa-pencil color-muted m-r-5">
                                                   		<select name="">
                                                   			<option value="신고">신고</option>
                                                   		</select>
                                                   </i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media border-bottom-1 p-t-15">
                                        <img class="mr-3 rounded-circle" src="assets/images/avatar/3.jpg" alt="">
                                        <div class="media-body">
                                            <div class="row">
                                                <div class="col-lg-7">
                                                    <h5>익명3</h5>
                                                    <p>좋은 도움이 되었습니다</p>
                                                    <p>2080-05-02</p>
                                                </div>                                                
                                                <div class="col-lg-5 text-right">
                                                    <i class="fa fa-pencil color-muted m-r-5">
                                                   		<select name="">
                                                   			<option value="신고">신고</option>
                                                   		</select>
                                                   </i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                </div>
                                 <!-- 댓글 보여지는 것들.END -->  	                
                                                 
                                                                          
                                        <div class="form-group row">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-dark">삭제하기</button>
                                                <button type="submit" class="btn btn-dark">수정하기</button>
                                            </div>                                          
                                        </div>
                                        
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
		</div>
	</div>
	<!-- 기본 폼 완성 -->
	
	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
</body>
</html>



