<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!-- 공통 헤더-->
	<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>

<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<div style="height:70px;"></div>
	<!-- 공통 sidenav -->
	<div class="row mt-4">
		<nav class="col-3 ml-3 mr-0 sidenav">
			<aside id="sidebar" class="js-custom-scroll side-nav" th:replace="common/sidebar :: sidebarFragment">
			</aside>
		</nav>
		
				<!-- MyHistory(내가쓴글/댓글) -->
		<div class="col mr-5">
				<div class="card">
					<div class="card-body">
							<ul class="nav nav-tabs mb-3" >
								<li class="nav-item">
									<h3><a th:href="@{/myHistory}">자유게시판 | </a></h3> 
								</li>				
								<li class="nav-item">
								  	<h3><a th:href="@{/myHistoryRoutine}">루틴자랑 게시판 </a> </h3>
								</li>
							</ul>
	                                
	                                                                  
	                                    	<!-- 자유게시판 내가 쓴글 -->
		                                       <div>
		                                       		<div>
		                                       			<label class="m-t-30">내가 쓴 글</label>
		                                       			<!-- <div style="display:inline;" align="right">
			                                       			<select>
			                                       				<option>10개씩 보기</option>
			                                       				<option>20개씩 보기</option>
			                                       				<option>30개씩 보기</option>
			                                       			</select>
			                                       		</div> -->
		                          
		                                       		</div>
				                                    <table class="table table-hover" >
				                                        <thead class="table-info">
				                                            <tr>
				                                                <th >글번호</th>
				                                                <th>제목</th>
				                                                <th >작성일</th>
				                                                <th >신고수</th>
																<th >카테고리</th>	
																<th >수정</th>
																<th >삭제</th>		
				                                            </tr>
				                                        </thead>
				                                        <tbody th:each="list : ${freeBrdList}">
				                                            <tr>
				                                                <th th:text="${list.free_brd_seq}"></th>
				                                                <td><a th:href="@{/freeBrdDetail(seq=${list.free_brd_seq})}" th:text="${list.free_brd_title}"></a></td>
				                                                <td th:text="${list.free_brd_date}"></td>
				                                                <td th:text="${list.free_brd_report_num}"></td>				                                                
				                                                <td th:if="${list.free_cat} == 1 ">자유</td>
				                                                <td th:if="${list.free_cat} == 2 ">질문</td>
				                                                <td th:if="${list.free_cat} == 3 ">팁</td>
				                                                <!-- 수정  -->
				                                                <td><a th:href="@{/freeBrdEdit(seq=${list.free_brd_seq})}"><i class="fa fa-pencil color-muted m-r-5"></i></a></td>
				                                                <!-- 삭제  -->	
                                                   				<td><a th:onclick="|javascript:myHistoryDelete('${list.free_brd_seq}')|" style="cursor:pointer;"><i class="ti-close m-r-5 f-s-12"></i></a></td>
                                             
				                                            </tr>				     
				                                        </tbody>
				                                    </table>
		                                		</div>
	                             <!-- 페이지 -->
								<th:block th:if="${pagination.totalListCnt != 0}">
									<div class="bootstrap-pagination">
										<nav>
											<ul class="pagination justify-content-center">
												<li class="page-item" th:if="${pagination.block != 1}">
											      <a class="page-link" th:href="@{myHistory(page=1,searchType=${search.searchType},keyword=${search.keyword})}" aria-label="Previous">
											        <span aria-hidden="true">처음</span>
											      </a>
											    </li>
											    <li class="page-item" th:if="${pagination.block != 1}">
											      <a class="page-link" th:href="@{myHistory(page=${pagination.prevBlock},searchType=${search.searchType},keyword=${search.keyword})}" aria-label="Previous">
											        <span aria-hidden="true">이전</span>
											      </a>
											    </li>
											    <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">										    	    	
												    <li class="page-item" th:each="pageButton : ${#numbers.sequence(start, end)}">  	
													    <th:block th:if="${pageButton == pagination.page}">
												    		<a class="page-link" th:href="@{myHistory(page=${pageButton})}" th:text=${pageButton} style="background-color:#b3cbe5;"></a>								   													    		
												    	</th:block>
												    	<th:block th:if="${pageButton != pagination.page}">
												    		<a class="page-link" th:href="@{myHistory(page=${pageButton})}" th:text=${pageButton} ></a>											    		
												    	</th:block>				  	
												    </li>										    
											    </th:block>
											    <li class="page-item" th:if="${pagination.block != pagination.totalBlockCnt}"> 
											      <a class="page-link" th:href="@{myHistory(page=${pagination.nextBlock},searchType=${search.searchType},keyword=${search.keyword})}" aria-label="Next">
											        <span aria-hidden="true">다음</span>
											      </a>
											    </li>
											    <li class="page-item" th:if="${pagination.block != pagination.totalBlockCnt}">
											      <a class="page-link"  th:href="@{myHistory(page=${pagination.totalPageCnt},searchType=${search.searchType},keyword=${search.keyword})}" aria-label="Previous">
											        <span aria-hidden="true">끝</span>
											      </a>
											    </li>
											</ul>
										</nav>
									</div> 
								<th:block/>
								<!-- 페이지 처리 END -->
	                                		
                            <!-- 자유게시판 내가 단 댓글 -->
                              <div class="table-responsive" id="myHistory_comment">
                               	<label class="m-t-30">내가 쓴 댓글</label>
                               	
                                   <table class="table table-hover">
                                       <thead class="table-info">
                                           <tr>
                                               <th >댓글</th>
                                               <th >작성일</th>
                                               <th >원본글 보기</th>           	
                                           </tr>
                                       </thead>
                                       <tbody>
                                           <tr th:each="rList : ${freeBrdReplyList}">			                                         
                                           	<td>
                                               <div class="bootstrap-modal">
				                                 <h5 data-toggle="modal" data-target="#exampleModalCenter" th:text="${rList.brd_cmt}"></h5>
	
				                             </div>
				                             </td>
				                             <td th:text="${rList.brd_cmt_date}"></td>
				                             <td>
				                                  <a th:href="@{/freeBrdDetail(seq=${rList.free_brd_seq})}">원본글</a>  						  
				                             </td>                              
                                           </tr>		  
                                       </tbody>
                                   </table>
                             		</div>
                             	<div class="bootstrap-pagination">
                                   <nav>
                                       <ul class="pagination justify-content-center">
                                           <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span> <span class="sr-only">Previous</span></a>
                                           </li>
                                           <li class="page-item"><a class="page-link" href="#">1</a>
                                           </li>
                                           <li class="page-item"><a class="page-link" href="#">2</a>
                                           </li>
                                           <li class="page-item"><a class="page-link" href="#">3</a>
                                           </li>
                                           <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span> <span class="sr-only">Next</span></a>
                                           </li>
                                       </ul>
                                   </nav>
                               </div>  <!-- 자유게시판 내가 단 댓글  END -->   
                                      
	                  
			   </div>
			   <!--<div class="card"> END  -->		
		</div>
		<!--<div class="col mr-5">END  -->
		
	</div>
	<!-- 기본 폼 완성 -->
	</div>
	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
	<script type="text/javascript" th:inline="javascript">
		function myHistoryDelete(seq) {
			 if (confirm("정말 삭제하시겠습니까?") == true){    //확인
				location.href="myHistoryDelete?seq="+seq;
			 }else{   //취소
			     return false;
			 }
		}	
	 </script>
</body>
</html>



























