<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>

	<!-- 공통 sidenav -->
	<div class="bodiary-wrapper">
		<div class="row mt-4">
			<nav class="col-3 ml-3 mr-0 sidenav">
				<aside id="sidebar" class="js-custom-scroll side-nav"
					th:replace="common/sidebar :: sidebarFragment"></aside>
			</nav>

			<div class="card col-7 ml-3">
				<div class="card-body">
					<div class="basic-form">

						<div class="form-group row mt-5 mb-5">
							<label class="col-sm-3 col-form-label text-primary">이메일</label>
							<div class="col-sm-9">
								<input type="text" readonly="readonly"
									class="form-control-plaintext" value="email@example.com">
							</div>
						</div>
						<hr>
						<div class="form-group row mt-5 mb-5">
							<label class="col-sm-3 col-form-label text-primary">비밀번호</label>
							<div class="col-sm-9">
								<input type="text" readonly="readonly"
									class="form-control-plaintext" value="********">
								<button type="button" class="btn btn-primary mt-3">변경하기</button>
								<br> <br>

								<!-- 비밀번호 변경 폼 (나중에 비동기로 만들 예정) -->
								<form>
									<div>

										<label class="col-form-label text-primary">현재 비밀번호</label>
									</div>
									<div>
										<input type="password" class="form-control input-default"
											placeholder="비밀번호를 입력해주세요">
									</div>
									<div>

										<label class="col-form-label text-primary">새 비밀번호</label>
									</div>
									<div>
										<input type="password" class="form-control input-default"
											placeholder="비밀번호를 입력해주세요">
									</div>
									<div>
										<button type="button" class="btn btn-outline-primary mt-3">취소하기</button>
										<button type="submit" class="btn btn-primary mt-3">변경하기</button>

									</div>
								</form>
							</div>
						</div>
						<hr>
						<div class="form-group row mt-5 mb-5">
							<label class="col-sm-3 col-form-label text-primary">닉네임</label>
							<div class="col-sm-9">
								<input type="text" readonly="readonly"
									class="form-control-plaintext" value="닉네임이지롱">
								<button type="button" class="btn btn-primary mt-3">변경하기</button>
								<br> <br>

								<!-- 닉네임 변경 폼 (나중에 비동기로 만들 예정) -->
								<form>

									<div>
										<input type="text" class="form-control input-default"
											value="닉네임이지롱">
									</div>

									<div>
										<button type="button" class="btn btn-outline-primary mt-3">취소하기</button>
										<button type="submit" class="btn btn-primary mt-3">변경하기</button>

									</div>
								</form>
							</div>
						</div>
						<hr>
						<div class="form-group row mt-5 mb-5">
							<label class="col-sm-3 col-form-label text-primary">계정 탈퇴</label>
							<div class="col-sm-9">
								<button type="button" class="btn btn-primary">탈퇴하기</button>
							</div>
						</div>
						
						


					</div>



				</div>

			</div>
		</div>
	</div>
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
</body>
</html>