<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- 공통 헤더-->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
<body>
   <!-- 공통 nav -->
   <th:block th:replace="common/nav :: navFragment"></th:block>

   <!-- 공통 sidenav -->
   <div class="bodiary-wrapper">
      <div class="row mt-4">
         <nav class="col-3 ml-3 mr-0 sidenav">
            <aside id="sidebar" class="js-custom-scroll side-nav"
               th:replace="common/sidebar :: sidebarFragment"></aside>
         </nav>

         <div class="card col-7 ml-3">
            <div class="card-body">
               <form id="profile" method="post" enctype="multipart/form-data"  onsubmit="return checkProfile();">


                  <!-- 프로필 사진 변경만 추가 -->
                  <div class="basic-form">
                     <div class="form-group row mt-5 mb-5">
                        <label class="col-sm-3 col-form-label text-primary">프로필 사진</label>
                        <div class="col-sm-9 row">
                           <div class="col-6">
                               <th:block th:if="${session.currentUser.user_img != null}">
                              <div style="width:80px; height:80px;">
                               <img style="width:100%; overflow:hidden;" id="user_img_div" class="img-fluid" 
                                    th:src="@{assets/upload/userUpload/}+${session.currentUser.user_img}" alt="">
                               </div>
                              </th:block>
                          
                           </div>
                           <div class="col-6">
                              <label class="btn btn-outline-primary btn-file">
                                 <i class="mdi mdi-account-edit"></i> 
                                 <input id="file" name="file" type="file" multiple="multiple" onchange="readURL(this)">이미지 변경
                              </label>
                           </div>
                        </div>
                     </div>
                     <hr>
                     <div class="form-group row mt-5 mb-5">
                        <label class="col-sm-3 col-form-label text-primary">나이</label>
                        <div class="col-sm-9">
                           <input id="user_age" name="user_age" type="text" class="form-control input-default" th:value="${session.currentUser.user_age}">
                        </div>
                     </div>
                     <hr>
                     <div class="form-group row mt-5 mb-5">
                        <label class="col-sm-3 col-form-label text-primary">키</label>
                        <div class="col-sm-9">
                           <input id="user_height" name="user_height" type="text" class="form-control input-default" th:value="${session.currentUser.user_height}">
                        </div>
                     </div>
                     <hr>
                     <div class="form-group row mt-5 mb-5">
                        <label class="col-sm-3 col-form-label text-primary">몸무게</label>
                        <div class="col-sm-9">
                           <input id="user_weight" name="user_weight" type="text" class="form-control input-default" th:value="${session.currentUser.user_weight}">
                        </div>
                     </div>
                     <hr>
                     <div class="form-group row mt-5 mb-5">
                        <label class="col-sm-3 col-form-label text-primary">성별</label>
                        <div class="col-sm-9">
                           <div class="form-check">
                              <label class="form-check-label"> 
                              <span th:text="${session.currentUser.user_gender}"></span>
                              <input id="user_gender" name="user_gender" type="hidden" class="form-check-input" th:value="${session.currentUser.user_gender}" readonly>
                              </label> 
                           
                           </div>
                        </div>
                        <div class="hidden-input">
                           <input id="user_email" name="user_email" type="email" hidden="hidden" class="form-control input-default"  th:value="${session.currentUser.user_email}">
                           <input id="user_nickname" name="user_nickname" type="hidden" class="form-check-input" th:value="${session.currentUser.user_nickname}" readonly>
                           <input id="user_img" name="user_img" type="hidden" class="form-check-input" th:value="${session.currentUser.user_img}" readonly>
                        </div>
                     </div>
                     <div class="text-center">
                        <button type="button" class="btn btn-outline-primary mt-3">취소하기</button>
                        <button type="submit" class="btn btn-primary mt-3">변경하기</button>
                     </div>
                  </div>
               </form>
            </div>

         </div>
      </div>
   </div>
   <th:block th:replace="fragments/script :: scriptFragment"></th:block>
   <script>
   //이미지 추가 했을 때 화면에 띄우기
    function readURL(input) {
       if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function(e) {
             $('#user_img_div').attr('src', e.target.result);
          }
          reader.readAsDataURL(input.files[0]);
       }
       
    };
    
    function checkProfile(){
       var age = document.getElementById('user_age');
       var height = document.getElementById('user_height');
       var weight = document.getElementById('user_weight');
       if(age.value.trim() == '' || isNaN(age.value)) {
          swal('나이를 다시입력하세요: '+age.value);
           return false; 
          } 
       if(height.value.trim() == '' || isNaN(height.value)) {
          swal('키를 다시입력하세요: '+height.value);
           return false; 
      }
       if(weight.value.trim() == '' || isNaN(weight.value)) {
          swal('몸무게를 다시입력하세요: '+weight.value);
           return false; 
      }
    }
    
    
   </script>
</body>
</html>