<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
<style>
#content-body2 {
	background-color: white;
	margin-left: 29px;
	margin-top: 29px;
	height: 15%;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 35px;
	margin-right: 45px;
}
</style>



<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<!-- 공통 sidenav -->
	<div class="bodiary-wrapper">
		<div class="row mt-4">
			<nav class="col-3 ml-3 mr-0 sidenav">
		<aside id="sidebar" class="js-custom-scroll side-nav" th:replace="common/sidebar :: sidebarFragment">
		</aside>
	</nav>

			<nav class="col-0 ml-3 mr-0">

				<div class="container">

					<div class="card">
						<div class="card-body" style="padding-left: 45px; padding-top: 55px;">
							<form action="myQnaEdit" method="post">
							<div class="content-tags" style="margin-bottom: 21px;">
								<span class="list-group-item-text article-id"
									style="margin-right: 530px">
									<span th:text="${qna.qna_brd_seq}"></span>
									<input type="text" id="qna_brd_seq" name="qna_brd_seq" class="form-control"
										th:value="${qna.qna_brd_seq}" readonly >
									</span>
									 <span	class="list-group-item-text article-id" th:text="${qna.qna_brd_regdate}"></span>
							</div>
							<h2 class="panel-title"  th:text="${qna.qna_brd_title}"></h2>
							<hr style="margin-right: 45px;" />

							<p th:text="${qna.qna_brd_content}"></p>
							
							<div class="button">
								<button type="button" class="btn mb-1 btn-info"
									style="margin-left: 0px; float: right; margin-right: 50px;"
									onclick="location.href='myQnaList'">목록보기</button>
								<button type="submit" class="btn mb-1 btn-info"
									style="margin-left: 0px; float: right;">수정하기</button>
							</div>

							</form>
						</div>



					</div>

				</div>

				




			</nav>
		</div>
	</div>

	<!-- 기본 폼 완성 -->

	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
</body>
</html>