<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
   <!-- 공통 헤더-->
   <th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
<style>
 #contain {
 background-color:white;
 height: 70%; 
 width: 80%;
 }
 #content-body{ 
 margin-left: 29px;
 margin-top: 29px;
 }
 #content-body2{
 background-color:white; 
 margin-left: 29px;
 margin-top: 29px;
  height: 15%;
 }
 .button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-right:45px;
}
</style>
<script type="text/javascript">


</script>



<body>
   <!-- 공통 nav -->
   <th:block th:replace="common/nav :: navFragment"></th:block>
   <!-- 공통 sidenav -->
   <div class="bodiary-wrapper">
   <div class="row mt-4">
      <nav class="col-3 ml-3 mr-0 sidenav">
      <aside id="sidebar" class="js-custom-scroll side-nav" th:replace="common/sidebar :: sidebarFragment">
      </aside>
   </nav>
      
      <nav class="col-8 ml-3 mr-0" >
      	<form action="myQnaForm" method="post">
         <div id="contain" class="side-nav-info card card-body border-primary pt-4 pb-4 pl-5 pr-5" > <!-- class="article col-sm-9" -->
            
         
                <div class="row">
                    <div class="col-lg-12" style="padding-bottom: 20px;">                       
                                <p class="text-muted m-b-15 f-s-12"></p>
                                <div class="basic-form">
                                        <div class="form-group">
                                            <input type="text" class="form-control input-default" placeholder="제목을 입력하세요" name="qna_brd_title">
                                        </div>
                                        
                                </div>                  
                    </div>
                    
                    <div class="col-lg-12">                      
                                <div class="basic-form">
                                        <div class="form-group">
                                            
                                            <textarea class="form-control h-150px" name="qna_brd_content" rows="12" id="comment" placeholder="내용을 입력하세요">
                                            </textarea>
                                        </div>
                                </div>

                    </div>
                 </div>      
         
               <div class="button">
                  <button type="button" class="btn mb-1 btn-info" style="margin-left: 0px; float: right; margin-right:50px;" onclick="location.href='myQnaList'">돌아가기</button>
                  <button type="submit" class="btn mb-1 btn-info" style="margin-left: 0px; float: right;">등록하기</button>
               </div>   
                     
         </div>
         </form>
         
         
         
         
      </nav>      
   </div>
   </div>

   <!-- 기본 폼 완성 -->

   <!-- 공통 스크립트-->
   <th:block th:replace="fragments/script :: scriptFragment"></th:block>
   

</body>
</html>