<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
<style>
#content-body2 {
	background-color: white;
	margin-left: 29px;
	margin-top: 29px;
	height: 15%;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 35px;
	margin-right: 45px;
}
</style>



<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<!-- 공통 sidenav -->
	<div class="bodiary-wrapper">
		<div class="row mt-4">
			<nav class="col-3 ml-3 mr-0 sidenav">
		<aside id="sidebar" class="js-custom-scroll side-nav" th:replace="common/sidebar :: sidebarFragment">
		</aside>
	</nav>

			<nav class="col-0 ml-3 mr-0">

				<div class="container">

					<div class="card">
						<div class="card-body" style="padding-left: 45px; padding-top: 55px;">
							<form action="myQnaEdit" method="post">
							<div class="content-tags" style="margin-bottom: 21px;">
								<span class="list-group-item-text article-id"
									style="margin-right: 530px">
									<span th:text="${qna.qna_brd_seq}"></span>
									<!-- hidden inputs -->
									<input type="hidden" id="qna_brd_seq" name="qna_brd_seq" class="form-control"
										th:value="${qna.qna_brd_seq}" readonly >
									<input type="hidden" id="qna_brd_regdate" name="qna_brd_regdate" class="form-control"
										th:value="${qna.qna_brd_regdate}" readonly >
									<input type="hidden" id="user_email" name="user_email" class="form-control"
										th:value="${qna.user_email}" readonly >
										<input type="hidden" id="qna_brd_ref" name="qna_brd_ref" class="form-control"
										th:value="${qna.qna_brd_ref}" readonly >
										<input type="hidden" id="qna_brd_depth" name="qna_brd_depth" class="form-control"
										th:value="${qna.qna_brd_depth}" readonly >
										<input type="hidden" id="qna_brd_step" name="qna_brd_step" class="form-control"
										th:value="${qna.qna_brd_step}" readonly >	
									</span>
									 <span	class="list-group-item-text article-id" th:text="${qna.qna_brd_regdate}"></span>
							</div>
							<input type="text" class="panel-title" th:value="${qna.qna_brd_title}" name="qna_brd_title" id="qna_brd_title"></input>
							<!-- <h2 class="panel-title"  th:text="${qna.qna_brd_title}"></h2> -->
							<hr style="margin-right: 45px;" />
							<textarea id="summernote" name="qna_brd_content" class="form-control"
										th:value="${qna.qna_brd_content}" th:placeholder="${qna.qna_brd_content}" ></textarea>
							
							<div class="button">
								<button type="button" class="btn mb-1 btn-info"
									style="margin-left: 0px; float: right; margin-right: 50px;"
									onclick="location.href='myQnaList'">목록보기</button>
								<button type="submit" class="btn mb-1 btn-info"
									style="margin-left: 0px; float: right;">수정하기</button>
							</div>

							</form>
						</div>



					</div>

				</div>

				




			</nav>
		</div>
	</div>

	<!-- 기본 폼 완성 -->

	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
	<script>
$(document).ready(function() {
	  $('#summernote').summernote({
	        minHeight: 500,
	        maxHeight: null,
	        focus: true, 
	        lang : 'ko-KR'
	  });
	});
</script>
<!-- Summernote의 code를 가져와서 textarea 태그 중 name="content" 속성을 갖고 있는 요소를 찾아 클라이언트가 입력한 값을 집어넣는다.-->
<script>

function postForm() {
    $('textarea[name="qna_brd_content"]').val($('#summernote').summernote('code'));
}
</script>
</body>
</html>