
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>



	<div class="bodiary-wrapper">


		<!-- 글쓰기 폼 시작 -->
		<div class="content mt-4">

			<div class="card">
				<form action="freeBrdForm" method="post" enctype="multipart/form-data" onsubmit="postForm()">
					<!-- 카테고리 선택 드롭다운 -->
					<div class="row">
						<div class="col-2">
							<div class="mb-3 pl-4 mt-2">		
	                            <select class="form-control" name="freeBrdCat">
								    <option value="1">자유게시판</option>
								    <option value="2">질문게시판</option>
								    <option value="3">팁게시판</option>
								</select>
							</div>
						</div>
					</div>	
					<div class="row">
						<!-- 제목 -->
						<div class="col-11">
							<div class="mb-3 pl-4 mt-2">
								<input type="text" id="title" name="title" class="form-control"
									placeholder="제목을 입력하세요">
							</div>			
						</div>
						
						<div></div>
					</div>
					<!-- 사진 업로드(JPG,PNG,GIF) -->
					<div class="row">
						<div class="col-11">
							<div class="mb-3 pl-4 mt-2">
	                              <input type="file" id="image" name="image" class="form-control-file">
	                         </div>
	                    </div>
					</div>	                         
					<!-- 썸머노트 -->
					<div class="card-body">
							 <!-- 썸머노트에 글을쓰고 등록버튼을 누르면 textarea에 글내용이 들어감 -->
							 <textarea name="content" style="display: none;" th:text></textarea>
							 <!-- 썸머노트가 적용되는 부분 -->
							 <div id="summernote" ></div>					
						<hr>
						<div class="mt-4 text-center">
						<a th:href="@{/freeBrdList}" >
						<button type="button" class="btn btn-outline-primary">취소</button></a>
						<button type="submit" class="btn btn-primary">등록</button>
							
						</div>
					</div>

				</form>
			</div>


		</div>
	</div>
	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
</body>
<!-- 위에 있는 코드들이 로딩되고 나면 썸머노트를 설정해줌  -->
<script>
$(document).ready(function() {
	  $('#summernote').summernote({
	        minHeight: 500,
	        maxHeight: null,
	        focus: true, 
	        lang : 'ko-KR'
	  });
	});
</script>
<!-- Summernote의 code를 가져와서 textarea 태그 중 name="content" 속성을 갖고 있는 요소를 찾아 클라이언트가 입력한 값을 집어넣는다.
출처: https://smallgiant.tistory.com/31 [나에게 남기는 지식] -->
<script>
function postForm() {
    $('textarea[name="content"]').val($('#summernote').summernote('code'));
}
</script>

</html>