<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<div class="content">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">

					<!-- Nav tabs -->
					<div class="custom-tab-1">
						<ul class="nav nav-tabs mb-3">
							<li class="nav-item"><a class="nav-link active"
								data-toggle="tab" href="#home1">전체</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab"
								href="#profile1">자유게시판</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab"
								href="#contact1">질문게시판</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab"
								href="#message1">팁게시판</a></li>
						</ul>

						<div class="tab-content">
							<div class="tab-pane fade show active" id="home1" role="tabpanel">
								<div class="p-t-15">
								
											<h4 class="d-inline">전체</h4>

													<div class="card">
														<img class="img-fluid" src="images/big/img1.jpg" alt="">
														<div class="card-body">
															<span class="card-text ">팁</span>
															<h5 class="card-title mt-3">개꿀팁임다</h5>

															<p class="card-text">
																<i class="icon-clock"></i>13분 전
															</p>
															<p class="card-text">
																<i class="icon-eye"></i>5
															</p>
														</div>
													</div>
											

											
													<div class="card">
														<img class="img-fluid" src="images/big/img1.jpg" alt="">
														<div class="card-body">
															<span class="card-text ">자유</span>
															<h5 class="card-title mt-3">운동하기 싫다</h5>

															<p class="card-text">
																<i class="icon-clock"></i>20분 전
															</p>
															<p class="card-text">
																<i class="icon-eye"></i>10
															</p>

														</div>
													</div>
												

												
													<div class="card">
														<img class="img-fluid" src="images/big/img1.jpg" alt="">
														<div class="card-body">
															<span class="card-text ">질문</span>
															<h5 class="card-title mt-3">어깨 운동 이렇게 하면 되나요?</h5>

															<p class="card-text">
																<i class="icon-clock"></i>30분 전
															</p>
															<p class="card-text">
																<i class="icon-eye"></i>30
															</p>
														</div>
													</div>
											

											
													<div class="card">
														<img class="img-fluid" src="images/big/img1.jpg" alt="">
														<div class="card-body">
															<span class="card-text ">팁</span>
															<h5 class="card-title mt-3">운동하기 싫을때 팁</h5>

															<p class="card-text">
																<i class="icon-clock"></i>33분 전
															</p>
															<p class="card-text">
																<i class="icon-eye"></i>20
															</p>
														</div>
													</div>
										


											</div>
										</div>
								

							<div class="tab-pane fade" id="profile1">
								<div class="p-t-15">
									
											<h4 class="d-inline">자유</h4>

											
													<div class="card">
														<img class="img-fluid" src="images/big/img1.jpg" alt="">
														<div class="card-body">
															<span class="card-text ">자유</span>
															<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

															<p class="card-text">
																<i class="icon-clock"></i>13분 전
															</p>
															<p class="card-text">
																<i class="icon-eye"></i>5
															</p>
														</div>
													</div>
													<div class="card">
														<img class="img-fluid" src="images/big/img1.jpg" alt="">
														<div class="card-body">
															<span class="card-text ">자유</span>
															<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

															<p class="card-text">
																<i class="icon-clock"></i>13분 전
															</p>
															<p class="card-text">
																<i class="icon-eye"></i>5
															</p>
														</div>
													</div>
													<div class="card">
														<img class="img-fluid" src="images/big/img1.jpg" alt="">
														<div class="card-body">
															<span class="card-text ">자유</span>
															<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

															<p class="card-text">
																<i class="icon-clock"></i>13분 전
															</p>
															<p class="card-text">
																<i class="icon-eye"></i>5
															</p>
														</div>
													</div>
													<div class="card">
														<img class="img-fluid" src="images/big/img1.jpg" alt="">
														<div class="card-body">
															<span class="card-text ">자유</span>
															<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

															<p class="card-text">
																<i class="icon-clock"></i>13분 전
															</p>
															<p class="card-text">
																<i class="icon-eye"></i>5
															</p>
														</div>
													</div>
													<div class="card">
														<img class="img-fluid" src="images/big/img1.jpg" alt="">
														<div class="card-body">
															<span class="card-text ">자유</span>
															<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

															<p class="card-text">
																<i class="icon-clock"></i>13분 전
															</p>
															<p class="card-text">
																<i class="icon-eye"></i>5
															</p>
														</div>
													</div>
												</div>
											</div>
												<div class="tab-pane fade" id="contact1">
													<div class="p-t-15">
														
																<h4 class="d-inline">질문</h4>

																
																		<div class="card">
																			<img class="img-fluid" src="images/big/img1.jpg"
																				alt="">
																			<div class="card-body">
																				<span class="card-text ">질문</span>
																				<h5 class="card-title mt-3">질문이요</h5>

																				<p class="card-text">
																					<i class="icon-clock"></i>13분 전
																				</p>
																				<p class="card-text">
																					<i class="icon-eye"></i>5
																				</p>
																			</div>
																		</div>
																		<div class="card">
																			<img class="img-fluid" src="images/big/img1.jpg"
																				alt="">
																			<div class="card-body">
																				<span class="card-text ">질문</span>
																				<h5 class="card-title mt-3">질문이요</h5>

																				<p class="card-text">
																					<i class="icon-clock"></i>13분 전
																				</p>
																				<p class="card-text">
																					<i class="icon-eye"></i>5
																				</p>
																			</div>
																		</div>
																		<div class="card">
																			<img class="img-fluid" src="images/big/img1.jpg"
																				alt="">
																			<div class="card-body">
																				<span class="card-text ">질문</span>
																				<h5 class="card-title mt-3">질문이요</h5>

																				<p class="card-text">
																					<i class="icon-clock"></i>13분 전
																				</p>
																				<p class="card-text">
																					<i class="icon-eye"></i>5
																				</p>
																			</div>
																		</div>
																		<div class="card">
																			<img class="img-fluid" src="images/big/img1.jpg"
																				alt="">
																			<div class="card-body">
																				<span class="card-text ">질문</span>
																				<h5 class="card-title mt-3">질문이요</h5>

																				<p class="card-text">
																					<i class="icon-clock"></i>13분 전
																				</p>
																				<p class="card-text">
																					<i class="icon-eye"></i>5
																				</p>
																			</div>
																		</div>
																		<div class="card">
																			<img class="img-fluid" src="images/big/img1.jpg"
																				alt="">
																			<div class="card-body">
																				<span class="card-text ">질문</span>
																				<h5 class="card-title mt-3">질문이요</h5>

																				<p class="card-text">
																					<i class="icon-clock"></i>13분 전
																				</p>
																				<p class="card-text">
																					<i class="icon-eye"></i>5
																				</p>
																			</div>
																		</div>
																		<div class="card">
																			<img class="img-fluid" src="images/big/img1.jpg"
																				alt="">
																			<div class="card-body">
																				<span class="card-text ">질문</span>
																				<h5 class="card-title mt-3">질문이요</h5>

																				<p class="card-text">
																					<i class="icon-clock"></i>13분 전
																				</p>
																				<p class="card-text">
																					<i class="icon-eye"></i>5
																				</p>
																			</div>
																		</div>

																	</div>
																</div>
															
													
												<div class="tab-pane fade" id="message1">
													<div class="p-t-15">
														
																<h4 class="d-inline">팁</h4>

																		<div class="card">
																			<img class="img-fluid" src="images/big/img1.jpg"
																				alt="">
																			<div class="card-body">
																				<span class="card-text ">팁이요</span>
																				<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

																				<p class="card-text">
																					<i class="icon-clock"></i>13분 전
																				</p>
																				<p class="card-text">
																					<i class="icon-eye"></i>5
																				</p>
																			</div>
																		</div>
																		<div class="card">
																			<img class="img-fluid" src="images/big/img1.jpg"
																				alt="">
																			<div class="card-body">
																				<span class="card-text ">팁이요</span>
																				<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

																				<p class="card-text">
																					<i class="icon-clock"></i>13분 전
																				</p>
																				<p class="card-text">
																					<i class="icon-eye"></i>5
																				</p>
																			</div>
																		</div>
																		<div class="card">
																			<img class="img-fluid" src="images/big/img1.jpg"
																				alt="">
																			<div class="card-body">
																				<span class="card-text ">팁이요</span>
																				<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

																				<p class="card-text">
																					<i class="icon-clock"></i>13분 전
																				</p>
																				<p class="card-text">
																					<i class="icon-eye"></i>5
																				</p>
																			</div>
																		</div>
																		<div class="card">
																			<img class="img-fluid" src="images/big/img1.jpg"
																				alt="">
																			<div class="card-body">
																				<span class="card-text ">팁이요</span>
																				<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

																				<p class="card-text">
																					<i class="icon-clock"></i>13분 전
																				</p>
																				<p class="card-text">
																					<i class="icon-eye"></i>5
																				</p>
																			</div>
																		</div>
																		<div class="card">
																			<img class="img-fluid" src="images/big/img1.jpg"
																				alt="">
																			<div class="card-body">
																				<span class="card-text ">팁이요</span>
																				<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

																				<p class="card-text">
																					<i class="icon-clock"></i>13분 전
																				</p>
																				<p class="card-text">
																					<i class="icon-eye"></i>5
																				</p>
																			</div>
																		</div>
																		<div class="card">
																			<img class="img-fluid" src="images/big/img1.jpg"
																				alt="">
																			<div class="card-body">
																				<span class="card-text ">팁이요</span>
																				<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

																				<p class="card-text">
																					<i class="icon-clock"></i>13분 전
																				</p>
																				<p class="card-text">
																					<i class="icon-eye"></i>5
																				</p>
																			</div>
																		</div>
																		<div class="card">
																			<img class="img-fluid" src="images/big/img1.jpg"
																				alt="">
																			<div class="card-body">
																				<span class="card-text ">팁이요</span>
																				<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

																				<p class="card-text">
																					<i class="icon-clock"></i>13분 전
																				</p>
																				<p class="card-text">
																					<i class="icon-eye"></i>5
																				</p>
																			</div>
																		</div>
																		<div class="card">
																			<img class="img-fluid" src="images/big/img1.jpg"
																				alt="">
																			<div class="card-body">
																				<span class="card-text ">팁이요</span>
																				<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

																				<p class="card-text">
																					<i class="icon-clock"></i>13분 전
																				</p>
																				<p class="card-text">
																					<i class="icon-eye"></i>5
																				</p>
																			</div>
																		</div>

																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
					

	
	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
</body>
</html>