<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<div class="bodiary-wrapper">

		<div class="content mt-4">
			<!-- 탭 -->
			<div class="custom-tab-1 ml-5 mr-5">
				<ul class="nav nav-tabs mb-3">
					<li class="nav-item"><a class="nav-link active"
						data-toggle="tab" href="#home1">전체</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						href="#profile1">자유게시판</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						href="#contact1">질문게시판</a></li>
					<li class="nav-item"><a class="nav-link" data-toggle="tab"
						href="#message1">팁게시판</a></li>
					<li></li>
				</ul>
				<!-- 힛 게시글 -->
				<div id="carouselpart" class="mt-4">
					<div class="card ml-5 mr-5">

						<img class="img-fluid" src="images/big/img1.jpg" alt="">
						<div class="card-body">
							<span class="card-text text-primary">질문</span>
							<h5 class="card-title mt-3">어깨 운동 이렇게 하면 되나요?</h5>

							<p class="card-text">
								<i class="icon-clock"></i>&nbsp;&nbsp;30분 전
							</p>
							<p class="card-text">
								<i class="icon-eye"></i>&nbsp;&nbsp;30
							</p>
						</div>
					</div>
				</div>

				<div class="card ml-5 mr-5">
					<div class="card-body">



						<!-- 게시글 순서 드롭다운 -->
						<div class="row">
							<div class="col"></div>
							<div class="col-3">
								<div class="dropdown custom-dropdown ml-2">
									<button type="button" class="btn btn-sm btn-outline-primary"
										data-toggle="dropdown">
										<i class="ti-search m-r-5"></i>&nbsp;최신순&nbsp;<i
											class="fa fa-angle-down m-l-5"></i>
									</button>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#">조회순</a> <a
											class="dropdown-item" href="#">댓글순</a> <a
											class="dropdown-item" href="#">12 AM</a>
									</div>
								</div>&nbsp;
								<!-- 페이징 사이즈 드롭다운 -->
								<div class="dropdown custom-dropdown">
									<button type="button" class="btn btn-sm btn-outline-primary"
										data-toggle="dropdown">
										10개씩&nbsp;<i class="fa fa-angle-down m-l-5"></i>
									</button>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#">5개씩</a> <a
											class="dropdown-item" href="#">15개씩</a> <a
											class="dropdown-item" href="#">20개씩</a>
									</div>
								</div>
							</div>
						</div>
						<!-- 글쓰기 버튼 -->
						<button type="button" onclick="location.href='freeBrdForm'" 
							class="btn btn-lg w-100 mb-1 btn-primary">
							글쓰기&nbsp;&nbsp;&nbsp;<span><i class="icon-note"></i></span>
						</button>
						<!-- 전체 게시판 내용 -->
						<div class="tab-content">
							<div class="tab-pane fade show active" id="home1" role="tabpanel">
								<div class="p-t-15">


									<div class="card" th:each="list : ${freeBrdList}">
									
									<!-- 얘가 기준 (다른 게시글도 이거랑 동일하게) --> 
										<div class="row card-body">
											<div class="col-8">
												<!-- 카테고리 부분(자유-1,질문-2,팁-3) -->
												<span class="card-text text-primary" th:if="${list.free_cat} == 1 ">자유</span>
												<span class="card-text text-primary" th:if="${list.free_cat} == 2 ">질문</span>	
												<span class="card-text text-primary" th:if="${list.free_cat} == 3 ">팁</span>
												<!-- 글제목 부분 -->
												<h5 class="card-title mt-3">
													<a th:href="@{/freeBrdDetail(seq=${list.free_brd_seq})}" th:text="${list.free_brd_title}"></a>
												</h5>
												<!-- 해당 글쓴 시간-->
												<p class="card-text">
													<i class="icon-clock" th:text="${list.free_brd_date}"></i>
												</p>
												<!-- 해당글 조회수 , 댓글수 부분 -->
												<p class="card-text">
													<i class="icon-eye"></i>&nbsp;&nbsp;5
													&nbsp;&nbsp;
													<i class="icon-bubble"></i>&nbsp;&nbsp;5
												</p>
											
											</div>
											<div class="col-3" th:if="${list.free_brd_image != null}">	
												<!-- root경로 webapp 부터 시작(생략) -->
												 <img class="img-fluid" th:src="@{/assets/upload/freeBrdUpload/}+${list.free_brd_image}" style="width:200px;height:150px;"  />																															
											</div>
											<div class="col mt-0 pt-0">
												<div class="mr-3">
													<ul>
														<li class="icons dropdown">
															<div class="user-img c-pointer position-relative"
																data-toggle="dropdown">
																<span class="activity active"></span> <i
																	class="icon-options-vertical"></i>
															</div>
															<div class="basic-dropdown">


																<div class="dropdown-menu">
																	<a class="dropdown-item" href="#">삭제</a> 
																	<a	class="dropdown-item" href="#">신고</a> 
																</div>

															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>

									</div>
									<!-- 얘가 기준 --> 



									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text text-primary">자유</span>
											<h5 class="card-title mt-3">운동하기 싫다</h5>

											<p class="card-text">
												<i class="icon-clock"></i>&nbsp;&nbsp;20분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>&nbsp;&nbsp;10
											</p>

										</div>
									</div>



									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text text-primary">질문</span>
											<h5 class="card-title mt-3">어깨 운동 이렇게 하면 되나요?</h5>

											<p class="card-text">
												<i class="icon-clock"></i>&nbsp;&nbsp;30분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>&nbsp;&nbsp;30
											</p>
										</div>
									</div>



									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text text-primary">팁</span>
											<h5 class="card-title mt-3">운동하기 싫을때 팁</h5>

											<p class="card-text">
												<i class="icon-clock"></i>&nbsp;&nbsp;33분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>&nbsp;&nbsp;20
											</p>
										</div>
									</div>



								</div>


								<!-- 페이지 -->
								<div class="bootstrap-pagination">
									<nav>
										<ul class="pagination justify-content-center">
											<li class="page-item disabled"><a class="page-link"
												href="#" tabindex="-1">Previous</a></li>
											<li class="page-item"><a class="page-link" href="#">1</a>
											</li>
											<li class="page-item"><a class="page-link" href="#">2</a>
											</li>
											<li class="page-item"><a class="page-link" href="#">3</a>
											</li>
											<li class="page-item"><a class="page-link" href="#">Next</a>
											</li>
										</ul>
									</nav>
								</div>

								<div class="row">
									<div class="col"></div>
									<div class="basic-form col-7 center">
										<form class="form-inline">
											<!-- 검색 조건 -->
											<div class="dropdown custom-dropdown">
												<button type="button" class="btn btn-outline-primary"
													data-toggle="dropdown">
													제목<i class="fa fa-angle-down m-l-5"></i>
												</button>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#">내용</a> <a
														class="dropdown-item" href="#">제목 + 내용</a>
												</div>
											</div>

											<!-- 검색어 입력 인풋 -->
											<div class="form-group mx-sm-3 mb-2">

												<input type="text" class="form-control input-default"
													placeholder="검색어를 입력해주세요" style="height:34px;">
											</div>
											<div>
											<button type="submit" class="btn btn-primary mb-2">검색</button>
											</div>
										</form>
									</div>
									<div class="col-2"></div>
								</div>
							</div>


							<!-- 자유게시판 -->
							<div class="tab-pane fade" id="profile1">
								<div class="p-t-15">

									<h4 class="d-inline">자유</h4>


									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text ">자유</span>
											<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

											<p class="card-text">
												<i class="icon-clock"></i>13분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>5
											</p>
										</div>
									</div>
									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text ">자유</span>
											<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

											<p class="card-text">
												<i class="icon-clock"></i>13분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>5
											</p>
										</div>
									</div>
									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text ">자유</span>
											<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

											<p class="card-text">
												<i class="icon-clock"></i>13분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>5
											</p>
										</div>
									</div>
									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text ">자유</span>
											<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

											<p class="card-text">
												<i class="icon-clock"></i>13분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>5
											</p>
										</div>
									</div>
									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text ">자유</span>
											<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

											<p class="card-text">
												<i class="icon-clock"></i>13분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>5
											</p>
										</div>
									</div>
								</div>
							</div>

							<!-- 질문게시판 -->
							<div class="tab-pane fade" id="contact1">
								<div class="p-t-15">

									<h4 class="d-inline">질문</h4>


									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text ">질문</span>
											<h5 class="card-title mt-3">질문이요</h5>

											<p class="card-text">
												<i class="icon-clock"></i>13분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>5
											</p>
										</div>
									</div>
									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text ">질문</span>
											<h5 class="card-title mt-3">질문이요</h5>

											<p class="card-text">
												<i class="icon-clock"></i>13분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>5
											</p>
										</div>
									</div>
									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text ">질문</span>
											<h5 class="card-title mt-3">질문이요</h5>

											<p class="card-text">
												<i class="icon-clock"></i>13분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>5
											</p>
										</div>
									</div>
									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text ">질문</span>
											<h5 class="card-title mt-3">질문이요</h5>

											<p class="card-text">
												<i class="icon-clock"></i>13분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>5
											</p>
										</div>
									</div>
									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text ">질문</span>
											<h5 class="card-title mt-3">질문이요</h5>

											<p class="card-text">
												<i class="icon-clock"></i>13분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>5
											</p>
										</div>
									</div>
									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text ">질문</span>
											<h5 class="card-title mt-3">질문이요</h5>

											<p class="card-text">
												<i class="icon-clock"></i>13분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>5
											</p>
										</div>
									</div>

								</div>
							</div>

							<!-- 팁게시판 -->
							<div class="tab-pane fade" id="message1">
								<div class="p-t-15">

									<h4 class="d-inline">팁</h4>

									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text ">팁</span>
											<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

											<p class="card-text">
												<i class="icon-clock"></i>13분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>5
											</p>
										</div>
									</div>
									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text ">팁</span>
											<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

											<p class="card-text">
												<i class="icon-clock"></i>13분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>5
											</p>
										</div>
									</div>
									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text ">팁</span>
											<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

											<p class="card-text">
												<i class="icon-clock"></i>13분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>5
											</p>
										</div>
									</div>
									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text ">팁</span>
											<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

											<p class="card-text">
												<i class="icon-clock"></i>13분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>5
											</p>
										</div>
									</div>
									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text ">팁</span>
											<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

											<p class="card-text">
												<i class="icon-clock"></i>13분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>5
											</p>
										</div>
									</div>
									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text ">팁</span>
											<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

											<p class="card-text">
												<i class="icon-clock"></i>13분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>5
											</p>
										</div>
									</div>
									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text ">팁</span>
											<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

											<p class="card-text">
												<i class="icon-clock"></i>13분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>5
											</p>
										</div>
									</div>
									<div class="card">
										<img class="img-fluid" src="images/big/img1.jpg" alt="">
										<div class="card-body">
											<span class="card-text ">팁</span>
											<h5 class="card-title mt-3">ㅋㅋㅋㅋ</h5>

											<p class="card-text">
												<i class="icon-clock"></i>13분 전
											</p>
											<p class="card-text">
												<i class="icon-eye"></i>5
											</p>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
</body>
</html>