<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<!-- 기본 폼 완성 -->
	<th:block th:fragment="sidebarFragment">
		<main class="main" >
			<!-- Sidebar Nav -->
				<!-- Profile Area -->
				<ul id="sideNav" class="side-nav-menu side-nav-menu-top-level mb-3" >
					<!-- Title -->
					<!-- <li class="sidebar-heading h6">Bodiary</li> -->
					<!-- End Title -->

					<!-- Getting Started -->
					<li class="side-nav-info card card-body border-primary pt-4 pb-4 pl-3 pr-3 mb-2">
						<div class="row mt-1" style="width:100%">
							<div class="col-5 ">
								<!-- 에러 분기점 -->
								<th:block th:if="${session.currentUser != null}">
								<img style="width:100%;" class="side-nav-photo rounded-circle" th:src="@{assets/upload/userUpload/}+${session.currentUser.user_img}" alt="Image Description"/>
								</th:block>
							</div>
							<div class="col-6 p-0 mt-3">
								<!-- 에러 분기점 -->
								<h3><span th:if="${session.currentUser != null}" th:text="${session.currentUser.user_nickname}"></span> 님&nbsp;&nbsp;<a href="myProfileDetail"><i class="fa fa-pencil-square-o text-secondary"></i></a></h3>
								<p class="text-muted"><span th:if="${session.currentUser!= null} " th:text="${session.currentUser.user_height}"></span>cm | <span th:if="${session.currentUser != null}" th:text="${session.currentUser.user_weight}"></span> kg</p> 
							</div>
						</div>
						
						<div class="row mb-3 mt-4">

 							<div id="eventCalendar" class="ml-2"></div>
                        </div>
					</li>
				</ul>
				
				<ul class="side-nav-menu side-nav-menu-top-level card mb-5 mt-4" >

					<li class="side-nav-menu-item mb-3 ml-4 mt-4">
					<a class="side-nav-menu-link media align-items-center"
					   href="myRoutineList"> 
						<span class="side-nav-menu-icon d-flex mr-3"> 
							<i class="mdi mdi-content-paste"></i>
						</span>
						<span class="side-nav-fadeout-on-closed media-body">루틴 리스트</span>
					</a>
					</li>
					<li class="side-nav-menu-item mb-3 ml-4">
					<a class="side-nav-menu-link media align-items-center"
					   href="myHistory"> 
						<span class="side-nav-menu-icon d-flex mr-3"> 
							<i class="mdi mdi-emoticon"></i>
						</span>
						<span class="side-nav-fadeout-on-closed media-body">내가 쓴 글 댓글</span>
					</a>
					</li>
					<li class="side-nav-menu-item mb-4 ml-4">
					<a class="side-nav-menu-link media align-items-center"
					   href="myQnaList"> 
						<span class="side-nav-menu-icon d-flex mr-3"> 
							<i class="mdi mdi-lightbulb-on-outline"></i>
						</span>
						<span class="side-nav-fadeout-on-closed media-body">내 문의함</span>
					</a>
					</li>
					<!-- End Getting Started -->
				</ul>
				<!-- 세션에 저장된 유저 이메일 저장 -->
				<th:block th:if="${session.currentUser != null}">
				<input type="hidden" th:value="${session.currentUser.user_email}" id="user_email">
				</th:block>
		</main>    
	</th:block>
</html>
