<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!-- 공통 헤더-->
	<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>

<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<!-- 공통 sidenav -->
	<div class="row mt-4">
		<nav class="col-2 ml-3 mr-0">
			<aside id="sidebar" class="js-custom-scroll side-nav" th:replace="common/sidebar :: sidebarFragment">
			</aside>
		</nav>

		<div class="col mr-5">
			<div class="col-lg-12">
				<div class="card">
					<div class="row">
						<div class="col-12">
							<div class="card card-widget">
								<div class="card-body">
		                            <h2 class="mt-4">ㅇㅇ님의 목표까지 <b>20</b>일!</h2>
		                            <div class="mt-4">
		                                <h6><span class="pull-right">10%</span></h6>
		                    			<div class="progress mb-3" style="height: 15px">
		                                   <div class="progress-bar bg-primary active progress-bar-striped" style="width: 10%;" role="progressbar"><span class="sr-only"></span>
		                                   </div>
		                                </div>                                
		                			</div>
		            			</div>
		            		</div>            			
		                    <div class="row">
			                    <div class="col-4">
			                        <div class="card">
			                            <div class="card-body">
			                                <div class="image-center">
			                                    <img src="assets//images/users/8.jpg" width="300" height="300"/>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="col-4">
			                        <div class="card">
			                            <div class="card-body">
			                                <div class="text-center">
			                                    <span class="display-5"><i class="icon-diamond gradient-4-text"></i></span>
			                                    <h2 class="mt-3">765 Point</h2>
			                                    <p>Nice, you are doing great!</p>
			                                    <a href="javascript:void()" class="btn gradient-4 btn-lg border-0 btn-rounded px-5">Redeem
			                                        now</a>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                    
			                    <div class="col-lg-4 col-sm-8">
			                        <div class="card gradient-2">
			                            <div class="card-body">
			                                <h3 class="card-title text-white">Today's Message</h3>
			                                <div class="d-inline-block">
			                                    <p class="text-white mb-0">ㅁㄴㅍㄴㅁ대러매냐ㅓㄹㄹㅇ러ㅠㅜㄴㅇ라ㅓㅠㄷㄱㅍ슈ㅎㅍㅍㅈㅍㅈㄷㅍㅈㅍㅈㅍㅈㅍㅈㄷㅍㅈㄷㅍㅈㅍㅈㄷㅍ</p>
			                                </div>
			                                <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
			                            </div>
			                        </div>
			                    </div>
			                    
			                    
			                    <div class="col-4">
								    <div class="card">
								        <div class="card-body">
								            <blockquote class="blockquote mb-0">
								                <p>기구에 앉아서 안비키는 진상 때문에 런지로 대체</p>
								            </blockquote>
								        </div>
								    </div>
								</div>
								<div class="col-8">
			                        <div class="card">
			                            <div class="card-body">
			                                <h4 class="card-title">Daily Water Intake</h4>
			                                <div class="progress" style="height: 10px;">
			                                    <div class="progress-bar bg-primary" style="width: 60%;" role="progressbar"><span class="sr-only">60% Complete</span>
			                                    </div>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>				
						</div>			
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 기본 폼 완성 -->

	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
</body>
</html>