<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!-- 공통 헤더-->
	<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>

<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<!-- 공통 sidenav -->
	<div class="row mt-4">
		<nav class="col-2 ml-3 mr-0">
			<aside id="sidebar" class="js-custom-scroll side-nav" th:replace="common/sidebar :: sidebarFragment">
			</aside>
		</nav>
	
		<div class="col mr-5">
			<div class="col-lg-12">
				<div class="card">		
					<div class="d-flex justify-content-center">
						<div class="card">
							<div class="card-body">
	   							 <div class="col align-content-center">
									<div class="basic-form">
										<form>
											<div class="form-row">
												<div class="form-group col-md-4">
							                        <div class="card">
					                                    <form>
					                                        <div class="form-group">
					                                            <input type="file" class="form-control-file">
					                                        </div>
					                                    </form>													
							                        </div>
							                    </div>	                                          
												
												<div class="form-group col-md-4">
													<label>오늘의 몸무게</label>
	                                            	<input type="text" class="form-control input-default" placeholder="">
	                                        	</div>
	                                        	                                        	
	                                        	<div class="form-group col-md-4">
													<label>오늘의 컨디션</label>
	                                            	<input type="text" class="form-control input-default" placeholder="">
	                                        	</div>
	                                        	
											</div>
											<div class="form-group">
												<label>오늘의 한마디</label>
												<input type="text" class="form-control input-default" placeholder="">
											</div>
											<div class="form-group">
												<label>오늘 먹은 음식</label>
												<input type="search" class="form-control input-default" placeholder="Search">
											</div>
											<div class="form-group">
												<label>오늘의 루틴</label>
												<select id="inputState" class="form-control input-default">
													<option selected="selected">루틴 선택하기</option>
													<option>루틴 1</option>
													<option>루틴 2</option>
													<option>루틴 3</option>
												</select>
											</div>
											<div class="text-right">
												<button type="submit" class="btn btn-outline-primary btn-sm">임시저장</button>
												<button type="submit" class="btn btn-primary btn-sm">확인</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 기본 폼 완성 -->
	
	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
</body>
</html>