<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
<style>
#content-body2 {
	background-color: white;
	margin-left: 29px;
	margin-top: 29px;
	height: 15%;
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 35px;
	margin-right: 45px;
}
</style>



<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<!-- 공통 sidenav -->
	<div class="bodiary-wrapper">
		<div class="row mt-4">
			<nav class="col-3 ml-3 mr-0" style="height: 450px;">
				
			</nav>

			<nav class="col-0 ml-0 mr-0">

				<div class="container">

					<div class="card">
						<div class="card-body" style="padding-left: 45px; padding-top: 55px;">

							<div class="content-tags" style="margin-bottom: 21px;">
								<span class="list-group-item-text article-id"
									style="margin-right: 530px">#734025</span> <span
									class="list-group-item-text article-id">2020-07-02
									11:47:20</span>
							</div>
							<h2 class="panel-title">공지사항 입니다.</h2>
							<hr style="margin-right: 45px;" />

							<p>어떻게 보면 건방진 질문이 될 수도 있을것 같습니다.</p>
							<p>대학 졸업 후 SM에서 일하다 개발이 하고싶어 웹 생초보로 이직하였습니다.</p>
							<p>업체는 지방에 세워진지 일년정도 된 SI 회사구요</p>
							<p>여기에는 10년차 사수와 1개월차 국비출신 2명이 있습니다.</p>
							<p>저는 학부때부터 기능들에 대해 코드분석 후 사용을 하였습니다.</p>
							<p>원리를 알아야 다른 곳에도 응용하고 어떤 식으로 코딩이 되었나를 보고 제 소스에도 적용할 거라는 생각을
								가지고 있습니다.</p>
							<p>회사에서 게시판 댓글 기능을 구현하면서 코드를 분석하고 있었는데</p>
							<p>사수가 그런거 아무런 쓸모없으니 그냥 가져다 쓰라고 합니다.</p>
							<p>코딩실력은 그런게 아니라 언제 어떻게 쓰느냐가 중요하다면서요..</p>
							<p>백앤드 개발자로 들어왔는데 HTML CSS를 몰라서 공부하고 있으면</p>
							<p>그런것도 아무 쓸모없다고 공부하지말라고 합니다 디자이너분께 조금 질문해도 자기 말 안듣는다면서</p>
							<p>굉장히 언짢게 쳐다봅니다.</p>
							<p>이런식이면 자료구조 알고리즘 같은 CS 지식은 아무런 쓸모도 없는거 아닌가하는 생각도 들고</p>
							<p>제가 잘못 생각하고 공부하고 있는건가요..?</p>
							<p>너무 신입이라 조심스럽게 여쭤봅니다.</p>
							<p>
								<br />
							<div class="button">
								<button type="button" class="btn mb-1 btn-info"
									style="margin-left: 0px; float: right; "
									onclick="location.href='noticeList'">목록보기</button>
								<!-- <button type="button" class="btn mb-1 btn-info"
									style="margin-left: 0px; float: right;"
									onclick="location.href='myQnaEdit'">수정하기</button> -->
							</div>


						</div>



					</div>

				</div>

				




			</nav>
		</div>
	</div>

	<!-- 기본 폼 완성 -->

	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
</body>
</html>