<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!-- 공통 헤더-->
	<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
<style>
 #contain {
 background-color:white;
 height: 30%; 
 }
 #content-body{ 
 margin-left: 29px;
 margin-top: 29px;
 }
 #content-body2{
 background-color:white; 
 margin-left: 29px;
 margin-top: 29px;
  height: 15%;
 }
 .button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 110px;
  margin-right:45px;
}
</style>
<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<!-- 공통 sidenav -->
	<div class="bodiary-wrapper">
	<div class="row mt-4">
		<nav class="col-2 ml-3 mr-0" style="height: 450px;">
			<!-- <aside id="sidebar" class="js-custom-scroll side-nav" th:replace="common/sidebar :: sidebarFragment">
			</aside> -->
		</nav>
		
		<nav class="col-8 ml-3 mr-0" >
			<div id="contain" class="side-nav-info card card-body border-primary pt-4 pb-4 pl-3 pr-0" > <!-- class="article col-sm-9" -->
				
				 
				 <!-- /////////////////////////////////////////////////////////////////////////////////////////  -->
				 <div id="content-body" class="panel-body content-body pull-left">
                        <div class="content-tags" style="margin-bottom: 21px;">
                            <span class="list-group-item-text article-id" style="margin-right:930px">#734025</span>
                            <span class="list-group-item-text article-id">2020-07-02 11:47:20</span>
                        </div>
                        <h2 class="panel-title">
                            
                            	공지사항입니다.
                        </h2>
                        <hr style="margin-right: 45px;"/>
                        <article class="content-text" style="margin-right: 45px;" itemprop="articleBody">
                        
                            
                              	공지사항입니다.
                            
                        
                        </article>

					
					
					
					
					<div class="button">
						<button type="button" class="btn mb-1 btn-info" style="margin-left: 0px; float: right; margin-right:50px;" onclick="location.href='noticeList'">목록보기</button>
						<!-- <button type="button" class="btn mb-1 btn-info" style="margin-left: 0px; float: right;" onclick="location.href='noticeEdit'">수정하기</button> -->
					</div>	
				
				
                </div>
					
				<!-- /////////////////////////////////////////////////////////////////////////////////////////  -->	
				
				
				 			
			</div>
			
			
	
	
			
			
		</nav>		
	</div>
	</div>

	<!-- 기본 폼 완성 -->

	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
</body>
</html>