<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>

<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<!-- 공통 sidenav -->
	
	<div class="bodiary-wrapper">
		<div class="content">
		<div class="row">
			<div class="col-11">
               <h2 class="m-0 text-primary" id="">제목</h2>
              </div>
              <div class="col-1">
               <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                        <span class="activity active"></span> <i
                           class="icon-options-vertical"></i>
                     </div>
                                    <div class="basic-dropdown">
                        <div class="dropdown-menu">
                           <a class="dropdown-item" href="#">신고</a>
                           <a class="dropdown-item" href="#">삭제</a>
                        </div>

                                    </div>
              </div>
				<div class="col-6">
							<div class="card">
									<h5 class="card-title">시작사진</h5>
								<img class="routine-img " src="assets/images/profile.jpg" alt="">
								<div class="card-body">
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="card">
									<h5 class="card-title">끝사진</h5>
								<img class="routine-img " src="assets/images/dkdk.gif" alt="">
								<div class="card-body">
								</div>
							</div>
						</div>
					<div class="col-12">	
					<div class="card">
					<div class="card-body">
						<hr>
						<div class="media mb-4 mt-1">
							<div class="media-body">
								<span class="float-right">날짜?</span>
								
							</div>
						</div>
						<p id="">
							컨텐츠<br>
							컨텐츠<br>
							컨텐츠<br>
							컨텐츠<br>
							컨텐츠<br>
							컨텐츠<br>
							컨텐츠<br>
							컨텐츠<br>
							컨텐츠<br>
							컨텐츠<br>
							컨텐츠<br>
							컨텐츠<br>
						</p>
						</div>
						</div>
						<hr>
						</div>
                            <div class="col-6"> 
                        <div class="card">
                            <div class="card-body">
                              <div class="basic-list-group">
                                    <ul class="list-group">
                                        <li class="list-group-item active">루틴이름-유산소</li>
                                        <li class="list-group-item">걷기</li>
                                        <li class="list-group-item">달리기</li>
                                    </ul>
                                </div>  
                                  </div>  
                                </div>
                                </div>
                                <div class="col-6"> 
                                 <div class="card">
                            <div class="card-body">
                              <div class="basic-list-group">
                                    <ul class="list-group">
                                        <li class="list-group-item active">루틴이름-무산소</li>
                                        <li class="list-group-item">벤치프레스</li>
                                        <li class="list-group-item">데드리프트</li>
                                        <li class="list-group-item">오버헤드밀리터리프레스</li>
                                        <li class="list-group-item">스쿼트</li>
                                    </ul>
                                </div>  
                                </div>
                            </div>
                    </div>
                    	<div class="col-12">
                    	<div class="row">
                                    <div class="col-6">
                                        <a class="text-center d-block text-muted" href="javascript:void()">
                                            <i class="fa fa-star gradient-1-text" aria-hidden="true"></i>
                                            <p class="">00개</p>
                                        </a>
                                    </div>
                                    <div class="col-6"><a class="text-center d-block text-muted" href="javascript:void()">
                                        <i class="fa fa-heart gradient-3-text"></i>
                                            <p class="">00개</p>
                                        </a>
                                    </div>
                                   
                                </div>
						<div class="col-12">
						<!-- 오주시작 -->
						<p class="card-text">
                  <i class="icon-bubble"></i>댓글 5
               </p>

               <div class="mt-5">
                  <div class="row">
                     <div class="col-11">
                        <b>익명 1</b> <span class="badge badge-pill badge-info">작성자</span> <span><i class="icon-clock"></i>2020.07.03
                           11:23</span>
                           <span>&nbsp;&nbsp;답글쓰기</span>
                     </div>
                     <div class="user-img c-pointer position-relative"
                        data-toggle="dropdown">
                        <span class="activity active"></span> <i
                           class="icon-options-vertical"></i>
                     </div>
                     <div class="basic-dropdown">


                        <div class="dropdown-menu">
                           <a class="dropdown-item" href="#">수정</a>
                           <a class="dropdown-item" href="#">삭제</a>

                        </div>

                     </div>
                  </div>
                  <div>꿀팁감사</div>


               </div>
                  <div class="mt-5 pl-5">
                  <div class="row">
                     <div class="col-11">
                        <b>익명 2</b> <span><i class="icon-clock"></i>2020.07.03
                           11:23</span>
                     </div>
                     <div class="user-img c-pointer position-relative"
                        data-toggle="dropdown">
                        <span class="activity active"></span> <i
                           class="icon-options-vertical"></i>
                     </div>
                     <div class="basic-dropdown">


                        <div class="dropdown-menu">
                           <a class="dropdown-item" href="#">신고</a>
                           
                        </div>

                     </div>
                  </div>
                  <div>ㅋㅋ뭐하냐?</div>


               </div>
                  <div class="mt-5">
                  <div class="row">
                     <div class="col-11">
                        <b>익명 3</b> <span><i class="icon-clock"></i>2020.07.03
                           11:23</span>
                     </div>
                     <div class="user-img c-pointer position-relative"
                        data-toggle="dropdown">
                        <span class="activity active"></span> <i
                           class="icon-options-vertical"></i>
                     </div>
                     <div class="basic-dropdown">


                        <div class="dropdown-menu">
                           <a class="dropdown-item" href="#">신고</a>

                        </div>

                     </div>
                  </div>
                  <div>개소리ㅋㅋ</div>


               </div>
                  <div class="mt-5">
                  <div class="row">
                     <div class="col-11">
                        <b>익명 4</b> <span><i class="icon-clock"></i>2020.07.03
                           11:23</span>
                     </div>
                     <div class="user-img c-pointer position-relative"
                        data-toggle="dropdown">
                        <span class="activity active"></span> <i
                           class="icon-options-vertical"></i>
                     </div>
                     <div class="basic-dropdown">


                        <div class="dropdown-menu">
                           <a class="dropdown-item" href="#">신고</a>

                        </div>

                     </div>
                  </div>
                  <div>꿀팁감사</div>


               </div>
                  <div class="mt-5">
                  <div class="row">
                     <div class="col-11">
                        <b>익명 5</b> <span><i class="icon-clock"></i>2020.07.03
                           11:23</span>
                     </div>
                     <div class="user-img c-pointer position-relative"
                        data-toggle="dropdown">
                        <span class="activity active"></span> <i
                           class="icon-options-vertical"></i>
                     </div>
                     <div class="basic-dropdown">


                        <div class="dropdown-menu">
                           <a class="dropdown-item" href="#">신고</a>

                        </div>

                     </div>
                  </div>
                  <div>꿀팁감사</div>


               </div>
						<!-- 오주끝-->
						<hr>
						
						<div class="form-group p-t-15">
						<form>
							<textarea class="w-100 p-20 l-border-1" name="" id="" cols="30"
								rows="5"
								placeholder="댓글을 입력해주세요"></textarea>
								<button id="submit" class="btn btn-info btn-rounded" onclick="" type="submit" value="submit">등록하기</button>
						</form>
						</div>
						</div>
					
					</div>
				</div>
		</div>
	</div>

	<!-- 기본 폼 완성 -->

	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
</body>
</html>