<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<!-- 공통 헤더-->
	<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
	
<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<!-- 공통 sidenav -->
	<div class="row mt-4">
	<nav class="col-2 ml-3 mr-0">
	</nav>
	<div class="container-fluid">
                <div class="routineBrdForm">
                <form action="">
               
                <div class="row">
                	<div class="col-12">
                        <input type="text" class="form-control bg-transparent" placeholder="제목을 입력하세요">
                         </div>
                    	<div class="col-6">
                    	
                                <div class="card">
                                    <img class="img-fluid" src="" alt="">
                                    <div class="card-body">
                                        <h5 class="card-title">시작사진</h5>
                                            <div class="form-group">
                                                <div class="fallback">
                                                    <input class="btn btn-outline-primary m-b-30 m-t-15 f-s-14 p-l-20 p-r-20 m-r-10" name="file" type="file" multiple="multiple">
                                                </div>
                                            </div>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="card">
                                    <img class="img-fluid" src="" alt="">
                                    <div class="card-body">
                                        <h5 class="card-title">끝사진</h5>
                                         <div class="form-group">
                                                <div class="fallback">
                                                    <input class="btn btn-outline-primary m-b-30 m-t-15 f-s-14 p-l-20 p-r-20 m-r-10" name="file" type="file" multiple="multiple">
                                                </div>
                                            </div>
                                        
                                    </div>
                                </div>
                            </div>
                             <div class="col-12">
                             <div class="form-group">
                                            <select class="form-control">
                                                <option>루틴선택하기</option>
                                                <option>Option 2</option>
                                                <option>Option 3</option>
                                            </select>
                                        </div>
                                        </div>
                            
                    <div class="col-12">
                    <div class="card">
                            <div class="card-body">
                                <div class="summernote">
                                    <h3>Default Summernote</h3>
                                </div>
                            </div>
                        </div>
                      <div class="form-group">
								<div class="form-check form-check-inline">
									<label class="form-check-label"> <input type="checkbox"
										class="form-check-input" value="">몸무게비공개
									</label>
								</div>
								<div class="form-check form-check-inline">
									<label class="form-check-label"> <input type="checkbox"
										class="form-check-input" value="">동성에게만공개
									</label>
								</div>
							</div>
                        <div class="card">
                            <div class="card-body">
                                <div class="click2edit m-b-40">루틴을 자랑할까요?</div>
                                <button id="submit" class="btn btn-info btn-rounded" onclick="" type="submit" value="submit">Submit</button>
                                <button id="save" class="btn btn-success btn-rounded" onclick="" type="button">뒤로가기</button>
                            </div>
                        </div>
                    </div>
                  
                </div>
                  </form>
                  </div>
            </div>

	</div>
	<!-- 기본 폼 완성 -->

	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
</body>
</html>