<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더 -->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<!-- 공통 sidenav -->
	<div class="bodiary-wrapper">
		<div class="content mt-4">
			<div class="card">
				<div class="card-body">
					<div class="basic-form">
						<form action="routineBrdInsert" method="post" enctype="multipart/form-data">
							<!-- 제목 start -->
							<div class="col-12">
							   <input type="text" class="form-control bg-transparent" placeholder="제목을 입력하세요">
							</div>
							<!-- 제목 end -->
							
							<!-- 이미지 start -->
							<div class="row p-3">
							   <div class="col-6">
							      <h5 class="card-title p-3">Before</h5>
							      <div class="card-body">
							         <div class="form-group">
							            <div class="fallback">
							                <input class="btn btn-outline-primary" name="file" type="file" multiple="multiple">
							            </div>
							         </div>
							      </div>
							   </div>						   
							   <div class="col-6">
							      <h5 class="card-title p-3">After</h5>
							        <div class="card-body">
							         <div class="form-group">
							            <div class="fallback">
							               <input class="btn btn-outline-primary" name="file" type="file" multiple="multiple">
							            </div>
							         </div>
							       </div>
							   </div>
							</div>
							<!-- 이미지 end -->
							    
							<!-- 루틴 선택하기 start -->
							<div class="col-12">
							   <div class="form-group">
							      <select class="form-control">
							          <option>루틴 선택하기</option>
							          <option>&nbsp;루틴 1</option>
							          <option>&nbsp;루틴 2</option>
							      </select>
							   </div>
							</div>
							<!-- 루틴 선택하기 end -->
							
							<!-- 썸머노트 start -->
							<div class="col-12">
								<div class="summernote">
								</div>
							</div>
							<!-- 썸머노트 end -->
							
							<!-- 공개 여부 start -->
							<div class="row mt-4 ml-4">
							   <div class="form-group">
							      <div class="form-check form-check-inline">
							         <label class="form-check-label">
							            <input type="checkbox" class="form-check-input" value=""> 몸무게 비공개
							         </label>
							      </div>
							      <div class="form-check form-check-inline">
							         <label class="form-check-label">
							            <input type="checkbox" class="form-check-input" value=""> 동성에게만 공개하기
							         </label>
							      </div>
							   </div>
							</div>
							<!-- 공개 여부 end -->
							
							<!-- 버튼 start -->                  
							<div class="row mr-4" style="float:right">
								<button id="save" class="btn btn-outline-primary btn-sm" onclick="" type="button">임시저장</button>&nbsp;&nbsp;
								<button type="submit" class="btn btn-primary btn-sm">확인</button>
							</div>
							<!-- 버튼 end -->
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
</body>
</html>