<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더 -->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
<body>
   <!-- 공통 nav -->
   <th:block th:replace="common/nav :: navFragment"></th:block>
   <!-- 공통 sidenav -->
   <div class="bodiary-wrapper">
      <div class="content mt-4">
      
         <!-- 제목 start -->
         <div class="row">
            <div class="col-11">
               <div class="card p-2 mb-1" >
                  <h2 class="pt-2 pl-4"><span th:text="${routineBoard.routine_brd_title}"></span></h2>
               </div>
            </div>
            <div class="col-1">
            	<div class="user-img c-pointer position-relative center mt-3" data-toggle="dropdown">
                     <span class="activity active"></span>
                           <i class="icon-options-vertical"></i>
                </div>
                <div class="basic-dropdown">
                    <div class="dropdown-menu">
                    	<th:block th:if="${session.currentUser.user_email} != ${routineBoard.user_email}">
                    	 <th:block th:if="${session.currentUser.user_email} != 'admin@bodiary.or.kr'">
                        	<a class="dropdown-item" href="#">신고</a>
                        	 </th:block>
                        </th:block>
                        <th:block th:unless="${session.currentUser.user_email} != ${routineBoard.user_email}">
	                        <a class="dropdown-item" th:href="@{/routineBrdEdit(routine_brd_seq=${routineBoard.routine_brd_seq})}">수정</a>
	                        <a class="dropdown-item" href="javascript:deleteCheck();">삭제</a>
                        </th:block>
                        
                        <th:block th:if="${session.currentUser.user_email.equals('admin@bodiary.or.kr')}">
	                        <a class="dropdown-item" th:href="@{/routineBrdEdit(routine_brd_seq=${routineBoard.routine_brd_seq})}">수정</a>
	                        <a class="dropdown-item" href="javascript:deleteCheck();">삭제</a>
                        </th:block>
                	</div>
                </div>
            </div>
         </div>
         <!-- 제목 end -->
         <div class="media m-3">
         	<div class="media-body">
            	<i class="icon-clock"></i>&nbsp;&nbsp;
                	<span th:text="${routineBoard.routine_brd_regdate}" class="card-text"></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <i class="icon-eye"></i>
                     &nbsp;&nbsp;
                    <span th:text="${routineBoard.routine_brd_hit}" class="card-text" ></span>
            </div>
         </div>
         <!-- 이미지 start -->
         <!-- 이미지 & 글 묶어버림 -->
         <div class="card">
         
         <div class="row m-3">
            <div class="col-6">
               <div class="h-100 p-3">
                  <h5 class="card-title">BEFORE</h5>
                  <div class="card-body">
                     
                     <img class="routine-img"
                                       th:src="@{assets/upload/routineBrdUpload/}+${routineBoard.brd_image1}"
                                       >
                  </div>
               </div>
            </div>
            <div class="col-6">
               <div class="h-100 p-3">
               <h5 class="card-title">AFTER</h5>
                  <div class="card-body">
                     <img class="routine-img"
                                       th:src="@{assets/upload/routineBrdUpload/}+${routineBoard.brd_image2}"
                                       >
                  </div>
               </div>
            </div>
         </div>
         <!-- 이미지 end -->
         
         <!-- 내용 end -->
         <div class="row mt-4">
            <div class="col-12">
               <div class="m-5 pb-4">
               <div style="white-space:pre;"><span th:text="${routineBoard.routine_brd_content}"></span></div>

                   
               </div>
                 <!-- 좋아요 추천수 start -->
               <div class="center pb-5">
               <h4>게시글 좋아요</h4>
                  <a class="text-center d-block text-muted" href="javascript:selectRoutineBrdLike()">
                     <i id="likeIcon"style="display: none;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path fill="none" d="M0 0H24V24H0z"/><path d="M16.5 3C19.538 3 22 5.5 22 9c0 7-7.5 11-10 12.5C9.5 20 2 16 2 9c0-3.5 2.5-6 5.5-6C9.36 3 11 4 12 5c1-1 2.64-2 4.5-2z" fill="rgba(237,70,94,1)"/></svg></i>
                     <i id="dislikeIcon" style="display: none;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32"><path fill="none" d="M0 0H24V24H0z"/><path d="M16.5 3C19.538 3 22 5.5 22 9c0 7-7.5 11-10 12.5C9.5 20 2 16 2 9c0-3.5 2.5-6 5.5-6C9.36 3 11 4 12 5c1-1 2.64-2 4.5-2zm-3.566 15.604c.881-.556 1.676-1.109 2.42-1.701C18.335 14.533 20 11.943 20 9c0-2.36-1.537-4-3.5-4-1.076 0-2.24.57-3.086 1.414L12 7.828l-1.414-1.414C9.74 5.57 8.576 5 7.5 5 5.56 5 4 6.656 4 9c0 2.944 1.666 5.533 4.645 7.903.745.592 1.54 1.145 2.421 1.7.299.189.595.37.934.572.339-.202.635-.383.934-.571z" fill="rgba(191,193,230,1)"/></svg></i>
                     <span id="brdlike"></span>
                  </a>
               </div>
         <!-- 좋아요 추천수 end -->
            </div>
         </div>
         </div>
         <!-- 내용 end -->
         
         <!-- 루틴 start -->         
         <div class="row mt-2">
            <div class="col-12">
               <div class="card">
                  <div class="card-body border-0 bg-transparent">
                     <div class="row">
                        <div class="col-6 pt-3">                                        
                           <div class="text-center">
                              <div class="basic-list-group">
                                  <table class="table table-hover">
                                         <tr><td colspan="2" style="border-bottom: 1px solid #7571f9; border-top:none; color:#7571f9; font-size :18px;">유산소</td></tr>
                                               <tr  th:each="r : ${routine}">
                                               <th:block th:if="${r.excs_kind}=='C' ">
                                                  <td th:text="${r.excs_name}"></td><td th:text="${r.routine_exercise_hour}"></td>
                                               </th:block>
                                               </tr>
                                               </table>
                              </div>
                           </div>
                        </div>
                        <div class="col-6 pt-3">
                           <div class="text-center">
                              <div class="basic-list-group">
                                 <table class="table table-hover">
                                         <tr><td colspan="2" style="border-bottom: 1px solid #7571f9;border-top:none; color:#7571f9; font-size :18px;">무산소</td></tr>
                                               <tr  th:each="r : ${routine}">
                                               <th:block th:if="${r.excs_kind}=='N' ">
                                                  <td th:text="${r.excs_name}"></td><td th:text="${r.routine_set}+'  세트    '+${r.routine_reps_per_set}+'   회'"></td>
                                               </th:block>
                                               </tr>
                                 </table>
                              </div>  
                           </div>
                        </div>
                     </div>
            		
                  </div>
               </div>
            </div>
         </div>
         <!-- 루틴 end -->
         
         
         <!-- 댓글 start -->
         <div class="card p-5">
       
                <!-- 오주시작 -->
                <div class="form-group pt-5">
                  <form method="post">
                     <textarea class="w-100 p-4 l-border-1 routineCmtTextarea" name="" id="routineCmtTextarea" 
                     	cols="30" rows="4" placeholder="댓글을 입력해주세요" style="resize:none;"></textarea>
                        <button id="routineCmtBtn" class="btn btn-outline-primary btn-lg routineCmtBtn" type="button" style="width:100%;">등록하기</button>
                  </form>
                </div>
                <div class="mt-0">
                  <span class="card-text " id="replyCount"><i class="icon-bubble"></i></span>
				</div>
			   <div id="replyList">
	               <div class="mt-5 ">
	                  <div class="row ">
	                     <div class="col-11">
	                        <b>익명 1</b> <span class="badge badge-pill badge-info">작성자</span> <span><i class="icon-clock"></i> 2020.07.03
	                           11:23</span>
	                           <span>&nbsp;&nbsp;답글쓰기</span>
	                     </div>
	                     <div class="user-img c-pointer position-relative"
	                        data-toggle="dropdown">
	                        <span class="activity active"></span>
	                        <i class="icon-options-vertical"></i>
	                     </div>
	                     <div class="basic-dropdown">
	                        <div class="dropdown-menu">
	                           <a class="dropdown-item" href="#">수정</a>
	                           <a class="dropdown-item" href="#">삭제</a>
	                        </div>
	                     </div>
	                  </div>
	                  <div>꿀팁감사</div>
	               </div>
               </div>
                  <hr>
                  
                  </div>                  
                  <button id="" class="btn btn-primary mb-5" onclick="location.href='routineBrdList'" value="목록보기">목록보기</button>
               
               </div>
            </div>
     
   <!-- 기본 폼 완성 -->

   <!-- 공통 스크립트-->
   <th:block th:replace="fragments/script :: scriptFragment"></th:block>
   
   <script type="text/javascript" th:inline="javascript">
   	/*<![CDATA[*/
   		var routine_brd_seq = /*[[ ${routineBoard.routine_brd_seq} ]]*/;
   		var user_email = /*[[${session.currentUser.user_email}]]*/;
   			/*]]>*/
   
	  
		function deleteCheck() {
			 if (confirm("정말 삭제하시겠습니까?") == true){    //확인
				location.href="routineBrdDelete?routine_brd_seq="+routine_brd_seq;
			 }else{   //취소
			     return false;
			 }
		}	
   			
   		function selectRoutineBrdLike() {
   			$.ajax({
				type:'POST',
				url: 'checkRoutineBrdLike',
				data:{'routine_brd_seq' : routine_brd_seq ,
					   'user_email' : user_email},
				success:function(data){
					if(data > 0) {
						cancleRoutineBrdLike();
						$('#dislikeIcon').show();
						$('#likeIcon').hide();
					
					} else{
						addRoutineBrdLike();
						$('#likeIcon').show();
						$('#dislikeIcon').hide();
					}
				}
		    });
		}
   		
   		
   		function cancleRoutineBrdLike() {
   			$.ajax({
				type:'POST',
				url: 'cancleRoutineBrdLike',
				data:{'routine_brd_seq' : routine_brd_seq ,
					   'user_email' : user_email},
				success:function(data){
					countRoutineBrdLike();
				}
		    });
		}
   		
		
		
		function addRoutineBrdLike() {
			$.ajax({
				type:'POST',
				url: 'addRoutineBrdLike',
				data:{'routine_brd_seq' : routine_brd_seq ,
					   'user_email' : user_email},
				success:function(data){
					countRoutineBrdLike();
				}
		    });
		}
		
		function countRoutineBrdLike() {
			$.ajax({
				type:'POST',
				url: 'countRoutineBrdLike',
				data:{'routine_brd_seq' : routine_brd_seq},
				success:function(data){
					$('#brdlike').html(data);
				}
		    });
		}
		
   		
   		/* ------------------------------------------------------------------------ */		
   		$(function(){
   			//루틴 자랑 게시판 댓글 불러오기
   			getReplyList();
   			
   			$.ajax({
				type:'POST',
				url: 'checkRoutineBrdLike',
				data:{'routine_brd_seq' : routine_brd_seq ,
					   'user_email' : user_email},
				success:function(data){
					if(data > 0) {
					
						$('#likeIcon').show();
						$('#dislikeIcon').hide();
					} else{
					
						$('#dislikeIcon').show();
						$('#likeIcon').hide();
					}
			
					countRoutineBrdLike();
					
				}
		    });
   			
   			
   			
   			
   		});
   		/* 댓글 출력 함수 */
   		/*<![CDATA[*/
   		function printData(data){
   			
   			$('#replyCount').html('댓글 '+data.length);
   			
   			console.log(data);
   			
   			let session_email = /*[[${session.currentUser.user_email}]]*/; 
   			let session_nickname = /*[[${session.currentUser.user_nickname}]]*/; 
   			let a= "";
   			
   			console.log(session_email);
   			
   			$.each(data, function(){
   				//console.log(data);
   				
   				/* depth 체크 */
   				let depthCss = "";
   				let depthStyle="";
   				let reCmt ="";
   				if(this.routine_cmt_depth == 1){
   					depthCss += " ml-4 pl-5";
   					depthStyle=" background-color : #f9f9ff;";
   				}else if(this.routine_cmt_depth == 0){
   					/* 답글쓰기 버튼 */
   					reCmt += "<span class='text-primary reCmtBtn reCmtBtn_"+this.routine_cmt_seq+"' id='reCmtBtn' style='cursor:pointer' routine_cmt_seq ='"+ this.routine_cmt_seq +"' user_nickname='"+ this.user_nickname +"' routine_cmt='"+ this.routine_cmt +"'>답글 쓰기</span>";
   				}

   				/* session_email == reply_email 케이스 */
   				let idCss = "";
   				let dropdownItem ="";
   				
   				if(session_email == this.user_email) {
   					idCss +="<span class='badge badge-primary'>나</span>";
   					dropdownItem += "<span class='dropdown-item modify_seq_"+this.routine_cmt_seq+"' id='cmtModifyBtn'";
   					dropdownItem += " routine_cmt_seq='" + this.routine_cmt_seq + "' user_email='"+this.user_email+"' routine_cmt='"+ this.routine_cmt +"' routine_brd_seq='"+this.routine_brd_seq+"' onclick='modifyCmt(this)'>수정</span>";
   					dropdownItem += "<span class='dropdown-item delete_seq_"+this.routine_cmt_seq+"' routine_cmt_seq='"+this.routine_cmt_seq+"' routine_brd_seq='"+this.routine_brd_seq+"'id='cmtDeleteBtn' routine_cmt_depth='"+this.routine_cmt_depth+"' onclick='deleteCmtCheck(this)'>삭제</span>";
   				}else{
   					dropdownItem += "<a class='dropdown-item' id='cmtReportBtn'>신고</a>";
   				}
//     				console.log(dropdownItem);
   				/* session_email == 작성자 케이스 */
   				
   				a += "<div class='cmt"+ depthCss +"' style='padding-top:20px; padding-bottom: 30px; border-top : 1px solid #ecf0f9;"+depthStyle+"'>";
   				a += "<div class='row'>";
   				a += "   <div class='col-11'>";
   				a += "      <b>"+ this.user_nickname +"</b>&nbsp;&nbsp;" + idCss +" <span><i class='icon-clock'></i> "+ this.routine_cmt_date +"</span>";
   				a += "   	<span>&nbsp;&nbsp;"+reCmt+"</span>";
   				a += "   </div>";
   				a += "   <div class='user-img c-pointer position-relative' data-toggle='dropdown'>";
   				a += "      <span class='activity active'></span>";
   				a += "		<i class='icon-options-vertical'></i>";
   				a += "   </div>";
   				a += "   <div class='basic-dropdown'>";
   				a += "		<div class='dropdown-menu'>";
   				a += "         " + dropdownItem + "";
   				a += "      </div>";
   				a += "   </div>";
   				a += "</div>";
   				a += "<div class='mt-3 routin_cmt_"+this.routine_cmt_seq+"'>" + this.routine_cmt + "</div>";
   				a += "</div>";

   			});
   			
   			$('#replyList').html(a);
		    $('#routineCmtTextarea').val("");
   		}
   		/*]]>*/
   		
   		
   		/* 댓글 리스트 불러오기 함수 */
   		function getReplyList(){
   			let data = {routine_brd_seq : /*[[ ${param.routine_brd_seq[0]}]]*/};
   			
   			$.ajax(
   				{
   					url: "routineCmtList",
   					dataType : "JSON",
   					type : "POST",
   					data : data,
   					success :function(responsedata)
   						{
   							printData(responsedata);
   						}
   				}
   			);
   		};
   		/* 댓글 작성하기 함수 */
   		/*<![CDATA[*/
   		$('#routineCmtBtn').on("click", function(){
   			console.log('#routineCmtBtn 클릭');
   			if($.trim($('#routineCmtTextarea').val())=="")
   				{
   					alert("댓글을 입력하세요.");
   					$('#routineCmtTextarea').focus();
   					return false;
   				}
   			
   			let data = {
   					routine_brd_seq : /*[[ ${param.routine_brd_seq[0]}]]*/,
   					user_email : /*[[${session.currentUser.user_email}]]*/,
   					user_nickname : /*[[${session.currentUser.user_nickname}]]*/,
   					routine_cmt : $.trim($('#routineCmtTextarea').val())
   			};
//    			console.log(data);
   			$.ajax(
   				{
   					url : "routineCmtInsert",
   					dataType : "JSON" , 
   					type : "POST", 
   					data : data, 
   					success : function(responsedata)
   					{	
//    						console.log(responsedata);
   						printData(responsedata);
   					}
   				}
   			);
   		});
   		/*]]>*/
   		
   		/* 댓글 수정 폼 불러오기 */
		/*<![CDATA[*/
		function modifyCmt(data){
			console.log('나와라예~'+$(data).attr('user_email'));
			
// 			 
			
			let a = "";
			let session_email = /*[[${session.currentUser.user_email}]]*/; 
			
			var textModifyContent = $(data).parent().parent().parent().next();
			
// 			console.log(textModifyContent.children('.routineCmtTextarea').length);
			if(textModifyContent.children('.routineCmtModifyTextarea').length == 0){
				console.log("textarea 없음")
				a += "<textarea class='w-100 p-4 l-border-1 mb-2 routineCmtModifyTextarea cmt_modify_"+$(data).attr('routine_cmt_seq')+"'>";
				a += $(data).attr('routine_cmt');
				a += "</textarea>";
				a += "<button class='btn btn-outline-dark w-10 mr-2' id='cmtModifyCancel' routine_cmt='"+$(data).attr('routine_cmt')+"'>취소</button>";
				a += "<button class='btn btn-primary w-90' id='cmtModifyUdateBtn'";
				a += "routine_cmt_seq='"+$(data).attr('routine_cmt_seq')+"' routine_brd_seq='"+$(data).attr('routine_brd_seq')+"' ";
				a += "user_email='"+$(data).attr('user_email')+"'>수정하기</button>";
				$(data).parent().parent().parent().next().html(a);
			}
		};
		/*]]>*/
		
		/* 댓글 수정하기 */
		/*<![CDATA[*/
		$(document).on('click', '#cmtModifyUdateBtn', function(){
			console.log('수정버튼눌렸음');
			var data = 
				{
					routine_cmt_seq	: $(this).attr('routine_cmt_seq'),
					routine_brd_seq : $(this).attr('routine_brd_seq'),
					routine_cmt : $('.cmt_modify_'+$(this).attr('routine_cmt_seq')).val(),
					user_email : /*[[${session.currentUser.user_email}]]*/,
					
				};
			console.log(data);
			$.ajax(
				{
					url : "routineCmtModifyUpdate",
					dataType : "JSON",
					type : "POST",
					data : data,
					success : function (responsedata)
						{
							printData(responsedata);
						}
				}	
			);
		});
		/*]]>*/
		/* 댓글 수정 취소하기 */
		$(document).on('click', '#cmtModifyCancel', function(){
			var a = $(this).attr('routine_cmt');
			$(this).parent().html(a);	
		});
		/* 댓글 삭제 */
		function deleteCmtCheck(data) {
			 if (confirm("정말 이 댓글을 삭제하시겠습니까?") == true){    //확인
				deleteCmt(data);
			 }else{   //취소
			     return false;
			 }
		}	
		function deleteCmt(data){
			var data2 = {
					routine_cmt_seq : $(data).attr('routine_cmt_seq'),
					routine_brd_seq : $(data).attr('routine_brd_seq'),
					routine_cmt_depth : $(data).attr('routine_cmt_depth')
			}
			$.ajax(
					{
						url : "routineCmtDelete",
						dataType : "JSON",
						type : "POST",
						data : data2,
						success : function(responsedata)
							{
								printData(responsedata);
							}
					}
				);
		}
		
		
   		//대댓글 창 불러오기
   		/*<![CDATA[*/
   		$(document).on('click', '#reCmtBtn', function(){
   			
   			
//    			console.log('reCmtBtn클릭' + $(this).attr('routine_cmt'));
   			
//    			console.log($(this).parent().parent().parent().parent().next().attr('class'));
   			var reCmtForm = $(this).parent().parent().parent().parent().next()
   			if(reCmtForm.attr('class') == 'reCmt_form_'+ $(this).attr("routine_cmt_seq")+' form-group reCmtBox mt-5 mb-2 pl-5 pr-4 pt-4 pb-4'){
   				reCmtForm.remove();
   				$(this).text('답글 쓰기');
   			}else{
   				let a='';
   				
//    				console.log($(this).attr("routine_cmt_seq"));
   				
   				a +='<div class="reCmt_form_'+ $(this).attr("routine_cmt_seq")
   				a += ' form-group reCmtBox mt-5 mb-2 pl-5 pr-4 pt-4 pb-4" style="border-top: 1px solid #e2e1f5;border-bottom: 1px solid #e2e1f5; background-color:#f8f8fe;">';
           		a += '<textarea id="reCmtTextarea" class="w-100 p-4 l-border-1 mb-2 ';
           		a += 'reCmtTextarea_'+$(this).attr("routine_cmt_seq")+'"';
           		a += 'cols="30" rows="3" placeholder="댓글을 입력해주세요" style="resize:none;" routine_cmt_seq="'+ $(this).attr("routine_cmt_seq") +'">';
           		a += '</textarea>';
       			a += '<button id="reCmtInsertBtn" class="btn btn-outline-primary btn-lg reCmtInsertBtn" type="button" style="width:100%;"';
       			a += ' routine_cmt_seq="'+$(this).attr("routine_cmt_seq")+'">등록하기</button>';
       			a += '</div>';
       			
       			
   				$(this).closest('.cmt').after(a);
   				$(this).text('답글 취소');
   			}
   		});
   		/*]]>*/
   		
   		//대댓글 등록
   		/*<![CDATA[*/
   		$(document).on('click', '#reCmtInsertBtn', function(){
   			let session_email = /*[[${session.currentUser.user_email}]]*/; 
   			let session_nickname = /*[[${session.currentUser.user_nickname}]]*/; 
   			console.log("클릭한 대댓등록버튼 시퀀스 : "+$('#reCmtInsertBtn').attr("routine_cmt_seq"));
   			
   			
   			if($.trim($('.reCmtTextarea_'+$(this).attr("routine_cmt_seq")).val()) == "") {
   				alert("댓글을 입력하세요.");
   				$('reCmtTextarea_'+$(this).attr("routine_cmt_seq")).focus();
   				return false;
   			}else{
   				console.log("댓글 입력은 했음 "+$('.reCmtTextarea_'+$(this).attr("routine_cmt_seq")).val());
   			}
   			let data = {
   					routine_brd_seq : /*[[ ${param.routine_brd_seq[0]}]]*/,
   					routine_cmt_ref : $(this).attr("routine_cmt_seq"),
   					user_email : session_email,
   					user_nickname : session_nickname,
   					routine_cmt : $('.reCmtTextarea_'+$(this).attr("routine_cmt_seq")).val()
   			}
			console.log(data);
   			
   			$.ajax(
   				{
   					url : "routineReCmtInsert",
   					dataType : "JSON" , 
   					type : "POST", 
   					data : data, 
   					success : function(responsedata)
   						{	
   							printData(responsedata);
   						}
   				}
   			
   			);
   			
   		});
   		
   		/*]]>*/
   
		
   </script>
</body>
</html>