<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더 -->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
<body>
   <!-- 공통 nav -->
   <th:block th:replace="common/nav :: navFragment"></th:block>
   <!-- 공통 sidenav -->
   <div class="bodiary-wrapper">
      <div class="content mt-4">
      
         <div class="card card-body pt-0 pb-0 pl-4">
            <div class="row">
               <div class="col p-2">
                  <h5 class="text">&nbsp;<span class="text-primary">ㅇㅇ</span>님의 루틴을 자랑해 보세요! <i class="icon-emotsmile"></i>
                     <a class="btn btn-outline-primary" href="routineBrdInsert" style="float:right">
                        <span>WRITE <span class="mdi mdi-pencil"></span></span>
                     </a>
                  </h5>
               </div>
            </div>
         </div>
         
         <!-- 인기 많은 루틴 start (전날 추천 많이 받은 루틴) -->
         <div class="card card-body pt-0 pb-0 pl-4">
            <div class="row">
               <div class="col p-3">
                  <h5 class="text"><span class="mb-1 text-danger"><i class="icon-fire"></i></span>&nbsp;HOT!</h5>
               </div>
            </div>
         </div>
         
         <div class="row">
            <div class="col-md-8 col-lg-4">
               <div class="card">
                  <img class="routine-img" src="assets/images/hand.jpg" alt="">
                     <div class="card-body">
                     <a href="routineBrdDetail?routine_brd_seq=1" class="card-link">
                        <h5 class="card-text mt-3 mb-5">
                           <span class="d-inline-block text-truncate" style="max-width: 250px;">제목줄이기제목줄이기제목줄이기제목줄이기제목줄이기제목줄이기제목줄이기</span>
                        </h5>
                     </a>
                     <div class="card-footer">
                        <p class="card-text float-right d-inline-block text-truncate mb-1" style="max-width: 150px;">
                           <small class="text-muted">닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임</small>
                        </p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-8 col-lg-4">
               <div class="card">
                  <img class="routine-img" src="assets/images/hand.jpg" alt="">
                  <div class="card-body">
                     <a href="" class="card-link">
                        <h5 class="card-text mt-3">제목</h5>
                     </a>
                  </div>
                  <div class="card-footer">
                     <p class="card-text d-inline"></p>
                     <a class="card-link float-right"><small>닉네임</small></a>
                  </div>
               </div>
            </div>
            <div class="col-md-8 col-lg-4">
               <div class="card">
                  <img class="routine-img" src="assets/images/l-white.png" alt="">
                  <div class="card-body">
                     <h5 class="card-title">루틴이름3</h5>
                     <p class="card-text">루틴컨텐츠3</p>
                  </div>
                  <div class="card-footer">
                     <p class="card-text d-inline"></p>
                     <a href="#" class="card-link float-right"><small>루틴링크3</small></a>
                  </div>
               </div>
            </div>
         </div>
         <!-- 인기 많은 루틴 end -->
         
         <!-- 오늘의 루틴 start -->
         <div class="card card-body pt-0 pb-0 pl-4">
            <div class="row">
               <div class="col p-2">
                  <h5 class="text"><span class="mb-1 text-danger"><span class="mdi mdi-calendar-check"></span></span>&nbsp;<span class="text-primary">7월 10일</span>의 루틴</h5>
               </div>
            </div>
         </div>
         
         <!-- masonry layout start -->
         <div class="container mb-4">
            <div class="row">
               <div class="card-columns">
                  
                  <div class="card p-3">
                     <img class="routine-img" src="assets/images/hand.jpg" alt="">
                     <div class="card-body">
                        <a href="routineBrdDetail?routine_brd_seq=1" class="card-link">
                           <h5 class="card-text mt-3 mb-3">제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기</h5>
                        </a>
                        <div class="card-footer">
                           <p class="card-text float-right">닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임닉네임</p>
                        </div>
                     </div>
                  </div>
                  <div class="card p-3">
                     <img class="routine-img" src="assets/images/hand.jpg" alt="">
                     <div class="card-body">
                        <a href="routineBrdDetail?routine_brd_seq=2" class="card-link">
                           <h5 class="card-text mt-3 mb-3">제목제목</h5>
                        </a>
                        <div class="card-footer">
                           <p class="card-text float-right">닉네임</p>
                        </div>
                     </div>
                  </div>
                  <div class="card p-3">
                     <img class="routine-img" src="" alt="">
                     <div class="card-body">
                        <a href="routineBrdDetail?routine_brd_seq=3" class="card-link">
                           <h5 class="card-text mt-3 mb-3">제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기</h5>
                        </a>
                        <div class="card-footer">
                           <p class="card-text float-right">닉네임</p>
                        </div>
                     </div>
                  </div>
                  <div class="card p-3">
                     <img class="routine-img" src="" alt="">
                     <div class="card-body">
                        <a href="routineBrdDetail?routine_brd_seq=4" class="card-link">
                           <h5 class="card-text mt-3 mb-3">제목제목</h5>
                        </a>
                        <div class="card-footer">
                           <p class="card-text float-right">닉네임닉네임</p>
                        </div>
                     </div>
                  </div>
                  <div class="card p-3">
                     <img class="routine-img" src="" alt="">
                     <div class="card-body">
                        <a href="routineBrdDetail?routine_brd_seq=3" class="card-link">
                           <h5 class="card-text mt-3 mb-3">제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기 제목길게하면..로줄이기</h5>
                        </a>
                        <div class="card-footer">
                           <p class="card-text float-right">닉네임</p>
                        </div>
                     </div>
                  </div>
                  <div class="card p-3">
                     <img class="routine-img" src="" alt="">
                     <div class="card-body">
                        <a href="routineBrdDetail?routine_brd_seq=4" class="card-link">
                           <h5 class="card-text mt-3 mb-3">제목제목</h5>
                        </a>
                        <div class="card-footer">
                           <p class="card-text float-right">닉네임닉네임</p>
                        </div>
                     </div>
                  </div>
                  <div class="card p-3">
                     <img class="routine-img" src="" alt="">
                     <div class="card-body">
                        <a href="routineBrdDetail?routine_brd_seq=4" class="card-link">
                           <h5 class="card-text mt-3 mb-3">제목제목</h5>
                        </a>
                        <div class="card-footer">
                           <p class="card-text float-right">닉네임닉네임</p>
                        </div>
                     </div>
                  </div>
                  <div class="card p-3">
                     <img class="routine-img" src="" alt="">
                     <div class="card-body">
                        <a href="routineBrdDetail?routine_brd_seq=4" class="card-link">
                           <h5 class="card-text mt-3 mb-3">제목제목</h5>
                        </a>
                        <div class="card-footer">
                           <p class="card-text float-right">닉네임닉네임</p>
                        </div>
                     </div>
                  </div>
                  <div class="card p-3">
                     <img class="routine-img" src="" alt="">
                     <div class="card-body">
                        <a href="routineBrdDetail?routine_brd_seq=4" class="card-link">
                           <h5 class="card-text mt-3 mb-3">제목제목</h5>
                        </a>
                        <div class="card-footer">
                           <p class="card-text float-right">닉네임닉네임</p>
                        </div>
                     </div>
                  </div>
                  <div class="card p-3">
                     <img class="routine-img" src="" alt="">
                     <div class="card-body">
                        <a href="routineBrdDetail?routine_brd_seq=4" class="card-link">
                           <h5 class="card-text mt-3 mb-3">제목제목</h5>
                        </a>
                        <div class="card-footer">
                           <p class="card-text float-right">닉네임닉네임</p>
                        </div>
                     </div>
                  </div>
               </div>               
            </div>
         </div>
         <!-- masonry layout end -->
         <!-- 오늘의 루틴 end -->
      </div>
   </div>
   <!-- 기본 폼 완성 -->

   <!-- 공통 스크립트-->
   <th:block th:replace="fragments/script :: scriptFragment"></th:block>
   
</body>
</html>