<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더 -->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>
<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<!-- 공통 sidenav -->
	<div class="bodiary-wrapper">
		<div class="content mt-4">

			<div class="card card-body pt-0 pb-0 pl-4">
				<div class="row">
					<div class="col p-2">
						<h5 class="text">
							&nbsp;<span class="text-primary"
								th:text="${session.currentUser.user_nickname}"></span>님의 루틴을 자랑해
							보세요! <i class="icon-emotsmile"></i> <a
								class="btn btn-outline-primary" href="routineBrdInsert"
								style="float: right"> <span>WRITE <span
									class="mdi mdi-pencil"></span></span>
							</a>
						</h5>
					</div>
				</div>
			</div>

			<!-- 인기 많은 루틴 start (전날 추천 많이 받은 루틴) -->
			<div class="card card-body pt-0 pb-0 pl-4">
				<div class="row">
					<div class="col p-3">
						<h5 class="text">
							<span class="mb-1 text-danger"><i class="icon-fire"></i></span>&nbsp;HOT!
						</h5>
					</div>
				</div>
			</div>

			<div class="row">

				<th:block th:each="today : ${todayHit}">

					<div class="grid-item card ml-3">
						<a
							th:href="@{/routineBrdDetail(routine_brd_seq=${today.routine_brd_seq})}"
							class="card-link"> <img
							th:src="@{assets/upload/routineBrdUpload/}+${today.brd_image2}" />
							<div class="card-body">

								<h5 class="card-text mt-3 mb-3"
									th:text="${today.routine_brd_title}"></h5>

								<div class="card-footer">
									<i class="icon-clock"></i>&nbsp;&nbsp; <span class="card-text"
										th:text="${today.routine_brd_regdate}"></span>
									&nbsp;&nbsp;&nbsp;&nbsp; <i class="icon-eye"></i>&nbsp;&nbsp; <span
										class="card-text" th:text="${today.routine_brd_hit}"></span>
									<p class="card-text float-right"
										th:text="${today.user_nickname}"></p>
								</div>
							</div>

						</a>
					</div>

				</th:block>

			</div>
			<!-- 인기 많은 루틴 end -->

			<!-- 오늘의 루틴 start -->
			<div class="card card-body pt-0 pb-0 pl-4">
				<div class="row">
					<div class="col p-2">
						<h5 class="text">
							<span class="mb-1 text-danger"><span
								class="mdi mdi-calendar-check"></span></span>&nbsp;<span
								class="text-primary">전체목록</span>
						</h5>
					</div>
				</div>
			</div>

			<!-- masonry layout start -->
			<div class="container mb-4 p-0">
				<div class="row">


					<div class="grid">
						<div class="grid-sizer"></div>
	
					</div>



				</div>
				<!-- masonry layout end -->
				<!-- 오늘의 루틴 end -->
			</div>
		</div>
		<!-- 기본 폼 완성 -->

		<!-- 공통 스크립트-->
		<th:block th:replace="fragments/script :: scriptFragment"></th:block>
		<script type="text/javascript">
   
		
		var cpval = 1;
	    
	    var isEnd = false;
	    
	    
	    
		$(function(){
			
	
				
		//무한스크롤 스크롤에 따라 동적인 변화 발생
		$(window).scroll(function() {
			
				var maxHeight = $(document).height();
				var currentScroll = window.scrollY + window.innerHeight;
					console.log("max : "+maxHeight);
					console.log("currentScroll : "+currentScroll);
					
			 	if (currentScroll +30 > maxHeight) {
			 			
			    	 	fetchList();
			 	}
			
		 });
			fetchList();
		
		
		});
		
		//스크롤이 바닥에 닿았을 때 비동기로 리스트 불러오기
		function fetchList() {
			console.log("비동기 전 cp : "+cpval)
			
			if(isEnd == true){
	            return;
	        }
			isEnd = true;
		    let data = {ps : 8,
					    cp : cpval
			           };	
			 console.log(data);
			$.ajax({
				url:"getRoutineBrdList",
				data: data,
				type:"POST",		
				dataType: "json",
				success:function(responsedata){
					console.log(responsedata.length);
					isEnd = false;
					$.each(responsedata ,function(index,obj){	
						
						console.log(obj);
						$('.grid').append(		
								'<div class="grid-item card">'+
									'<a href="routineBrdDetail?routine_brd_seq='+obj.routine_brd_seq+'" class="card-link">'+
											'<img src="assets/upload/routineBrdUpload/'+obj.brd_image2+'" />'+
											'<div class="card-body">'+
						                          '<h5 class="card-text mt-3 mb-3">'+obj.routine_brd_title+'</h5>'+
						          
						                        '<div class="card-footer">'+
						                        '<i class="icon-clock"></i>&nbsp;&nbsp;'+
						                    	'<span class="card-text">'+obj.routine_brd_regdate+'</span>'+
						                        '&nbsp;&nbsp;&nbsp;&nbsp;'+
						                        '<i class="icon-eye"></i>&nbsp;&nbsp;'+
						                        '<span class="card-text" >'+obj.routine_brd_hit+'</span>'+
						                           '<p class="card-text float-right">'+obj.user_nickname+'</p>'+
						                        '</div>'+
						                     '</div>'+
										
										'</a>'+
								'</div>'	
								
						   
						);
					});
					if(responsedata.length < 8) {
						isEnd = true;
						
					} else {
						cpval++
					} 
					var msnry = new Masonry( '.grid', {
						itemSelector: '.grid-item',
						// columnWidth: 200
						columnWidth: '.grid-sizer',
						percentPosition: true,
						gutter : 24,
						});
						imagesLoaded( '.grid' ).on( 'progress', function() {
						msnry.layout();
						});
					
				}
				
		      });
				  
		}
	</script>
</body>
</html>