<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 공통 헤더-->
<th:block
   th:replace="admin/adminFragments/adminHead :: adminHeadFragment"></th:block>

<body>
   <script src="https://code.highcharts.com/highcharts.js"></script>
   <script src="https://code.highcharts.com/modules/series-label.js"></script>

   <!--**********************************
        Main wrapper start
    ***********************************-->
   <div id="main-wrapper">
      <th:block th:replace="admin/adminCommon/adminNav :: adminNavFragment"></th:block>



      <!--**********************************
            Content body start
        ***********************************-->
      <div class="content-body">

         <div class="container-fluid mt-3">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <div class="card gradient-1">
                     <div class="card-body">
                        <h3 class="card-title text-white">오늘 가입한 회원수</h3>
                        <div class="d-inline-block">
                           <h2 class="text-white"><span id="todayUser"></span>명</h2>
                           <p class="text-white mb-0"><span id="todayDate"></span></p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i
                           class="fa fa-shopping-cart"></i></span>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <div class="card gradient-2">
                     <div class="card-body">
                        <h3 class="card-title text-white">바디어리 남녀 비율</h3>
                        <div class="d-inline-block">
                           <h2 class="text-white" id="genderPer">4 : 6</h2>
                           <p class="text-white mb-0">총 <span id="total-user"></span>명의 회원 기준</p>

                        </div>
                        <span class="float-right display-5 opacity-5"><i
                           class="fa fa-money"></i></span>
                     </div>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <div class="card gradient-3">
                     <a href="#">
                        <div class="card-body">
                           <h3 class="card-title text-white">Bodiary 수</h3>
                           <div class="d-inline-block">
                              <h2 class="text-white"><span id="countReport">3</span> 개</h2>
                              <p class="text-white mb-0"><span id="todayDate2"></span></p>
                           </div>
                           <span class="float-right display-5 opacity-5"><i
                              class="fa fa-users"></i></span>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <div class="card gradient-4">
                     <div class="card-body">
                        <h3 class="card-title text-white">탈퇴 회원 수</h3>
                        <div class="d-inline-block">
                           <h2 class="text-white"><span id="userDelete">3</span> 명</h2>
                           <p class="text-white mb-0"><span id="todayDate3"></span></p>
                        </div>
                        <span class="float-right display-5 opacity-5"><i
                           class="fa fa-heart"></i></span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col">
               <div class="card p-5">
                  <div >
                   <h4 class="mb-1">남녀 누적회원수</h4>
                     <div id="dailyUser" style="width:100%"></div>
                  </div>
                 
                  </div>
               </div>
               <div class="col">
               <div class="card p-5">
                  <div >
                   <h4 class="mb-1">가입자 수 변동 추이</h4>
                     <canvas id="chart_user"></canvas>
                  </div>
                 
                  </div>
               </div>
            </div>
           
         </div>
         <!-- #/ container -->
      </div>
      <!--**********************************
            Content body end
        ***********************************-->


      <!--**********************************
            Footer start
        ***********************************-->
      <th:block
         th:replace="admin/adminCommon/adminFooter :: adminFooterFragment"></th:block>
      <!--**********************************
            Footer end
        ***********************************-->
   </div>
   <!--**********************************
        Main wrapper end
    ***********************************-->
   <!-- 공통 스크립트-->
   <th:block
      th:replace="admin/adminFragments/adminScript :: adminScriptFragment"></th:block>
   <script>

      $(function() {
         var todaydate = new Date();
         Date.prototype.format = function (f) {
             if (!this.valueOf()) return " ";
             var weekKorName = ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"];
             var weekKorShortName = ["일", "월", "화", "수", "목", "금", "토"];
             var weekEngName = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
             var weekEngShortName = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
             var d = this;
             return f.replace(/(yyyy|yy|MM|dd|KS|KL|ES|EL|HH|hh|mm|ss|a\/p)/gi, function ($1) {
                 switch ($1) {
                     case "yyyy": return d.getFullYear(); // 년 (4자리)
                     case "yy": return (d.getFullYear() % 1000).zf(2); // 년 (2자리)
                     case "MM": return (d.getMonth() + 1).zf(2); // 월 (2자리)
                     case "dd": return d.getDate().zf(2); // 일 (2자리)
                     case "KS": return weekKorShortName[d.getDay()]; // 요일 (짧은 한글)
                     case "KL": return weekKorName[d.getDay()]; // 요일 (긴 한글)
                     case "ES": return weekEngShortName[d.getDay()]; // 요일 (짧은 영어)
                     case "EL": return weekEngName[d.getDay()]; // 요일 (긴 영어)
                     case "HH": return d.getHours().zf(2); // 시간 (24시간 기준, 2자리)
                     case "hh": return ((h = d.getHours() % 12) ? h : 12).zf(2); // 시간 (12시간 기준, 2자리)
                     case "mm": return d.getMinutes().zf(2); // 분 (2자리)
                     case "ss": return d.getSeconds().zf(2); // 초 (2자리)
                     case "a/p": return d.getHours() < 12 ? "오전" : "오후"; // 오전/오후 구분
                     default: return $1;
                 }
             });
         };
         String.prototype.string = function (len) { var s = '', i = 0; while (i++ < len) { s += this; } return s; };
         String.prototype.zf = function (len) { return "0".string(len - this.length) + this; };
         Number.prototype.zf = function (len) { return this.toString().zf(len); };
         
         
         var todaydate2 = todaydate.format('yyyy-MM-dd');
         
         
         $.ajax({
            url : "genderPer",
            type : "GET",
            dataType : "html",
            success : function(responsedata) {
//                alert('뭐라도 띄워봐');
               //console.log(responsedata);
               $('#genderPer').html(responsedata);
            },
            error : function(responsedata) {
               //console.log(responsedata);
               alert(responsedata + '에러라도 띄워봐1');
            }

         });
         $.ajax({
            url : "selectUserCount",
            type : "GET",
            dataType : "html",
            success : function(responsedata) {
//                alert('뭐라도 띄워봐');
               //console.log(responsedata);
               $('#total-user').html(responsedata);
            },
            error : function(responsedata) {
               //console.log(responsedata);
               alert(responsedata + '에러라도 띄워봐2');
            }

         });
         $.ajax({
            url : "userDelete",
            type : "GET",
            dataType : "html",
            success : function(responsedata) {
//                alert('뭐라도 띄워봐');
               //console.log(responsedata);
               $('#userDelete').html(responsedata);
            },
            error : function(responsedata) {
               //console.log(responsedata);
               alert(responsedata + '에러라도 띄워봐3');
            }

         });
         $.ajax({
            url : "countReport",
            type : "GET",
            dataType : "html",
            success : function(responsedata) {
//                alert('뭐라도 띄워봐');
               //console.log(responsedata);
               $('#countReport').html(responsedata);
            },
            error : function(responsedata) {
               //console.log(responsedata);
               alert(responsedata + '에러라도 띄워봐4');
            }

         });
         
         $.ajax({
            url : "todayUser",
            type : "GET",
            dataType : "html",
            success : function(responsedata) {

               $('#todayUser').html(responsedata);
               
            },
            error : function(responsedata) {
               //console.log(responsedata);
               alert(responsedata + '에러라도 띄워봐');
            }
       
         });
         $('#todayDate').html(todaydate2);
         $('#todayDate2').html(todaydate2);
         $('#todayDate3').html(todaydate2);
         //monthly회원
         $.ajax({
            url : "monthlyCount",
            type : "GET",
            dataType : "json",
            success : function(responsedata) {
               //alert(responsedata)
               let ctx = document.getElementById("chart_user");
                ctx.height = 150;
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ["5일전", "4일전", "3일전", "2일전", "어제", "오늘"],
                        type: 'line',
                        defaultFontFamily: 'Montserrat',
                        datasets: [{
                            data: [responsedata[0], responsedata[1],
                               responsedata[2], responsedata[3], 
                               responsedata[4], responsedata[5]],
                            label: "회원수",
                            backgroundColor: 'transparent',
                            borderColor: '#847DFA',
                            borderWidth: 2,
                            pointStyle: 'circle',
                            pointRadius: 5,
                            pointBorderColor: '#847DFA',
                            pointBackgroundColor: '#fff',
                        }]
                    },
                    options: {
                        responsive: !0,
                        maintainAspectRatio: true,
                        tooltips: {
                            mode: 'index',
                            titleFontSize: 12,
                            titleFontColor: '#fff',
                            bodyFontColor: '#fff',
                            backgroundColor: '#000',
                            titleFontFamily: 'Montserrat',
                            bodyFontFamily: 'Montserrat',
                            cornerRadius: 3,
                            intersect: false,
                        },
                        legend: {
                            display: false,
                            position: 'top',
                            labels: {
                                usePointStyle: true,
                                fontFamily: 'Montserrat',
                            },


                        },
                        scales: {
                            xAxes: [{
                                display: false,
                                gridLines: {
                                    display: false,
                                    drawBorder: false
                                },
                                scaleLabel: {
                                    display: false,
                                    labelString: 'Month'
                                }
                            }],
                            yAxes: [{
                                display: false,
                                gridLines: {
                                    display: false,
                                    drawBorder: false
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Value'
                                }
                            }]
                        },
                        title: {
                            display: false,
                        }
                    }
                });
            },
            error : function(responsedata) {
               //console.log(responsedata);
             
            }

         });
         //bar chart
         $.ajax({
            url : "dailyUser",
            type : "GET",
            dataType : "json",
            success : function(responsedata) {
               console.log(responsedata);
               console.log(responsedata[0].userDate);
               console.log(responsedata[0].man);
               console.log(responsedata[0].woman);
          Morris.Bar({
                element: 'dailyUser',
                data: [{
                   y: responsedata[6].userDate,
                    a: responsedata[6].man,
                    b: responsedata[6].woman,
                }, {
                   y: responsedata[5].userDate,
                    a: responsedata[5].man,
                    b: responsedata[5].woman,
                }, {
                   y: responsedata[4].userDate,
                    a: responsedata[4].man,
                    b: responsedata[4].woman,
                }, {
                   y: responsedata[3].userDate,
                    a: responsedata[3].man,
                    b: responsedata[3].woman,
                }, {
                    y: responsedata[2].userDate,
                       a: responsedata[2].man,
                       b: responsedata[2].woman,
                }, {
                       y: responsedata[1].userDate,
                       a: responsedata[1].man,
                       b: responsedata[1].woman,
                }, {
                       y: responsedata[0].userDate,
                       a: responsedata[0].man,
                       b: responsedata[0].woman,
                }],
                xkey: 'y',
                ykeys: ['a', 'b'],
                labels: ['남', '여'],
                barColors: ['#FC6C8E', '#7571f9'],
                hideHover: 'auto',
                gridLineColor: 'transparent',
                resize: true
            });
            },
            error : function(responsedata) {
               //console.log(responsedata);
            
            }

         });
         //setInterval("calMethod()",1000);//updating  
      });
      //live update
 
      
   </script>
   <script src="assets/plugins/peity/jquery.peity.min.js"></script>
    <script src="assets/js/plugins-init/peitychart.init.js"></script>
</body>
</html>