<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="admin/adminFragments/adminHead :: adminHeadFragment"></th:block>
<head>
	
	<!-- 데이터 테이블 사용시 추가  -->
 	<link href="assets/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>
    <!-- **************** -->
    
    <script>
        jQuery(function($){
            $("#foo-table").DataTable();
        });
    </script>
</head>
<body>
		<!-- 공통 nav -->
	<div class="bodiary-wrapper main-wrapper">
		<th:block th:replace="admin/adminCommon/adminNav :: adminNavFragment"></th:block>
	
			
		<div class="content-body p-4">
			<div class="card">
                      <div class="card-body">
				<!-- 유저관리 페이지  -->
					<div class="table-responsive">
					    <table id="foo-table" class="table table-bordered">
							<thead>
								<tr>
									<th>이메일</th>
									<th>닉네임</th>
									<th>성별</th>
									<th>누적신고수</th>
									<th>권한수정</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="userList : ${userList}">
									
									<td>
										<!-- 이메일 클릭시 유저 세부정보 나오게 하기 -->
										<a th:href="@{/adminUserBrdDetail(userEmail=${userList.user_email})}" th:text="${userList.user_email}"></a>
									</td>
									<td th:text="${userList.user_nickname}"></td>
									<td th:text="${userList.user_gender}"></td>
									<td th:text="${userList.user_reportedcount}"></td>
									<td>
										<!-- 모달 참고 사항 (모달값 동적으로 바뀌어야 할때 
											링크 : https://okky.kr/article/413416
											링크 : https://carami.tistory.com/61
											onClick시 파라미터로 문자전달  -> th:onclick="show([[${userList.user_grade}]])"
										 -->
				         				<i class="fa fa-pencil color-muted m-r-5" th:onclick="show([[${userList.role_name}]],[[${userList.user_email}]])"></i> 
										  <div class="bootstrap-modal">				                              
				                                 <div class="modal fade" id="exampleModalCenter" style="display: none;" aria-hidden="true">
				                                     <div class="modal-dialog modal-dialog-centered" role="document">
				                                         <div class="modal-content">
				                                             <div class="modal-header">
				                                                 <button type="button" class="close" data-dismiss="modal"><span>×</span>
				                                                 </button>
				                                             </div>
				                                            
				                                             <div class="modal-body" th:each="userAuth : ${userList}">
				                                             	현재 유저 권한 :<h3 id="title"></h3>
				                                             	<input type="hidden" id="email"></input>
				                                                 <select class="form-control" id="role_Select" name="role_Select">
						                                              <option value="">권한선택</option>
						                                              <option value="ROLE_REGULAR_USER">일반유저 권한</option>
						                                              <option value="ROLE_ADMIN">관리자 권한</option>
						                                              <option value="ROLE_ASSOCIATE_USER">휴먼유저 권한</option>
						                                        </select>
				                                             </div>
				                                          
				                                             <div class="modal-footer">
				                                                 <button type="submit" class="btn btn-secondary" data-dismiss="modal" id="role_Change">확인</button>						  
				                                             </div>
				                                         </div>
				                                     </div>
				                                 </div>
					                         </div> 
					                       
									</td>
								</tr>
	
							</tbody>
					    </table>
				      </div>          
				</div>  
			</div>  
		</div>
		
		 <!--**********************************
            Footer start
        ***********************************-->
		<th:block th:replace="admin/adminCommon/adminFooter :: adminFooterFragment"></th:block>
        <!--**********************************
            Footer end
        ***********************************-->
	</div>
	<!-- 기본 폼 완성 -->
	<!-- 공통 스크립트-->
	<th:block th:replace="admin/adminFragments/adminScript :: adminScriptFragment"></th:block>
<script type="text/javascript">
	/* 권한 수정 버튼 클릭시 이함수 호출 */
	function show(grade,email){

		//show 호출시 넘겨준 값을 이용하여 ajax 등을 통해 modal 을 띄울때 동적으로 바뀌어야 하는 값을 얻어온다.  
		

		//얻어온 값을 이용하여, modal 에서 동적으로 바뀌어야 하는 값을 바꾸어 준다..  

	    $("#title").html(grade);

	    $("#email").html(email);


	    //modal을 띄워준다.  

	    $("#exampleModalCenter").modal('show');	  

	}


</script>

<script>
		$(document).ready(function(){
			
			$("#role_Change").on("click", function(){
	
				
				var role = $("#role_Select option:selected").val();
				var email = $("#email").text();
				
				
				 
				var url = "adminRoleUpdate";
			
				url = url + "?role=" + role;
	
				url = url + "&email=" + email;
				
				location.href = url;
	
			});
	
		
	});
</script>
    
</body>
</html>

















