<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="admin/adminFragments/adminHead :: adminHeadFragment"></th:block>
<body>
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
		<th:block th:replace="admin/adminCommon/adminNav :: adminNavFragment"></th:block>

       

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

<!-- 여기에 부위, 이미지 수정까지 들어가야함  (운동 난이도도 어떻게 할지)-->
	
			<div class="card m-4">
				<div class="card-body">
					<form action="adminExcsDetail">

						<div class="row">
							<!-- 제목 -->
							<div class="col-11">
								<div class="mb-3 mt-2">

									<input type="text" id="title" name="title" class="form-control"
										placeholder="제목을 입력하세요" value="벤치프레스">
								</div>
							</div>
							<div></div>
						</div>


						<textarea class="form-control h-150px" rows="6" id="comment">이 운동은 어쩌고 저쩌고 쏼라쏼라
							
						</textarea>




						<hr>
						<div class="mt-4 text-center">
							<button type="button" onclick="location.href='adminExcsDetail'"
								class="btn btn-outline-primary">취소</button>
							<button type="submit" class="btn btn-primary">수정</button>

						</div>

					</form>
				</div>
			</div>
		</div>
				        <!--**********************************
            Footer start
        ***********************************-->
		<th:block th:replace="admin/adminCommon/adminFooter :: adminFooterFragment"></th:block>
        <!--**********************************
            Footer end
        ***********************************-->
	</div>
	<!-- 공통 스크립트-->
	<th:block th:replace="admin/adminFragments/adminScript :: adminScriptFragment"></th:block>
</body>
</html>