<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="admin/adminFragments/adminHead :: adminHeadFragment"></th:block>
<style>
#table {
	background-color: white;

}

.pagination {
	justify-content: center;
	margin-top: 31px;
}

#adminok, #adminnook {
	margin-left: 15px;
}
</style>
<body>
<!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
		<th:block th:replace="admin/adminCommon/adminNav :: adminNavFragment"></th:block>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body p-4">
			<div class="card pt-2 pb-2 pl-4">문의 게시판</div>
			
<!--//////////////////////////////////////////////////////// 검색설정, 검색창, 검색버튼 - (1) ////////////////////////////////////////////////////////////  -->
		
<!--********************************************************************** (1) **********************************************************************  -->




<!--//////////////////////////////////////////////////////// 문의 게시판 목록 - (2)////////////////////////////////////////////////////////////  -->
				<div class="card pt-2 pb-2 pl-4">
					<div class="table-responsive mt-5">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th scope="col">순번</th>
                                                <th scope="col">제목</th>
                                                <th scope="col">이메일</th>
                                                <th scope="col">답변여부</th>
                                                <th scope="col">작성일</th>
                                            </tr>
                                        </thead>
                                        <tr th:each="qna : ${list}">
								         <td th:text="${qna.qna_brd_seq}"></td>    
								         <!-- <td th:text="${qna.qna_brd_title}"></td> -->
								         <td><a th:href="@{/adminQnaDetail(qna_brd_seq=${qna.qna_brd_seq})}"><span th:text="${qna.qna_brd_title}"></span></a> </td>
								         <td th:text="${qna.user_email}"></td>
								         
								         
								         <!-- <td th:text="${qna.qna_brd_answer}"></td> -->
								    	
										
										
										<th:block th:if="${qna.qna_brd_answer == '4'}">
										    <td><span class="badge badge-light px-2">답변확인</span></td>
										</th:block>
										<th:block th:if="${qna.qna_brd_answer == '3'}">
										    <td><span class="badge badge-primary px-2">답변완료</span></td>
										</th:block>
										<th:block th:if="${qna.qna_brd_answer == '2'}">
										    <td><span class="badge badge-dark px-2">답변대기중</span></td>
										</th:block>
										<th:block th:if="${qna.qna_brd_answer == '1'}">
										    <td><span class="badge badge-danger px-2">미확인</span></td>
										</th:block>
								    	 
								    	 <td th:text="${qna.qna_brd_regdate}"></td>
								    	
								    	 </tr>
                                    </table>
                                </div>
				</div>
<!--********************************************************************** (2) ***********************************************************************************  -->




<!--******************************************************************************* (3) *******************************************************************************  -->			
			
					
			
<!--////////////////////////////////////////////////////////////////////////// 페이지 선택 - (4)//////////////////////////////////////////////////////////////////////////////  -->
			
<!--********************************************************************** (4) **********************************************************************  -->			
			</div>
		</div>
	</div>
	</div>
	<!-- 기본 폼 완성 -->

	<!-- 공통 스크립트-->
	<th:block th:replace="fragments/script :: scriptFragment"></th:block>
	<script src="assets/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="assets/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="assets/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
</body>
</html>