<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="admin/adminFragments/adminHead :: adminHeadFragment"></th:block>
<body>
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
		<th:block th:replace="admin/adminCommon/adminNav :: adminNavFragment"></th:block>

       

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

<!-- 여기에 부위, 이미지 수정까지 들어가야함  (운동 난이도도 어떻게 할지)-->
	
			<div class="card m-4">
				<div class="card-body">
					<form action="adminExcsEdit" method="post">

						<div class="row">
							<!-- 제목 -->
							<div class="col-11">
								<div class="mb-3 mt-2">
									
										<label>운동번호<input type="text" id="excs_seq" name="excs_seq" class="form-control"
										th:value="${exercise.excs_seq}" readonly ></label>
										<select name="excs_kind" class="form-control">
									    <option th:value="${exercise.excs_kind}">운동종류</option>
									    <option value="C">유산소</option>
									    <option value="N">무산소</option>
										</select>
										<label>운동이름<input type="text"   id="excs_name" name="excs_name" class="form-control"
										th:value="${exercise.excs_name}" ></label>
										<label>분, 몸무게당 칼로리<input type="text"  class="form-control" id="excs_cal_per_minweight" name="excs_cal_per_minweight" 
										th:value="${exercise.excs_cal_per_minweight}"></label>
										
										<select name="excs_body_part" class="form-control">
									    <option th:value="${exercise.excs_body_part}">운동부위</option>
									    <option value="X">유산소</option>
									    <option value="등">등</option>
									    <option value="어깨">어깨</option>
									    <option value="가슴">가슴</option>
									    <option value="다리">다리</option>
									    <option value="팔">팔</option>
										</select>
										
										<select name="excs_equipment" class="form-control">
									    <option th:value="${exercise.excs_equipment}">기구여부</option>
									    <option value="X">기구없음</option>
									    <option value="O">기구사용</option>
										</select>
										
										<label>운동설명<input type="text"   id="excs_description" name="excs_description" class="form-control"
										th:value="${exercise.excs_description}"></label>
										<label>운동난이도<input type="text"   id="excs_level" name="excs_level" class="form-control"
										th:value="${exercise.excs_level}"></label>
										<label>운동링크<input type="text"   id="excs_video_link" name="excs_video_link" class="form-control"
										th:value="${exercise.excs_video_link}"></label>
										
										
								</div>
							</div>
							<div></div>
						</div>


						<!-- <textarea class="form-control h-150px" rows="6" id="comment" 
						th:placeholder="${exercise.excs_name}" th:value="${exercise.excs_name}">
							
						</textarea> -->




						<hr>
						<div class="mt-4 text-center">
							<button type="button" onclick="location.href='adminExcsList'"
								class="btn btn-outline-primary">취소</button>
							<button type="submit" class="btn btn-primary">수정</button>

						</div>

					</form>
				</div>
			</div>
		</div>
				        <!--**********************************
            Footer start
        ***********************************-->
		<th:block th:replace="admin/adminCommon/adminFooter :: adminFooterFragment"></th:block>
        <!--**********************************
            Footer end
        ***********************************-->
	</div>
	<!-- 공통 스크립트-->
	<th:block th:replace="admin/adminFragments/adminScript :: adminScriptFragment"></th:block>
</body>
</html>