<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block
   th:replace="admin/adminFragments/adminHead :: adminHeadFragment"></th:block>
<style>
    #label{
      padding-left:0px;
   } 
   p{
      margin-bottom: 20px;   
   }   
</style>
<body>
   <!--**********************************
        Main wrapper start
    ***********************************-->
   <div id="main-wrapper">
      <th:block th:replace="admin/adminCommon/adminNav :: adminNavFragment"></th:block>



      <!--**********************************
            Content body start
        ***********************************-->
      <div class="content-body">

         <!-- 여기에 목록보기 버튼이랑 수정, 삭제를 어떻게 할지 고민해야함 물론 부위랑 난이도도 추가 -->
         <div class="card m-4 col-7">
            <div class="card-body">
               <form action="adminExcsEdit">
               <input name="excs_seq" th:value="${exercise.excs_seq}" type="hidden">
                  
                  <div class="contentFBD">
                  
                  <label id="label" class="col-sm-2 col-form-label text-primary">운동이름</label>   
                     <p> <span th:text="${exercise.excs_name}"></span> </p>
                  
                  
                  <label id="label" class="col-sm-2 col-form-label text-primary">운동설명</label>
                     <p> <span th:text="${exercise.excs_description}"></span> </p>
                  <label id="label" class="col-sm-2 col-form-label text-primary">운동종류</label>   
                     <p> <span th:text="${exercise.excs_kind}"></span> </p>
                  <label id="label" class="col-sm-2 col-form-label text-primary">칼로리</label>   
                     <p> <span th:text="${exercise.excs_cal_per_minweight}"></span> </p>
                  <label id="label" class="col-sm-2 col-form-label text-primary">운동부위</label>   
                     <p> <span th:text="${exercise.excs_body_part}"></span> </p>
                  <label id="label" class="col-sm-2 col-form-label text-primary">운동장비</label>   
                     <p> <span th:text="${exercise.excs_equipment}"></span> </p>
                  <label id="label" class="col-sm-2 col-form-label text-primary">운동레벨</label>   
                     <p> <span th:text="${exercise.excs_level}"></span> </p>
                  <label id="label" class="col-sm-2 col-form-label text-primary">유튜브링크</label>
                     <p> <span th:text="${exercise.excs_video_link}"></span><br>
                     <iframe th:src="${exercise.excs_video_link}"></iframe> </p>
 
                  </div>

                  <div class="mt-4 text-center">
                     <button type="button" onclick="location.href='adminExcsList'"
                        class="btn btn-outline-primary">취소</button>
                     <button type="submit" class="btn btn-primary">수정</button>

                  </div>
               </form>
            </div>
         </div>
      </div>
      <!--**********************************
            Footer start
        ***********************************-->
      <th:block
         th:replace="admin/adminCommon/adminFooter :: adminFooterFragment"></th:block>
      <!--**********************************
            Footer end
        ***********************************-->
   </div>
   <!-- 공통 스크립트-->
   <th:block
      th:replace="admin/adminFragments/adminScript :: adminScriptFragment"></th:block>
</body>
</html>