<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="admin/adminFragments/adminHead :: adminHeadFragment"></th:block>

<style>
#table {
	background-color: white;
	/* position:absolute;
 height:300px;
 width:400px;
 margin:-150px 0px 0px -200px;
 top: 50%;
 left: 50%;
 padding: 5px; */
}

.pagination {
	justify-content: center;
	margin-top: 31px;
}

#adminok, #adminnook {
	margin-left: 15px;
}

input[type=checkbox]{
	display: inline-block;
	width: 20px;
	height: 20px;
	border: 2px solid #bcbcbc;
	cursor: pointer;
	margin-left: 10px;
}

hr{
	margin-top:8px;
}


</style>
<body>
	<!-- 공통 nav -->
	<div class="bodiary-wrapper main-wrapper">
		<th:block th:replace="admin/adminCommon/adminNav :: adminNavFragment"></th:block>
	
			
			<div class="content-body p-4">
				<div class="card pt-2 pb-2 pl-4">운영자 문의 게시판</div>



					
				
							<button type="button" class="btn btn-primary dropdown-toggle" style="margin-bottom: 2px;"
								data-toggle="dropdown">답변여부</button>
							<div class="dropdown-menu" style="background-color:white; ">													
								<a class="dropdown-item" href="#">완료</a> 
								<a class="dropdown-item" href="#" id="checkbox">확인</a> 
								<a class="dropdown-item" href="#" id="checkbox">미확인</a>	
								
							</div>
				
				

			
<!--//////////////////////////////////// 검색창 //////////////////////////////  -->
					<input type="text" id="search" class=" input-default"  
						style="width: 250px; margin-bottom: 25px; height: 37px; padding-left: 5px;">
				<!--********************************************************************** -->


				<!--//////////////////////////////////// 검색버튼 //////////////////////////////  -->
					<button type="button" class="btn btn-info" style="margin-bottom: 2px;"
						 onclick="#">검색</button>
				<!--********************************************************************** -->

			<div class="card pt-2 pb-2 pl-4">
					<div id="table" class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>순번</th>
									<th>제목</th>
									<th>답변 여부</th>
									<th>작성일</th>
									<th>조회수</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>3</th>
									<td><a href="adminQnaDetail">Kolor Tea Shirt For Man 
									</a></td>
									<td>완료</td>
									<td>January 22</td>


								</tr>
								<tr>
									<th>2</th>
									<td><a href="adminQnaDetail">Kolor Tea Shirt For Man 
									</a></td>
									<td>미확인</td>
									<td>January 30</td>


								</tr>
								<tr>
									<th>1</th>
									<td><a href="adminQnaDetail">Kolor Tea Shirt For Man 
									</a></td>
									<td>확인</td>
									<td>January 25</td>


								</tr>
							</tbody>
						</table>

					</div>
				</div>

				<div class="pagination">
					<nav>
						<ul class="pagination">
							<li class="page-item"><a class="page-link" href="#"
								aria-label="Previous"><span aria-hidden="true">&laquo;</span>
									<span class="sr-only">Previous</span></a></li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#"
								aria-label="Next"><span aria-hidden="true">&raquo;</span> <span
									class="sr-only">Next</span></a></li>
						</ul>
					</nav>
				</div>

		</div>
		 <!--**********************************
            Footer start
        ***********************************-->
		<th:block th:replace="admin/adminCommon/adminFooter :: adminFooterFragment"></th:block>
        <!--**********************************
            Footer end
        ***********************************-->
	</div>
	<!-- 기본 폼 완성 -->

	<!-- 공통 스크립트-->
	<th:block th:replace="admin/adminFragments/adminScript :: adminScriptFragment"></th:block>
	
</body>
</html>