<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>

<body>
   <!-- 공통 nav -->
   <th:block th:replace="common/nav :: navFragment"></th:block>
   <div class="bodiary-wrapper excs">
      <form action="insertRoutineBundle" id="routineForm">
      <div class="mt-5 ml-3 mr-5">
         <div class="row">
            <div class="col-2 ">
               <div class="filter">
                  <h6>filter</h6>
                  <!-- 유산소 무산소 선택 시작 -->
                  <ul class="nav nav-pills mb-3 pt-4" style="font-weight: 300;">
                     <li class="nav-item" onclick="exer_c();"><a href="#navpills-1"
                        class="nav-link active" data-toggle="tab" aria-expanded="false" onclick="drawInput(this);">유산소</a></li>
                     <li class="nav-item" onclick="exer_n();"><a href="#navpills-2" class="nav-link"
                        data-toggle="tab" aria-expanded="false" onclick="drawInput(this);">무산소</a></li>
                  </ul>
                  <div id="exer_kind"></div>
                  <div class="tab-content ">
                     <div id="navpills-1" class="tab-pane active">
                        <div class="align-items-center">
                           <div class="excs-part mt-2 mb-2">
                              <h6>운동 난이도</h6>
                              <label class="pr-2"><input type="checkbox" name="exer_level" value="3" onchange="search();">&nbsp;상</label>
                              <label class="pr-2"><input type="checkbox" name="exer_level" value="2" onchange="search();">&nbsp;중</label>
                              <label class="pr-2"><input type="checkbox" name="exer_level" value="1" onchange="search();">&nbsp;하</label>
                           </div>
                        </div>
                     </div>
                     <div id="navpills-2" class="tab-pane">
                        <div class="align-items-center">
                           <div class="excs-part mt-2 mb-2">
                              <h6>운동 부위</h6>
                              <label class="pr-2"><input name="exer_part" type="checkbox" value="복부" id="exer_ab" onchange="search();">&nbsp;복부</label>
                              <label class="pr-2"><input name="exer_part" type="checkbox" value="등" id="exer_ba" onchange="search();">&nbsp;등</label>
                              <label class="pr-2"><input name="exer_part" type="checkbox" value="가슴" id="exer_ch" onchange="search();">&nbsp;가슴</label>
                              <label class="pr-2"><input name="exer_part" type="checkbox" value="다리" id="exer_le" onchange="search();">&nbsp;다리</label>
                              <label class="pr-2"><input name="exer_part" type="checkbox" value="팔" id="exer_ar" onchange="search();">&nbsp;팔</label>
                              <label class="pr-2"><input name="exer_part" type="checkbox" value="어깨" onchange="search();">&nbsp;어깨</label>
                           </div>
                           <div class="excs-part mt-2 mb-2">
                              <h6>운동 도구</h6>
                              <label class="pr-2"><input name="exer_equi" type="checkbox" value="O" onchange="search();">&nbsp;기구</label>
                              <label class="pr-2"><input name="exer_equi" type="checkbox" value="X" onchange="search();">&nbsp;소도구</label>
                           </div>
                           <div class="excs-part mt-2 mb-2">
                              <h6>운동 난이도</h6>
                              <label class="pr-2"><input name="exer_level" type="checkbox" value="3" onchange="search();">&nbsp;상</label>
                              <label class="pr-2"><input name="exer_level" type="checkbox" value="2" onchange="search();">&nbsp;중</label>
                              <label class="pr-2"><input name="exer_level" type="checkbox" value="1" onchange="search();">&nbsp;하</label>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- 유산소 무산소 선택 종료 -->
               </div>
            </div>
            <div class="col">
                  <div class="excs-search sticky-top mb-4 card p-3" style="border:solid 1px #7571f9;">
                     <h3 class="m-3">원하는 운동을 검색해보세요!</h3>
                     <input type="text" id="exercisesearch" class="form-control input-rounded pl-4" placeholder="운동 검색하기">         
                  </div>
               <div class="excs-list-body" id ="exercisetable">
                  
                  
               </div>
            </div>
            <!-- 운동 장바구니 -->
            
            <div class="col-4 sticky-top">
            
               <div class="excs-cart ml-auto mr-0 sticky-top">
                     <div class="row">
                        <div class="col">
                           <h3>유산소 운동</h3>
                        </div>
                      
                     </div>
                     <hr>
                     <div class="cardio-cart p-2">
                        <div class="cardio-cart-item">
                           <div class="select-excs w-100 outline-primary mt-1 p-3" id="exer_c_add">
                           </div>
                        </div>
                     </div>
                     <div class="row mt-4">
                        <div class="col">
                           <h3>무산소 운동</h3>
                        </div>
                     
                     </div>
                     <hr />
                     <div class="weight-cart">
                        <div class="weight-cart-item">
                           <div class="select-excs w-100 outline-primary mt-1 p-3" id="exer_n_add">
                           </div>
                        </div>
                     </div>
                     <!-- Large modal -->
                     <button type="button"
                        class="submit btn btn-primary btn-flat btn-lg w-100 mt-3 "
                        data-toggle="modal" data-target=".bd-example-modal-lg">루틴
                        만들기</button>
               </div>
            </div>
            <!-- 운동 장바구니 끝-->
            <!-- Large modal -->
            <div class="modal fade bd-example-modal-lg" id="routineModal" tabindex="-1"
               role="dialog" aria-hidden="true">
               <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title">루틴 만들기</h5>
                        <button type="button" class="close" data-dismiss="modal">
                           <span>&times;</span>
                        </button>
                     </div>
                     <div class="modal-body">
                        <input type="text" class="form-control input-rounded" id="routine_cart_title" name="routine_cart_title" placeholder="루틴 제목을 작성해주세요.">
                     </div>
                     <div class="center mb-4 mt-2">
                        <button type="button" class="btn btn-outline-light"
                           data-dismiss="modal">취소</button>
                        <button type="button" id="makeRoutine" class="btn btn-primary">루틴 만들기</button>
                     </div>
                  </div>
               </div>
            </div>
            <!-- modal end -->
         </div>
         </div>
         <!-- 기본 폼 완성 -->
      </form>
      </div>
      
      <!-- 공통 스크립트-->
      
      <th:block th:replace="fragments/script :: scriptFragment"></th:block>
      <th:block th:replace="fragments/exercisescript :: scriptFragment"></th:block>

</body>
</html>