<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- 공통 헤더-->
<th:block th:replace="fragments/htmlhead :: headFragment"></th:block>

<body>
	<!-- 공통 nav -->
	<th:block th:replace="common/nav :: navFragment"></th:block>
	<div class="bodiary-wrapper excs">
		<!-- 공통 sidenav -->

		<div class="mt-5 ml-3 mr-5">
			<div class="row">
				<div class="col-2 ">
					<div class="filter">
						<h6>filter</h6>
						<!-- 유산소 무산소 선택 시작 -->
						<ul class="nav nav-pills mb-3 pt-4" style="font-weight: 300;">
							<li class="nav-item"><a href="#navpills-1"
								class="nav-link active" data-toggle="tab" aria-expanded="false">유산소</a></li>
							<li class="nav-item"><a href="#navpills-2" class="nav-link"
								data-toggle="tab" aria-expanded="false">무산소</a></li>
						</ul>
						<div class="tab-content ">
							<div id="navpills-1" class="tab-pane active">
								<div class="align-items-center">
									<div class="excs-part mt-2 mb-2">
										<h6>운동 난이도</h6>
										<label class="pr-2"><input type="checkbox" value="상">&nbsp;상</label>
										<label class="pr-2"><input type="checkbox" value="중">&nbsp;중</label>
										<label class="pr-2"><input type="checkbox" value="하">&nbsp;하</label>
									</div>
								</div>
							</div>
							<div id="navpills-2" class="tab-pane">
								<div class="align-items-center">
									<div class="excs-part mt-2 mb-2">
										<h6>운동 부위</h6>
										<label class="pr-2"><input type="checkbox" value="복부">&nbsp;복부</label>
										<label class="pr-2"><input type="checkbox" value="등">&nbsp;등</label>
										<label class="pr-2"><input type="checkbox" value="가슴">&nbsp;가슴</label>
										<label class="pr-2"><input type="checkbox" value="다리">&nbsp;다리</label>
										<label class="pr-2"><input type="checkbox" value="팔">&nbsp;팔</label>
									</div>
									<div class="excs-part mt-2 mb-2">
										<h6>운동 도구</h6>
										<label class="pr-2"><input type="checkbox" value="기구">&nbsp;기구</label>
										<label class="pr-2"><input type="checkbox" value="소도구">&nbsp;소도구</label>
									</div>
									<div class="excs-part mt-2 mb-2">
										<h6>운동 난이도</h6>
										<label class="pr-2"><input type="checkbox" value="상">&nbsp;상</label>
										<label class="pr-2"><input type="checkbox" value="중">&nbsp;중</label>
										<label class="pr-2"><input type="checkbox" value="하">&nbsp;하</label>
									</div>
								</div>
							</div>

						</div>

						<!-- 유산소 무산소 선택 종료 -->
					</div>
				</div>
				<div class="col">
					<div class="excs-list-body">
						<!-- 운동 카드 start -->
						<div class="excs-card card text-left mb-3">
							<div class="card-body ml-0 mr-0 row">
								<div class="col">
									<h5 class="card-title">걷기</h5>
									<div class="bootstrap-badge">
                                    <span class="badge badge-pill badge-info">난이도 하</span> 
                                	</div>
								</div>
								<div class="col-2 center">
									<i class="fa" aria-hidden="true"></i> <a href="#"
										class="btn btn-flat btn-lg btn-outline-primary mt-1"><i
										class="mdi mdi-plus"></i></a>
								</div>
							</div>
						</div>
						<!-- 운동 카드 end -->
						<!-- 운동 카드 start -->
						<div class="excs-card card text-left mb-3">
							<div class="card-body ml-0 mr-0 row">
								<div class="col">
									<h5 class="card-title">걷기</h5>
									<p class="card-text">With supporting text below as a
										natural lead-in to additional content.</p>
								</div>
								<div class="col-2 center">
									<i class="fa" aria-hidden="true"></i> <a href="#"
										class="btn btn-flat btn-lg btn-outline-primary mt-1"><i
										class="mdi mdi-plus"></i></a>
								</div>
							</div>
						</div>
						<!-- 운동 카드 end -->
					</div>
				</div>
				<!-- 운동 장바구니 -->
				<div class="col-3 sticky-top">
					<div class="excs-cart ml-auto mr-0sticky-top">
						<div>
							<div class="row">
								<div class="col">
									<h3>유산소 운동</h3>
								</div>
								<div class="col-2 center">
									<i class="mdi mdi-window-close"></i>
								</div>
							</div>
							<hr>
							<div class="cardio-cart p-2">
								<div class="cardio-cart-item">
									<span class="excs-part">th:text로 운동부위 뿌려질 곳</span>
									<div class="select-excs w-100 outline-primary mt-1 p-3 ">
										<!-- 비동기로? 선택한 운동 -->
										<div class="row cart-item-card mb-3"style="height:40px;">
											<div class="col pt-2">
												<h5>걷기</h5>
											</div>
											<div class="form-group col-5">
	                                            <select class="form-control form-control-sm input-rounded " id="sel1">
	                                                <option selected>30분</option>
	                                                <option>1시간</option>
	                                                <option>1시간 30분</option>
	                                                <option>2시간</option>
	                                                <option>2시간 30분</option>
	                                                <option>3시간 이상</option>
	                                            </select>
                                        	</div>
											
											<div class="col-2 center pt-2">
												<a href="#"><i class="mdi mdi-minus"></i></a>
											</div>
										</div>
										<!-- 비동기로? 선택한 운동 끝  -->
										<div class="row cart-item-card mb-3">
											<div class="col">
												<h5>걷기</h5>
											</div>
											<div class="col-2 center ">
												<i class="mdi mdi-minus"></i>
											</div>
										</div>
										<div class="row cart-item-card mb-3">
											<div class="col">
												<h5>걷기</h5>
											</div>
											<div class="col-2 center ">
												<i class="mdi mdi-minus"></i>
											</div>
										</div>
										<div class="row cart-item-card mb-3">
											<div class="col">
												<h5>걷기</h5>
											</div>
											<div class="col-2 center ">
												<i class="mdi mdi-minus"></i>
											</div>
										</div>
										<div class="row cart-item-card mb-3">
											<div class="col">
												<h5>걷기</h5>
											</div>
											<div class="col-2 center ">
												<i class="mdi mdi-minus"></i>
											</div>
										</div>
										<div class="row cart-item-card mb-3">
											<div class="col">
												<h5>걷기</h5>
											</div>
											<div class="col-2 center ">
												<i class="mdi mdi-minus"></i>
											</div>
										</div>
										<div class="row cart-item-card mb-3">
											<div class="col">
												<h5>걷기</h5>
											</div>
											<div class="col-2 center ">
												<i class="mdi mdi-minus"></i>
											</div>
										</div>
										<div class="row cart-item-card mb-3">
											<div class="col">
												<h5>걷기</h5>
											</div>
											<div class="col-2 center ">
												<i class="mdi mdi-minus"></i>
											</div>
										</div>
										<div class="row cart-item-card mb-3">
											<div class="col">
												<h5>걷기</h5>
											</div>
											<div class="col-2 center ">
												<i class="mdi mdi-minus"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row mt-4">
								<div class="col">
									<h3>무산소 운동</h3>
								</div>
								<div class="col-2 center">
									<i class="mdi mdi-window-close"></i>
								</div>
							</div>
							<hr />
							<div class="weight-cart">
								<div class="weight-cart-item">
									<span class="excs-part">th:text로 운동부위 뿌려질 곳</span>
									<div class="select-excs w-100 outline-primary mt-1 p-3 ">
										<!-- 비동기로? 선택한 운동 -->
										<div class="row cart-item-card mb-3"style="height:40px;">
											<div class="col pt-2">
												<h5>레그 레이즈</h5>
											</div>
											<div class="form-group col-3">
	                                            <select class="form-control form-control-sm input-rounded " id="sel2">
	                                                <option selected="selected">1</option>
	                                                <option>2</option>
	                                                <option>3</option>
	                                                <option>4</option>
	                                                <option>5</option>
	                                            </select>
                                        	</div>
											<div class="col-2 center pt-2">
												<i class="mdi mdi-minus"></i>
											</div>
										</div>
										<!-- 비동기로? 선택한 운동 끝  -->
										<!-- 비동기로? 선택한 운동 -->
										<div class="row cart-item-card mb-3">
											<div class="col">
												<h5>걷기</h5>
											</div>
											<div class="col-2 center ">
												<i class="mdi mdi-minus"></i>
											</div>
										</div>
										<!-- 비동기로? 선택한 운동 끝 -->
										<!-- 비동기로? 선택한 운동 -->
										<div class="row cart-item-card mb-3">
											<div class="col">
												<h5>걷기</h5>
											</div>
											<div class="col-2 center ">
												<i class="mdi mdi-minus"></i>
											</div>
										</div>
										<!-- 비동기로? 선택한 운동 끝 -->
										<!-- 비동기로? 선택한 운동 -->
										<div class="row cart-item-card mb-3">
											<div class="col">
												<h5>걷기</h5>
											</div>
											<div class="col-2 center ">
												<i class="mdi mdi-minus"></i>
											</div>
										</div>
										<!-- 비동기로? 선택한 운동 끝 -->
										<!-- 비동기로? 선택한 운동 -->
										<div class="row cart-item-card mb-3">
											<div class="col">
												<h5>걷기</h5>
											</div>
											<div class="col-2 center ">
												<i class="mdi mdi-minus"></i>
											</div>
										</div>
										<!-- 비동기로? 선택한 운동 끝 -->
									</div>
								</div>
							</div>
							<!-- Large modal -->
							<button
								class="submit btn btn-primary btn-flat btn-lg w-100 mt-3 "
								data-toggle="modal" data-target=".bd-example-modal-lg">루틴
								만들기</button>
						</div>
					</div>
				</div>
				<!-- 운동 장바구니 끝-->
				<!-- Large modal -->
				<div class="modal fade bd-example-modal-lg" tabindex="-1"
					role="dialog" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">루틴 만들기</h5>
								<button type="button" class="close" data-dismiss="modal">
									<span>&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<input type="text" class="form-control input-rounded" placeholder="루틴 제목을 작성해주세요.">
							</div>
							<div class="center mb-4 mt-2">
								<button type="button" class="btn btn-outline-light"
									data-dismiss="modal">취소</button>
								<button type="button" class="btn btn-primary">루틴 만들기</button>
							</div>
						</div>
					</div>
				</div>
				<!-- modal end -->
			</div>
			<!-- 기본 폼 완성 -->

		</div>
		<!-- 공통 스크립트-->
		<th:block th:replace="fragments/script :: scriptFragment"></th:block>
</body>
</html>