<th:block th:fragment="scriptFragment">
   <script type="text/javascript">
      //$("input:checkbox[id='exer_ab']").is(":checked")
      $(function(){
            search();
         $('#exercisesearch').keyup(function(){
            search();
            
         });
         //체크하나만 되게하는것
         $('input[type="checkbox"][name="exer_part"]').click(function(){
              //click 이벤트가 발생했는지 체크
              if ($(this).prop('checked')) {
                  //checkbox 전체를 checked 해제후 click한 요소만 true지정
                  $('input[type="checkbox"][name="exer_part"]').prop('checked', false);
                  $(this).prop('checked', true);
              }
          });
         $('input[type="checkbox"][name="exer_equi"]').click(function(){
              //click 이벤트가 발생했는지 체크
              if ($(this).prop('checked')) {
                  //checkbox 전체를 checked 해제후 click한 요소만 true지정
                  $('input[type="checkbox"][name="exer_equi"]').prop('checked', false);
                  $(this).prop('checked', true);
              }
          });
         $('input[type="checkbox"][name="exer_level"]').click(function(){
             //click 이벤트가 발생했는지 체크
             if ($(this).prop('checked')) {
                 //checkbox 전체를 checked 해제후 click한 요소만 true지정
                 $('input[type="checkbox"][name="exer_level"]').prop('checked', false);
                 $(this).prop('checked', true);
             }
         });
         
         
      })
      
      
       /**
			* @함수명 : search()
			* @작성일 : 2020. 7. 10.
			* @작성자 : 김덕기
			* @설명 : 운동 검색 시 비동기로 db에서 데이터를 불러온다				 
			**/
      function search(){
          var data={excs_name: "", 
                  excs_kind : "", 
                  excs_body_part:"" , 
                  excs_equipment: "", 
                  excs_level: 1.0 };
         data = {excs_name:  $('#exercisesearch').val(), 
               excs_kind : $('input[name="exer_kind"]').val(), 
               excs_body_part: $('input:checkbox[name="exer_part"]:checked').val(), 
               excs_equipment: $('input:checkbox[name="exer_equi"]:checked').val(), 
               excs_level: $('input:checkbox[name="exer_level"]:checked').val() };
              console.log(data);
              
              $.ajax(
                        {
                         type:"post",
                         data: data,
                          url:"exerciseSearch.exer",
                          dataType:"json",
                          success:function(responsedata){ 
                             console.log(responsedata);
                             $('#exercisetable').empty();
                           $.each(responsedata,function(index,obj){   
                              if(obj.excs_cal_per_minweight==0){
                                 $('#exercisetable').append(   
                                       "<div class='excs-card card text-left mb-3'><div class='card-body ml-0 mr-0 row'><div class='col'><h5 class='card-title'>"
                                       +obj.excs_name+"</h5><div class='bootstrap-badge'><span class='badge badge-pill badge-info'>무산소</div><div class='bootstrap-badge'></div><div class='bootstrap-badge'></div><div class='bootstrap-badge'></div><div class='bootstrap-badge'></div><div class='bootstrap-badge'><span class='badge badge-pill badge-info'>"+obj.excs_body_part+"</span>"
                                       +"</span></div></div>"
                                       
                                       
                                       +"<div class='col-2 center'>"
                                       +"<button type='button' class='btn btn-primary' data-toggle='modal' data-target='.bd-example-modal-lg-1-"+obj.excs_seq+"' >정보보기</button>"
                                       +"</div>"
                                       
                                       +"<div class='modal fade bd-example-modal-lg-1-"+obj.excs_seq+"' tabindex='-1' role='dialog' aria-hidden='true'>"
                                                 +"<div class='modal-dialog modal-lg'>"
                                                 +    "<div class='modal-content'>"
                                                 +        "<div class='modal-header'>"
                                                 +            "<h5 class='modal-title'>"+obj.excs_name+"</h5>"
                                                 +            "<button type='button' class='close' data-dismiss='modal'>"
                                                 +               "<span>&times;</span>"
                                                 +            "</button>"
                                                 +        "</div>"
                                                 +        "<div class='modal-body p-4'>"
                                       +         "<div class='row mb-5'>"
                                       +            "<div class='col-7'>"
                                       +               "<h5>운동 설명</h5>"
                                       +               "<p>"+obj.excs_description+"</p>"
                                       +            "</div>"
                                       +            "<div class='col-3 youtube-box'>"
                                                      <!-- 유튜브링크 -->
                                       +               "<h5>관련 영상</h5>"
                                       +               "<div class='w-100 bg-primary mb-2' style='height:110px;'><iframe src='"+obj.excs_video_link+"'>youtube</iframe></div>"
                                       +            "</div>"
                                       +         "</div>"

                                       +      "</div>"
                                                  +      "<div class='modal-footer'>" 
                                                  +    "       <button type='button' class='btn btn-primary' onclick='rightdrow("+obj.excs_seq+");'data-dismiss='modal'>선택하기</button>"
                                                   +  "</div>"    
                                                   +  "</div>"
                                                 +"</div>"
                                            +"</div>" 
                                       
                                       
                                       
                                       
                                       
                                       
                                       +"<div class='col-2 center' onclick='rightdrow("+obj.excs_seq+");'><i class='fa' aria-hidden='true'></i> <a href='#'class='btn btn-flat btn-lg btn-outline-primary mt-1'><i class='mdi mdi-plus'></i></a></div>"
                                       );   
                                 
                              }else{
                              $('#exercisetable').append(   
                                    "<div class='excs-card card text-left mb-3'><div class='card-body ml-0 mr-0 row'><div class='col'><h5 class='card-title'>"
                                    +obj.excs_name+"</h5><div class='bootstrap-badge'><span class='badge badge-pill badge-info'>1분1kg당"
                                    +obj.excs_cal_per_minweight.toFixed(3)+"</span></div></div>"
                                    
                                    
                                    +"<div class='col-2 center'>"
                                    +"<button type='button' class='btn btn-primary' data-toggle='modal' data-target='.bd-example-modal-lg-1-"+obj.excs_seq+"' >정보보기</button>"
                                    +"</div>"
                                    
                                    +"<div class='modal fade bd-example-modal-lg-1-"+obj.excs_seq+"' tabindex='-1' role='dialog' aria-hidden='true'>"
                                              +"<div class='modal-dialog modal-lg'>"
                                              +    "<div class='modal-content'>"
                                              +        "<div class='modal-header'>"
                                              +            "<h5 class='modal-title'>"+obj.excs_name+"</h5>"
                                              +            "<button type='button' class='close' data-dismiss='modal'>"
                                              +               "<span>&times;</span>"
                                              +            "</button>"
                                              +        "</div>"
                                              +        "<div class='modal-body p-4'>"
                                    +         "<div class='row mb-5'>"
                                    +            "<div class='col-7'>"
                                    +               "<h5>운동 설명</h5>"
                                    +               "<p>"+obj.excs_description+"</p>"
                                    +            "</div>"
                                    +            "<div class='col-3 youtube-box'>"
                                                   <!-- 유튜브링크 -->
                                    +               "<h5>관련 영상</h5>"
                                    +               "<div class='w-100 bg-primary mb-2' style='height:110px;'><iframe src='"+obj.excs_video_link+"'>youtube</iframe></div>"
                                    +            "</div>"
                                    +         "</div>"

                                    +      "</div>"
                                               +      "<div class='modal-footer'>" 
                                               +    "       <button type='button' class='btn btn-primary' onclick='rightdrow("+obj.excs_seq+");'data-dismiss='modal'>선택하기</button>"
                                                +  "</div>"    
                                                +  "</div>"
                                              +"</div>"
                                         +"</div>" 
                                    
                                    
                                    
                                    
                                    
                                    
                                    +"<div class='col-2 center' onclick='rightdrow("+obj.excs_seq+");'><i class='fa' aria-hidden='true'></i> <a href='#'class='btn btn-flat btn-lg btn-outline-primary mt-1'><i class='mdi mdi-plus'></i></a></div>"
                                    );
                              }
                           });
                             
                           }
                           
                        });
              
      }
      /**
		* @함수명 : drawInput(ek)
		* @작성일 : 2020. 7. 12.
		* @작성자 : 김덕기
		* @설명 : 유산소 무산소 버튼 클릭했을 때 태그 변화
		* @param ek - url
				 
		**/
      function drawInput(ek){
        if(ek=='http://'+location.host+'/bodiary/search#navpills-2'){
           //alert('무산소');
           $('#exer_kind').empty();
           $('#exer_kind').append(
             "<input type='hidden' name='exer_kind' value='N'>"       
           );
        }else{
           //alert('유산소')
           $('#exer_kind').empty();
           $('#exer_kind').append(
             "<input type='hidden' name='exer_kind' value='C'>"       
           );
        }
      }
		
      /**
		* @함수명 : exer_c()
		* @작성일 : 2020. 7. 13.
		* @작성자 : 김덕기
		* @설명 : 유산소 운동 리스트를 불러온다	 
		**/
      function exer_c(){
          $('input[type="checkbox"][name="exer_level"]').prop('checked', false);
          $('input[type="checkbox"][name="exer_equi"]').prop('checked', false);
          $('input[type="checkbox"][name="exer_part"]').prop('checked', false);
            $.ajax(
                   {
                      type:"post",
                      url:"exercisecNameSearch.exer",
                      dataType:"json",
                      success:function(responsedata){ 
                         console.log(responsedata);
                        $('#exercisetable').empty();
                        
                        $.each(responsedata,function(index,obj){   
                           $('#exercisetable').append(   
                                 "<div class='excs-card card text-left mb-3'><div class='card-body ml-0 mr-0 row'><div class='col'><h5 class='card-title'>"
                                 +obj.excs_name+"</h5><div class='bootstrap-badge'><span class='badge badge-pill badge-info'>1분1kg당"
                                 +obj.excs_cal_per_minweight.toFixed(3)+"</span></div></div>"
                                 
                                 
                                 +"<div class='col-2 center'>"
                                 +"<button type='button' class='btn btn-primary' data-toggle='modal' data-target='.bd-example-modal-lg-1-"+obj.excs_seq+"' >정보보기</button>"
                                 +"</div>"
                                 
                                 +"<div class='modal fade bd-example-modal-lg-1-"+obj.excs_seq+"' tabindex='-1' role='dialog' aria-hidden='true'>"
                                           +"<div class='modal-dialog modal-lg'>"
                                           +    "<div class='modal-content'>"
                                           +        "<div class='modal-header'>"
                                           +            "<h5 class='modal-title'>"+obj.excs_name+"</h5>"
                                           +            "<button type='button' class='close' data-dismiss='modal'>"
                                           +               "<span>&times;</span>"
                                           +            "</button>"
                                           +        "</div>"
                                           +        "<div class='modal-body p-4'>"
                                 +         "<div class='row mb-5'>"
                                 +            "<div class='col-7'>"
                                 +               "<h5>운동 설명</h5>"
                                 +               "<p>"+obj.excs_description+"</p>"
                                 +            "</div>"
                                 +            "<div class='col-3 youtube-box'>"
                                                <!-- 유튜브링크 -->
                                 +               "<h5>관련 영상</h5>"
                                 +               "<div class='w-100 bg-primary mb-2' style='height:110px;'><iframe src='"+obj.excs_video_link+"'>youtube</iframe></div>"
                                 +            "</div>"
                                 +         "</div>"
/
                                 +      "</div>"
                                            +      "<div class='modal-footer'>" 
                                            +    "       <button type='button' class='btn btn-primary' onclick='rightdrow("+obj.excs_seq+");'data-dismiss='modal'>선택하기</button>"
                                             +  "</div>"    
                                             +  "</div>"
                                           +"</div>"
                                      +"</div>" 
                                 
                                 
                                 
                                 
                                 
                                 
                                 +"<div class='col-2 center' onclick='rightdrow("+obj.excs_seq+");'><i class='fa' aria-hidden='true'></i> <a href='#'class='btn btn-flat btn-lg btn-outline-primary mt-1'><i class='mdi mdi-plus'></i></a></div>"
                                 );
                        });
                      }
                   }
                  );
         }
      
      
      /**
		* @함수명 : exer_n()
		* @작성일 : 2020. 7. 13.
		* @작성자 : 김덕기
		* @설명 : 무산소 운동 리스트를 불러온다
	
				 
		**/
         function exer_n(){
             $('input[type="checkbox"][name="exer_level"]').prop('checked', false);
             $('input[type="checkbox"][name="exer_equi"]').prop('checked', false);
             $('input[type="checkbox"][name="exer_part"]').prop('checked', false);
            $.ajax(
                   {
                      type:"post",
                      url:"exercisenNameSearch.exer",
                      dataType:"json",
                      success:function(responsedata){ 
                         console.log(responsedata);
                        $('#exercisetable').empty();
                        
                        $.each(responsedata,function(index,obj){   
                           $('#exercisetable').append(   
                                 "<div class='excs-card card text-left mb-3'><div class='card-body ml-0 mr-0 row'><div class='col'><h5 class='card-title'>"
                                 +obj.excs_name+"</h5><div class='bootstrap-badge'><span class='badge badge-pill badge-info'>무산소</div><div class='bootstrap-badge'></div><div class='bootstrap-badge'></div><div class='bootstrap-badge'></div><div class='bootstrap-badge'></div><div class='bootstrap-badge'><span class='badge badge-pill badge-info'>"+obj.excs_body_part+"</span>"
                                 +"</span></div></div>"
                                 
                                 
                                 +"<div class='col-2 center'>"
                                 +"<button type='button' class='btn btn-primary' data-toggle='modal' data-target='.bd-example-modal-lg-1-"+obj.excs_seq+"' >정보보기</button>"
                                 +"</div>"
                                 
                                 +"<div class='modal fade bd-example-modal-lg-1-"+obj.excs_seq+"' tabindex='-1' role='dialog' aria-hidden='true'>"
                                           +"<div class='modal-dialog modal-lg'>"
                                           +    "<div class='modal-content'>"
                                           +        "<div class='modal-header'>"
                                           +            "<h5 class='modal-title'>"+obj.excs_name+"</h5>"
                                           +            "<button type='button' class='close' data-dismiss='modal'>"
                                           +               "<span>&times;</span>"
                                           +            "</button>"
                                           +        "</div>"
                                           +        "<div class='modal-body p-4'>"
                                 +         "<div class='row mb-5'>"
                                 +            "<div class='col-7'>"
                                 +               "<h5>운동 설명</h5>"
                                 +               "<p>"+obj.excs_description+"</p>"
                                 +            "</div>"
                                 +            "<div class='col-3 youtube-box'>"
                                                <!-- 유튜브링크 -->
                                 +               "<h5>관련 영상</h5>"
                                 +               "<div class='w-100 bg-primary mb-2' style='height:110px;'><iframe src='"+obj.excs_video_link+"'>youtube</iframe></div>"
                                 +            "</div>"
                                 +         "</div>"

                                 +      "</div>"
                                            +      "<div class='modal-footer'>" 
                                            +    "       <button type='button' class='btn btn-primary' onclick='rightdrow("+obj.excs_seq+");'data-dismiss='modal'>선택하기</button>"
                                             +  "</div>"    
                                             +  "</div>"
                                           +"</div>"
                                      +"</div>"                              
                                 +"<div class='col-2 center' onclick='rightdrow("+obj.excs_seq+");'><i class='fa' aria-hidden='true'></i> <a href='#'class='btn btn-flat btn-lg btn-outline-primary mt-1'><i class='mdi mdi-plus'></i></a></div>"
                                 );
                        });
                      }
                   }
                  );
         }
         
      
         
         
         
         
         
         
         var number = 0;
         
         
         /**
			* @함수명 : rightdrow(es)
			* @작성일 : 2020. 7. 14.
			* @작성자 : 김덕기
			* @설명 : 선택한 운동을 리스트에 추가시킨다
			* @param es - 운동 번호
					 
			**/
            function rightdrow(es){
            //rightdrow ajax
            var data = {excs_seq : es};
            $.ajax(
                      {
                         type:"post",
                         data: data,
                         url:"exerciseadd.exer",
                         dataType:"json",
                         success:function(responsedata){ 
                               console.log(responsedata);                           
                              $.each(responsedata,function(index,obj){
                                 console.log($('#'+obj.excs_seq+'').text() != "");
                                 if($('#'+obj.excs_seq+'').text() != "") {
                                    alert("이미 운동이 추가되어 있습니다.");
                                    return false;
                                 }
                                 //유산소에 달자
                                 if(obj.excs_kind == "C"){
                                    $('#exer_c_add').append(   
                                       "<div id='"+obj.excs_seq+"' class='row cart-item-card mb-3 cn"+number+"'style='height:40px;'>"
                                       +"<div class='col pt-2'><h9>"+obj.excs_name+"</h9></div>"
                                       +"<div class='form-group col-5'>"
                                          +"<select class='form-control form-control-sm input-rounded input-excs-cart hour-select"+number+"' id='sel1' onchange='eselected1("+number+");'>"
                                             +"<option selected='selected'>시간</option><option value=30>30분</option><option value=60>1시간</option><option value=90>1시간 30분</option><option value=120>2시간</option><option  value=150>2시간 30분</option><option  value=180>3시간</option><option  value=210>3시간 30분</option><option  value=240>4시간</option>"
                                          +"</select></div>"
                                          +"<div class='col-2 center pt-2'>"
                                          +"<a class='a"+number+"' href='javascript:removeadd("+number+");'><i class='mdi mdi-minus'></i></a></div>"
                                          +"<input class='kind"+number+"' type='hidden' name='routineJoinDtoList["+number+"].excs_kind' value='"+obj.excs_kind+"'>"
                                          +"<input class='seq"+number+"' type='hidden' name='routineJoinDtoList["+number+"].excs_seq' value='"+obj.excs_seq+"'>"
                                          +"<input class='hourinput"+number+"' type='hidden' name='routineJoinDtoList["+number+"].routine_exercise_hour'>"
                                          +"</div>"
                                    );
                                    
                                    
                                 //무산소에 달자
                                 }else if(obj.excs_kind == "N"){
                                    $('#exer_n_add').append(   
                                          "<div id='"+obj.excs_seq+"' class='row cart-item-card mb-3 cn"+number+"'style='height:40px;'><div class='col pt-2'><h10>"
                                          +obj.excs_name+"</h10></div><div class='form-group col-3'><select  id='sel2' onchange='eselected2("+number+");'class='set-select"+number+" form-control form-control-sm input-rounded input-excs-cart'>"
                                          +"<option selected='selected'>세트</option><option value=1>1</option><option value=2>2</option><option value=3>3</option><option value=4>4</option><option value=5>5</option></select>"
                                          +"</div><div class='form-group col-3'><select  id='sel3' onchange='eselected3("+number+");'class='perset-select"+number+" form-control form-control-sm input-rounded input-excs-cart'>"
                                          +"<option selected='selected'>횟수</option><option value=5>5</option><option value=10>10</option><option value=15>15</option><option value=20>20</option><option value=25>25</option></select>"
                                          +"</div><div class='col-2 center pt-2'><a class='a"+number+"' href='javascript:removeadd("+number+");'><i class='mdi mdi-minus'></i></a></div>"
                                          +"<input type='hidden' class='kind"+number+"' name='routineJoinDtoList["+number+"].excs_kind' value='"+obj.excs_kind+"'>"
                                          +"<input type='hidden' class='seq"+number+"' name='routineJoinDtoList["+number+"].excs_seq' value='"+obj.excs_seq+"'>"
                                          +"<input class='setinput"+number+"' type='hidden' name='routineJoinDtoList["+number+"].routine_set'>"
                                          +"<input class='persetinput"+number+"' type='hidden' name='routineJoinDtoList["+number+"].routine_reps_per_set'>"
                                          +"</div>"
                                          );                              
                                 }
                                 number++;   
                           });
                              
                         }
                      }
                     );    
            }
            
            /**
			* @함수명 : removeadd(num)
			* @작성일 : 2020. 7. 15.
			* @작성자 : 김덕기
			* @설명 : 추가한 운동을 삭제시킨다
			* @param num - 운동 인덱스			 
			**/
            function removeadd(num){            
               $(".cn"+num+"").remove();
               
               for(let i=1; i < number; i++) {
                  
                  $("div.cn"+(num+i)+"").attr("class", "row cart-item-card mb-3 cn"+(num+(i-1))+"");
                  $("select.hour-select"+(num+i)+"").attr({class: "form-control form-control-sm input-rounded input-excs-cart hour-select"+(num+(i-1))+"",
                                                                                       onchange : "eselected1("+(num+(i-1))+")"
                                                                                       });
                  $("select.perset-select"+(num+i)+"").attr({class : "set-select"+(num+(i-1))+" form-control form-control-sm input-rounded input-excs-cart",
                                                onchange : "eselected2("+(num+(i-1))+")"
                                                })
                  $("select.set-select"+(num+i)+"").attr({class : "perset-select"+(num+(i-1))+" form-control form-control-sm input-rounded input-excs-cart",
                                                onchange : "eselected3("+(num+(i-1))+")"
                                                })
                  $("a.a"+(num+i)+"").attr({class : "a"+(num+(i-1))+"",
                                      href : "javascript:removeadd("+(num+(i-1))+")"   
                                                  
                                       });
      
                  $(".kind"+(num+i)+"").attr({name : "routineJoinDtoList["+(num+(i-1))+"].excs_kind",
                                      class : "kind"+(num+(i-1))+""
                                       });
                  $(".seq"+(num+i)+"").attr({name : "routineJoinDtoList["+(num+(i-1))+"].excs_seq",
                                      class : "seq"+(num+(i-1))+""
                                       });
                  $(".hourinput"+(num+i)+"").attr({name : "routineJoinDtoList["+(num+(i-1))+"].routine_exercise_hour",
                                      class : "hourinput"+(num+(i-1))+""
                                       }); 
                  $(".setinput"+(num+i)+"").attr({name : "routineJoinDtoList["+(num+(i-1))+"].routine_set",
                                      class : "setinput"+(num+(i-1))+""
                                       }); 
                  $(".persetinput"+(num+i)+"").attr({name : "routineJoinDtoList["+(num+(i-1))+"].routine_reps_per_set",
                                      class : "persetinput"+(num+(i-1))+""
                                       }); 
                  
               }
               number--;
            }
            
            /**
			* @함수명 : eselected1(number)
			* @작성일 : 2020. 7. 15.
			* @작성자 : 김덕기
			* @설명 : 유산소 시간을 선택했을 때 input의 속성을 추가하기
			* @param number - 운동 인덱스					 
			**/
            function eselected1(number){
               var eselect = $('select.hour-select'+number+' option:selected').val();
               $("input.hourinput"+number+"").attr('value', eselect);                          
            }
			
			 /**
			* @함수명 : eselected2(number)
			* @작성일 : 2020. 7. 15.
			* @작성자 : 김덕기
			* @설명 : 무산소 세트를 선택했을 때 input의 속성을 추가하기
			* @param number - 운동 인덱스					 
			**/
            function eselected2(number){
               var eselect = $('select.set-select'+number+' option:selected').val();
               $("input.setinput"+number+"").attr('value', eselect);               
            }
			
			
			 /**
			* @함수명 : eselected3(number)
			* @작성일 : 2020. 7. 15.
			* @작성자 : 김덕기
			* @설명 : 무산소 횟수를 선택했을 때 input의 속성을 추가하기
			* @param number - 운동 인덱스					 
			**/
            function eselected3(number){
               var eselect = $('select.perset-select'+number+' option:selected').val();
               $("input.persetinput"+number+"").attr('value', eselect);
               
            }
 
            
            $('#makeRoutine').click(function() {
               if(number == 0) {
                  alert("운동을 선택해주세요.")
                  return false;
               }
               
               for(let i = 0; i < number; i++) {
                  if( $("input.hourinput"+i+"").val() == 0) {
                     alert("시간을 선택해주세요.")
                     return false;
                  }
                  if($("input.setinput"+i+"").val() == 0) {
                     alert("세트 수를 선택해주세요.")
                     return false;
                  }
                  if($("input.persetinput"+i+"").val() ==0){
                     alert("횟수를 선택해주세요.")
                     return false;
                  }
               }
               
               if($('#routine_cart_title').val() == '') {
                  alert("제목을 입력해주세요.")
                  return false;
               }
               swal("성공", "루틴이 추가되었습니다.", "success");
               
               setTimeout(function() {
               $('#routineForm')[0].submit();
               }, 1000);
               
              });      

      </script>
</th:block>