
<th:block th:fragment="scriptFragment">
	<!--**********************************
        Scripts
    ***********************************-->
	<script src="assets/plugins/common/common.min.js"></script>
	<script src="assets/js/custom.min.js"></script>
	<script src="assets/js/settings.js"></script>
	<script src="assets/js/gleek.js"></script>
	<script src="assets/js/styleSwitcher.js"></script>

	<!-- Chartjs -->
	<script src="assets/plugins/chart.js/Chart.bundle.min.js"></script>
	<!-- Circle progress -->
	<script src="assets/plugins/circle-progress/circle-progress.min.js"></script>
	<!-- Datamap -->
	<script src="assets/plugins/d3v3/index.js"></script>
	<script src="assets/plugins/topojson/topojson.min.js"></script>
	<script src="assets/plugins/datamaps/datamaps.world.min.js"></script>
	<!-- Morrisjs -->
	<script src="assets/plugins/raphael/raphael.min.js"></script>
	<script src="assets/plugins/morris/morris.min.js"></script>
	<!-- Pignose Calender -->
	<script src="assets/plugins/moment/moment.min.js"></script>
	<script src="assets/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
	<!-- ChartistJS -->
	<script src="assets/plugins/chartist/js/chartist.min.js"></script>
	<script
		src="assets/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>
	<!-- SummerNote -->
	<script src="assets/plugins/summernote/dist/summernote.min.js"></script>
	<script src="assets/plugins/summernote/dist/summernote-init.js"></script>



    <script src="assets/pretty-event-calendar/src/calendar.js"></script>
    <script src="assets/plugins/wnumb/wNumb.js"></script>
    <script src="assets/js/plugins-init/nouislider-init.js"></script>
    
  
    <!-- 데이트피커 관련 js -->
    <script src="assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
     <script src="assets/plugins/moment/moment.js"></script>
    <script src="assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="assets/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="assets/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
    <script src="assets/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
    <script src="assets/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="assets/js/plugins-init/form-pickers-init.js"></script>
	<script src="assets/js/dashboard/dashboard-1.js"></script>

	
	<!-- 이벤트 캘린더 -->
	<script src="assets/pretty-event-calendar/src/calendar.js"></script>
	<script src="assets/plugins/wnumb/wNumb.js"></script>
	<script src="assets/js/plugins-init/nouislider-init.js"></script>

	<!-- 데이트피커 관련 js -->
	<script src="assets/plugins/timepicker/bootstrap-timepicker.min.js"></script>
	<script
		src="assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="assets/plugins/moment/moment.js"></script>
	<script
		src="assets/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
	<!-- Clock Plugin JavaScript -->
	<script src="assets/plugins/clockpicker/dist/jquery-clockpicker.min.js"></script>
	<!-- Color Picker Plugin JavaScript -->
	<script
		src="assets/plugins/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
	<script
		src="assets/plugins/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
	<script
		src="assets/plugins/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
	<!-- Date Picker Plugin JavaScript -->
	<script
		src="assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
	<script src="assets/js/plugins-init/form-pickers-init.js"></script>
	
	<!-- masonry -->
	<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
	<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
	
	<!-- sweetalert -->
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<script>

       var now = new Date();
       var year = now.getFullYear();
       var month = now.getMonth() + 1;
       var date = now.getDate();
      
       var email = {'user_email' : $('#user_email').val()};
	   var data = [];
       
       $.ajax(
				 {
					 type:"get",
					 data: email,
					 url:"getBodiaryList",
					 dataType:"json",
					 success:function(responsedata){ 
						
						$.each(responsedata,function(index,obj){
							console.log(obj.diary_date+" / " +obj.diary_seq);
							
							console.log("모멘트 : " +moment(obj.diary_date).format("YYYY-MM-DD"));
							
							
							data.push({date : moment(obj.diary_date).format("YYYY-MM-DD"),
										value : "myBodiaryDetail?diary_seq="+obj.diary_seq});
							
							
						});
						console.log(data);
						
						 
					 	
				 },
				 complete : function(responsedata) {
					 $('#eventCalendar').calendar({
						 
		                  // view: 'month',
		                
		                  // startWeek: 0,
		                  // selectedRang: [new Date(), null],
		                  data: data,
		                  monthArray: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
		                  onSelected: function (view, date, data) {
		                      console.log('view:' + view)
		                      console.log('date:' + date)
		                      console.log('data:' + (data))
		                      if(data != null) {
		                    	  location.href=data; 
		                    	  /*  console.log($(this).attr('data-calendar-day'));
		                    	  console.log(moment(date).format("YYYY/M/DD"));
		                    	   if(moment(date).format("YYYY/M/DD") == $(this).attr('data-calendar-day')) {
		                    		   $(this).attr('class', 'selected');
		                    	   } */
		                      }
		                   
		                      
		                  },
		                  viewChange: function (view, y, m) {
		                      console.log(view, y, m)

		                  }
		              });   
	        		} 


	
				 });
       
            
  
    </script>

</th:block>